Repository GregTechCEu/GregTech-Modern, pull requests merged in 2024-10, with the labels that each got.

#2064 Remove any connected miner pipes when the machine is removed
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/MinerMachine.java
Labels: type: bugfix

#2024 Add missing flags for materials
  src/main/java/com/gregtechceu/gtceu/common/data/materials/ElementMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/FirstDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/HigherDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/SecondDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/UnknownCompositionMaterials.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/ToolRecipeHandler.java
Labels: type: bugfix

#2078 Yeet Sand from OreVeins
  src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
Labels: type: feature

#2082 Output Line Infinite formatting
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
Labels: type: bugfix

#2087 AE2 Integration: Use smart cable connection type for ME Connected blocks
  gradlew
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/feature/IGridConnectedMachine.java
Labels: type: bugfix

#2090 Missing progress lang for some multis
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CleanroomMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/PowerSubstationMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/SteamParallelMultiblockMachine.java
Labels: type: bugfix

#2091 Give torch placing a sound
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/TorchPlaceBehavior.java
Labels: type: feature

#2092 Fix fluid drilling rig not working with 2 hatches
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/FluidDrillLogic.java
Labels: type: bugfix

#2093 Port of 1.12 hard ebf recipe
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
Labels: type: feature

#2094 Fix Wooden sign recipes
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
Labels: type: bugfix

#2095 Stone tags and LPG localisation
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/data/forge/tags/blocks/cobblestone.json
  src/generated/resources/data/forge/tags/blocks/stone.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: bugfix

#2075 Add more interactions + fixes for Lighter
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/LighterBehavior.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: bugfix

#2112 Revamp Workflows for Optimal Productivity
  .github/actions/build_setup/action.yml
  .github/json/config-latest.json
  .github/json/config.json
  .github/workflows/auto-build.yml
  .github/workflows/build-on-push.yml
  .github/workflows/changelog.yml
  .github/workflows/clean.yml
  .github/workflows/format-java.yml
  .github/workflows/manage-pr-labels.yml
  .github/workflows/publish-on-release.yml
  .github/workflows/publish.yml
  .github/workflows/sync.yml
  .github/workflows/update-gradle-cache.yml
  gradle/scripts/resources.gradle
  src/main/templates/META-INF/mods.toml
Labels: ignore changelog

#2107 Change Wooden Multiblock Tank recipe to use copper instead of lead
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
Labels: type: refactor

#2108 Allow Steam Multiblocks to have variable parallel amounts
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/SteamParallelMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: refactor

#2119 Fix Assembly Line ordering for certain orientations
  src/main/java/com/gregtechceu/gtceu/api/pattern/util/RelativeDirection.java
Labels: type: bugfix

#2102 Fix Gem downcrafting recipes
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
Labels: type: bugfix

#2098 Refactor and add missing sign & trapdoor recipes
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
Labels: type: refactor

#2111 Add tags for GT components
  src/generated/resources/data/gtceu/tags/items/conveyor_modules.json
  src/generated/resources/data/gtceu/tags/items/electric_motors.json
  src/generated/resources/data/gtceu/tags/items/electric_pistons.json
  src/generated/resources/data/gtceu/tags/items/electric_pumps.json
  src/generated/resources/data/gtceu/tags/items/emitters.json
  src/generated/resources/data/gtceu/tags/items/field_generators.json
  src/generated/resources/data/gtceu/tags/items/fluid_regulators.json
  src/generated/resources/data/gtceu/tags/items/robot_arms.json
  src/generated/resources/data/gtceu/tags/items/sensors.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/data/tags/ItemTagLoader.java
Labels: type: feature

#2105 Fix Recipe NBT Serialization
  src/main/java/com/gregtechceu/gtceu/syncdata/GTRecipePayload.java
Labels: type: bugfix

#2129 Workflow fix
  .github/json/config-latest.json
  .github/workflows/publish-on-release.yml
  .github/workflows/publish.yml
Labels: ignore changelog

#2113 Revamp Workflows for 1.21
  .github/actions/build_setup/action.yml
  .github/config-latest.json
  .github/config.json
  .github/json/config-latest.json
  .github/json/config.json
  .github/workflows/auto-build.yml
  .github/workflows/auto-publish.yml
  .github/workflows/build-on-push.yml
  .github/workflows/changelog.yml
  .github/workflows/clean.yml
  .github/workflows/format-java.yml
  .github/workflows/manage-pr-labels.yml
  .github/workflows/publish-on-release.yml
  .github/workflows/publish.yml
  .github/workflows/sync.yml
  .github/workflows/update-gradle-cache.yml
  gradle/scripts/resources.gradle
  src/main/templates/META-INF/neoforge.mods.toml
Labels: ignore changelog

#2128 Fix Drum Item fluid property handling
  src/main/java/com/gregtechceu/gtceu/api/item/DrumMachineItem.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
Labels: type: bugfix

#2126 Add in-line filtering for item and fluid pipes
  src/main/java/com/gregtechceu/gtceu/common/cover/FluidFilterCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ItemFilterCover.java
Labels: type: feature

#2125 Misc Recipe Fixes
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeRemoval.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/BrewingRecipes.java
Labels: type: bugfix

#2097 Rubber Wood/Log Fixes
  src/generated/resources/data/gtceu/tags/items/rubber_logs.json
  src/main/java/com/gregtechceu/gtceu/common/block/RubberLogBlock.java
  src/main/java/com/gregtechceu/gtceu/common/block/RubberWoodBlock.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CraftingRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
Labels: type: bugfix

#2131 Fix Frame Block being deleted upon shift-click with pipe
  src/main/java/com/gregtechceu/gtceu/api/block/MaterialBlock.java
Labels: type: bugfix

#2134 Fix Heat Capacity not showing in ABS and EBF
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCyMMachines.java
Labels: type: bugfix

#1990 Add Storage Cover
  src/generated/resources/assets/gtceu/compass/nodes/covers/storage_cover.json
  src/generated/resources/assets/gtceu/compass/nodes/materials/frame.json
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/assets/gtceu/models/item/storage_cover.json
  src/main/java/com/gregtechceu/gtceu/api/cover/CoverBehavior.java
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/IFancyUIMachine.java
  src/main/java/com/gregtechceu/gtceu/common/cover/StorageCover.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTCovers.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/resources/assets/gtceu/textures/block/cover/storage_cover.png
  src/main/resources/assets/gtceu/textures/item/storage_cover.png
Labels: type: feature

#2133 Fix Debrominated brine not having any usage
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/BrineRecipes.java
Labels: type: bugfix

#2132 Add placable surface rock items
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/item/SurfaceRockBlockItem.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/block/SurfaceRockRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/block/SurfaceRockBlock.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
  src/main/resources/assets/gtceu/models/block/surface_rock.json
Labels: type: feature

#2003 Rework Pump Machine logic to fix issues
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/PumpMachine.java
Labels: type: refactor

#2135 Change changelog configs to use @s
  .github/json/config-latest.json
  .github/json/config.json
Labels: ignore changelog

#2137 Change changelog configs to use ats
  .github/config-latest.json
  .github/config.json
  .github/json/config-latest.json
  .github/json/config.json
Labels: ignore changelog

#2139 Add back backwards compatibility for the SteamParallelMultiblock constructor
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/SteamParallelMultiblockMachine.java
Labels: type: bugfix

#2141 Fix voltage floor formula causing negative values
  src/main/java/com/gregtechceu/gtceu/utils/GTUtil.java
Labels: type: bugfix

#2140 Aisle Repetition Storage
  src/main/java/com/gregtechceu/gtceu/api/pattern/BlockPattern.java
Labels: type: feature

#2142 Copy the EBF's temperature tooltip to the ABS and RHF
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCyMMachines.java
Labels: type: feature

#2144 Add cutting recipe for stained glass panes
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
Labels: type: feature

#2143 Fix insertion and extraction of rotors in rotor holders
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeTurbineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/RotorHolderPartMachine.java
Labels: type: bugfix

#2145 Add ability to set ghost circuit using held circuit item
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/item/IntCircuitBehaviour.java
  src/main/java/com/gregtechceu/gtceu/data/lang/ItemLang.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: feature

#2146 Fix Lighter ground behavior
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/LighterBehavior.java
Labels: type: bugfix

#2148 Fix magnetic double plate overlay
  src/main/resources/assets/gtceu/models/item/material_sets/magnetic/plate_double.json
Labels: type: bugfix

#2155 Fix Surface Rock model in inventories and player
  src/main/resources/assets/gtceu/models/block/surface_rock.json
Labels: type: bugfix

#2152 fluid crafting table recipes
  src/main/java/com/gregtechceu/gtceu/api/recipe/ShapedEnergyTransferRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ShapedFluidContainerRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/FluidContainerIngredient.java
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTFluids.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ShapedRecipeAccessor.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/VanillaRecipeHelper.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/ShapedFluidContainerRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CraftingRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
  src/main/java/com/gregtechceu/gtceu/utils/GTUtil.java
  src/main/java/com/gregtechceu/gtceu/utils/InfiniteFluidTransfer.java
Labels: type: feature

#2077 Fix various recipe and item issues
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/data/minecraft/tags/blocks/mineable/axe.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterials.java
  src/main/java/com/gregtechceu/gtceu/data/lang/BlockLang.java
  src/main/java/com/gregtechceu/gtceu/data/lang/ItemLang.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/WoodTypeEntry.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeRemoval.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/BatteryRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CraftingRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/FusionLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/GCyMRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MiscRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/PolymerRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/ReactorRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/tags/BlockTagLoader.java
Labels: type: bugfix

#2156 Fix various Cleanroom issues
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CleanroomMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/CleanroomLogic.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ForgeHooksMixin.java
  src/main/resources/gtceu.mixins.json
Labels: type: bugfix

#2153 update KJS to latest dev build
  settings.gradle
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeType.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/RecipeManagerEarlyMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/RecipeManagerLateMixin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GTKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
  src/main/resources/gtceu.mixins.json
Labels: type: refactor

#2158 Fixed milk crash
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTFluids.java
Labels: type: bugfix

#2163 Fix progress bar textures
  src/main/java/com/gregtechceu/gtceu/api/gui/GuiTextures.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/resources/assets/gtceu/textures/gui/progress_bar/progress_bar_assembler.png
  src/main/resources/assets/gtceu/textures/gui/progress_bar/progress_bar_circuit.png
  src/main/resources/assets/gtceu/textures/gui/progress_bar/progress_bar_circuit_assembler.png
Labels: type: bugfix

#2161 Fix FoodStats tooltip
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/item/component/FoodStats.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/utils/GTUtil.java
Labels: type: bugfix

#2165 Last minute fixes
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MiscRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
Labels: ignore changelog

#2168 Update publish.yml
  .github/workflows/publish.yml
Labels: ignore changelog

#2170 Sync Workflows
  .github/workflows/publish.yml
Labels: ignore changelog

#2173 Release for 1.20.1
  CHANGELOG.md
  gradle.properties
Labels: ignore changelog

#2172 Release 1.21
  CHANGELOG.md
  gradle.properties
Labels: ignore changelog

#2176 Fix NPE caused by filter not loading properly on cover
  src/main/java/com/gregtechceu/gtceu/common/cover/FluidFilterCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ItemFilterCover.java
Labels: type: bugfix

#2175 Add Programmed Circuits to GTEmiRecipe Catalysts
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
Labels: type: feature

#2177 Fix issues with serialization
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/FluidContainerIngredient.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/condition/DimensionCondition.java
Labels: type: bugfix

#2178 Cherrypick and fix KJS
  gradle/scripts/resources.gradle
  settings.gradle
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/common/cover/FluidFilterCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ItemFilterCover.java
Labels: ignore changelog

#2181 Release for 1.20.1
  CHANGELOG.md
  gradle.properties
Labels: ignore changelog

#2182 Release for 1.21
  CHANGELOG.md
  gradle.properties
Labels: ignore changelog

#2184 update LDLib to fix server freezing sometimes (and various other issues)
  settings.gradle
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/ProspectingMapWidget.java
  src/main/java/com/gregtechceu/gtceu/api/pattern/MultiblockWorldSavedData.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
Labels: type: bugfix

#2197 Refactor configs for vanilla recipes
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeRemoval.java
Labels: type: refactor

#2186 Fix cuboid & classic ore vein generators
  src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreDefinition.java
  src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/veins/ClassicVeinGenerator.java
  src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/veins/CuboidVeinGenerator.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
Labels: type: feature

#2205 Fix Research Stations allowing more than two energy hatches
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTResearchMachines.java
Labels: type: bugfix

#2207 Add capacities of substation capacitors to their descriptions
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/block/BatteryBlock.java
  src/main/java/com/gregtechceu/gtceu/data/lang/BlockLang.java
Labels: type: feature

#2191 Update zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation

#2188 Update Japanese translate
  src/main/resources/assets/gtceu/lang/ja_jp.json
Labels: type: translation

#2211 fix ECE oxygen boosting
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/research/ResearchStationMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeCombustionEngineMachine.java
Labels: type: bugfix

#2183 Gem to dust Maceration
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/RecyclingRecipeHandler.java
Labels: type: bugfix

#2192 Fix a couple of readme links
  README.md
Labels: ignore changelog

#2193 Update 1.21 readme to match 1.20 readme
  README.md
Labels: ignore changelog

#2223 fix Large Bronze Boiler GUI
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IDisplayUIMachine.java
Labels: type: bugfix

#2225 Machine Ownership Config Wording
  src/main/java/com/gregtechceu/gtceu/api/block/MetaMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: bugfix

#2230 Fix Power Substation inworld preview
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
Labels: type: bugfix

#2233 Change EV-tier Voltage Coil material to Platinum
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/AssemblerRecipeLoader.java
  src/main/resources/assets/gtceu/textures/item/ev_voltage_coil.png
Labels: type: refactor

#2236 Update zh_tw.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: translation

#2047 Renames GCYM classes to proper capitalization
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/info/MaterialFlags.java
  src/main/java/com/gregtechceu/gtceu/common/data/GCYMBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/data/GCYMRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipes.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCYMMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/GCYMMaterials.java
  src/main/java/com/gregtechceu/gtceu/data/lang/BlockLang.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/GCYMRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/alloyblast/AlloyBlastRecipeProducer.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
Labels: 1.20, type: refactor

#2239 Fix Power Substation display when there is no input or output
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/PowerSubstationMachine.java
Labels: type: bugfix

#2247 Fix multiblock strcuture checking
  src/main/java/com/gregtechceu/gtceu/core/mixins/ChunkMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ForgeHooksMixin.java
  src/main/resources/gtceu.mixins.json
Labels: type: bugfix

#2242 Remove useless line from `GTRecipeSchema`
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
Labels: ignore changelog

#2244 Fix Aluminium Cell not showing Fluid
  src/main/resources/assets/gtceu/models/item/aluminium_fluid_cell.json
Labels: type: bugfix

#2241 Modified to prevent things like extruder/solidifier molds from auto-filling ae2 patterns
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
Labels: type: feature

#2243 Fixed input output mismatch in input bus/hatch lang entries
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: bugfix

#2220 Rewrite OreDictExprFilter to fix tag filter functionality
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/TagFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/TagFluidFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/TagItemFilter.java
  src/main/java/com/gregtechceu/gtceu/utils/OreDictExprFilter.java
  src/main/java/com/gregtechceu/gtceu/utils/TagExprFilter.java
Labels: type: refactor

#2259 Research Station OC Fix
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/RecipeModifierList.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/research/HPCAMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/research/ResearchStationMachine.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: bugfix

#2249 Hide converters if they're disabled
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
Labels: type: feature

#2256 Power Substation UI Coloring
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/PowerSubstationMachine.java
  src/main/java/com/gregtechceu/gtceu/data/lang/MachineLang.java
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: feature
