Repository GregTechCEu/GregTech-Modern, pull requests merged in 2024-09, with the labels that each got.

#1862 Fix reslocs for several autogenerated recipes
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/OreRecipeHandler.java
Labels: type: refactor

#1866 Change Maintenance Hatch Recipe
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
Labels: type: bug

#1859 fix fluid output slots only allowing *filling* instead of *emptying*
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
Labels: type: bug

#1860 treated wood planks tag fix & generic recipe input
  src/generated/resources/data/forge/tags/blocks/concrete.json
  src/generated/resources/data/forge/tags/blocks/concrete_powder.json
  src/generated/resources/data/forge/tags/blocks/concrete_powders.json
  src/generated/resources/data/forge/tags/blocks/concretes.json
  src/generated/resources/data/forge/tags/blocks/end_stone_ore_replaceables.json
  src/generated/resources/data/forge/tags/blocks/treated_wood.json
  src/generated/resources/data/forge/tags/items/concrete_powders.json
  src/generated/resources/data/forge/tags/items/concretes.json
  src/generated/resources/data/forge/tags/items/dyes/brown.json
  src/generated/resources/data/forge/tags/items/lenses/blue.json
  src/generated/resources/data/forge/tags/items/lenses/green.json
  src/generated/resources/data/forge/tags/items/lenses/light_blue.json
  src/generated/resources/data/forge/tags/items/lenses/purple.json
  src/generated/resources/data/forge/tags/items/lenses/red.json
  src/generated/resources/data/forge/tags/items/lenses/white.json
  src/generated/resources/data/gtceu/tags/items/batteries.json
  src/generated/resources/data/gtceu/tags/items/circuits.json
  src/generated/resources/data/minecraft/tags/blocks/mineable/axe.json
  src/generated/resources/data/minecraft/tags/blocks/planks.json
  src/generated/resources/data/minecraft/tags/blocks/replaceable.json
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/ChemicalHelper.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/item/ColorSprayBehaviour.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/miner/MinerLogic.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CraftingComponent.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CraftingRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MiscRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/SeparationRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/tags/BlockTagLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/ItemTagLoader.java
Labels: type: bug, type: refactor

#1851 rework low tier circuit texture to consistently represent tier and pr…
  src/main/resources/assets/gtceu/textures/item/advanced_integrated_circuit.png
  src/main/resources/assets/gtceu/textures/item/basic_electronic_circuit.png
  src/main/resources/assets/gtceu/textures/item/good_electronic_circuit.png
  src/main/resources/assets/gtceu/textures/item/good_integrated_circuit.png
  src/main/resources/assets/gtceu/textures/item/microchip_processor.png
  src/main/resources/assets/gtceu/textures/item/nand_chip.png
Labels: type: refactor

#1852 Fix OutputItems in kubeJS stripping NBT
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/components/ExtendedOutputItem.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/components/GTRecipeComponents.java
Labels: type: bug

#1983 Steam Turbine Fix
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ParallelLogic.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeTurbineMachine.java
Labels: type: bug

#1969 Add Compressor recipe for snow balls -> snow
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
Labels: type: feature

#2034 add some actions that'll come in handy later
  .github/workflows/clean.yml
  .github/workflows/manage-pr-labels.yml
Labels: ignore changelog

#2057 Replace wrench with plate in bender recipe
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
Labels: type: feature

#1970 Machine Ownership
  dependencies.gradle
  settings.gradle
  src/generated/resources/assets/gtceu/compass/nodes/materials/frame.json
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/data/minecraft/tags/blocks/logs_that_burn.json
  src/generated/resources/data/minecraft/tags/items/logs_that_burn.json
  src/main/java/com/gregtechceu/gtceu/GTCEu.java
  src/main/java/com/gregtechceu/gtceu/api/GTValues.java
  src/main/java/com/gregtechceu/gtceu/api/block/IMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/api/block/MetaMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/api/blockentity/MetaMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/machine/IMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/blockentity/KineticMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/item/PortableScannerBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/ArgonautsOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/FTBOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/IMachineOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/PlayerOwner.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
Labels: type: feature

#2055 Give coils an actual EU discount in EBF
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeModifiers.java
Labels: type: feature, fix

#2058 Fix Steam Multiblocks allowing greater than LV recipes
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/SteamParallelMultiblockMachine.java
Labels: type: bug

#2061 Update tooltip capitalization for consistency
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/ItemLang.java
Labels: Bugfix

#2062 Update manage-pr-labels.yml
  .github/workflows/manage-pr-labels.yml
Labels: type: refactor

#2056 Misc recipe fixes
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
Labels: Bugfix

#2043 update ldlib on 1.21
  gradle.properties
  settings.gradle
  src/main/java/com/gregtechceu/gtceu/api/gui/editor/MachineUIProject.java
  src/main/java/com/gregtechceu/gtceu/api/gui/editor/RecipeTypeUIProject.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/PatternPreviewWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/list/AEFluidDisplayWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/slot/AEFluidConfigSlotWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/slot/AEItemConfigSlotWidget.java
Labels: type: bugfix

#2067 Torch Behaviour, now with less duping
  src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/TorchPlaceBehavior.java
Labels: type: bugfix

#2048 Multiblock Display Text for Outputs
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IDisplayUIMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/WorkableElectricMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/utils/FormattingUtil.java
Labels: type: feature

#2045 Fix broken treated wood recipes
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
Labels: type: bugfix

#2041 Remove #forge:seeds seed oil recipe
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/SeparationRecipes.java
Labels: type: bug
