Repository GregTechCEu/GregTech-Modern, pull requests merged in 2024-11, with the labels that each got.

#2272 Mixin Crash JSON
  src/main/resources/gtceu.mixins.json
Labels: ignore changelog

#2275 Replace the Tungstensteel heating components with RTM Alloy
  src/main/java/com/gregtechceu/gtceu/data/recipe/CraftingComponent.java
Labels: type: refactor

#2276 OP Bypass for machine ownership
  src/main/java/com/gregtechceu/gtceu/api/block/MetaMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: feature

#2265 Filter Fix
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/Filter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/FluidFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/ItemFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/SimpleFluidFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/SimpleItemFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/TagFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/TagFluidFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/TagItemFilter.java
  src/main/java/com/gregtechceu/gtceu/data/tag/GTDataComponents.java
Labels: 1.21

#2261 Add selective voiding and ME hatch capabillity to Distillation Tower multiblocks
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/EURecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCYMMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/DistillationTowerMachine.java
  src/main/resources/assets/gtceu/textures/gui/progress_bar/progress_bar_distillation_tower.png
  src/main/resources/assets/gtceu/textures/gui/progress_bar/progress_bar_distillation_tower_bubbles.png
  src/main/resources/assets/gtceu/textures/gui/progress_bar/progress_bar_distillation_tower_coil.png
  src/main/resources/assets/gtceu/ui/recipe_type/distillation_tower.rtui
Labels: type: feature

#2274 Recipe Categories
  settings.gradle
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/gui/GuiTextures.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeSerializer.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeType.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/category/GTRecipeCategory.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/lookup/GTRecipeLookup.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ui/GTRecipeTypeUI.java
  src/main/java/com/gregtechceu/gtceu/api/registry/GTRegistries.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeCategories.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeTurbineMachine.java
  src/main/java/com/gregtechceu/gtceu/data/lang/ItemLang.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/RecyclingRecipes.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/GTEMIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTEmiRecipe.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTRecipeEMICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTRecipeTypeEmiCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/GTJEIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/recipe/GTRecipeJEICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/recipe/GTRecipeTypeCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/GTREIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/recipe/GTRecipeDisplay.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/recipe/GTRecipeREICategory.java
  src/main/resources/assets/gtceu/textures/gui/icon/arc_furnace_recycling.png
  src/main/resources/assets/gtceu/textures/gui/icon/extractor_recycling.png
  src/main/resources/assets/gtceu/textures/gui/icon/macerator_recycling.png
Labels: type: feature

#2287 Combustion Engine Logic Fixes
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeCombustionEngineMachine.java
Labels: type: bugfix

#2288 Fix Cables emitting smoke on first tick
  src/main/java/com/gregtechceu/gtceu/common/blockentity/CableBlockEntity.java
Labels: type: bugfix

#2301 Update zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation

#2309 Change Jade to show Steam usage
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/SteamParallelMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/MEPatternBufferProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/MEPatternBufferProxyProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/RecipeLogicProvider.java
Labels: type: refactor

#2306 Fix Smelting recipes being duplicated due to FURNACE_RECIPES
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTRecipeEMICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/recipe/GTRecipeJEICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/recipe/GTRecipeREICategory.java
Labels: type: bugfix

#2305 Fix miscalculation of max parallel by output for non-64 stacked items
  src/main/java/com/gregtechceu/gtceu/utils/OverlayedItemHandler.java
Labels: type: bugfix

#2298 Add BlastBuilder and Vacuum Freezer recipe overrides
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/BlastProperty.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/ElementMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/FirstDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/GCYMMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/HigherDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/SecondDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
Labels: type: feature

#2303 Swap crafting component for Laser Input/Output Hatches
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
Labels: type: refactor

#2308 Removes the old PA config
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: refactor

#2307 Refactor CleaningMaintenanceHatch
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/CleaningMaintenanceHatchPartMachine.java
Labels: type: refactor

#2222 Increase density of Realgar in Copper/Tin Veins
  src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
Labels: type: feature

#2312 Fix tape slot in Maintenance Hatches
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/MaintenanceHatchPartMachine.java
Labels: type: bugfix

#2316 Update manage-pr-labels.yml
  .github/workflows/manage-pr-labels.yml
Labels: ignore changelog

#2299 Flip Red and Blue Steel composition and usage
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/HigherDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/SecondDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CraftingComponent.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/BatteryRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/ChemicalBathRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/MixerRecipes.java
  src/main/resources/assets/gtceu/textures/item/ev_battery_hull.png
  src/main/resources/assets/gtceu/textures/item/ev_vanadium_battery/1.png
  src/main/resources/assets/gtceu/textures/item/ev_vanadium_battery/2.png
  src/main/resources/assets/gtceu/textures/item/ev_vanadium_battery/3.png
  src/main/resources/assets/gtceu/textures/item/ev_vanadium_battery/4.png
  src/main/resources/assets/gtceu/textures/item/ev_vanadium_battery/5.png
  src/main/resources/assets/gtceu/textures/item/ev_vanadium_battery/6.png
  src/main/resources/assets/gtceu/textures/item/ev_vanadium_battery/7.png
  src/main/resources/assets/gtceu/textures/item/ev_vanadium_battery/8.png
  src/main/resources/assets/gtceu/textures/item/luv_battery_hull.png
  src/main/resources/assets/gtceu/textures/item/luv_vanadium_battery/1.png
  src/main/resources/assets/gtceu/textures/item/luv_vanadium_battery/2.png
  src/main/resources/assets/gtceu/textures/item/luv_vanadium_battery/3.png
  src/main/resources/assets/gtceu/textures/item/luv_vanadium_battery/4.png
  src/main/resources/assets/gtceu/textures/item/luv_vanadium_battery/5.png
  src/main/resources/assets/gtceu/textures/item/luv_vanadium_battery/6.png
  src/main/resources/assets/gtceu/textures/item/luv_vanadium_battery/7.png
  src/main/resources/assets/gtceu/textures/item/luv_vanadium_battery/8.png
Labels: type: bugfix

#2311 Machine Pausing
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/capability/IControllable.java
  src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/IRecipeLogicMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/ToolModeSwitchBehavior.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: feature

#2293 Add Tier-Boosted Chance overlay and tooltip line in Recipe Viewers
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/RecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/Content.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ui/GTRecipeTypeUI.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/GTOreByProductWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/GTRecipeWidget.java
Labels: type: feature

#2313 Replace all usage of OreDict with modern's Tag
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/TagFilter.java
  src/main/java/com/gregtechceu/gtceu/api/pipenet/IMaterialPipeType.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/ItemCollectorMachine.java
  src/main/java/com/gregtechceu/gtceu/data/lang/ItemLang.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CraftingRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: refactor

#2315 Changed the gas-filter texture to be semi-isometric like circuits/lenses/etc
  src/main/resources/assets/gtceu/textures/item/mask_filter.png
Labels: type: refactor

#1984 Add Smart Filters
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/assets/gtceu/models/item/item_smart_filter.json
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/FilterHandler.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/SmartItemFilter.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/lookup/GTRecipeLookup.java
  src/main/java/com/gregtechceu/gtceu/common/cover/FluidFilterCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ItemFilterCover.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/common/item/FluidFilterBehaviour.java
  src/main/java/com/gregtechceu/gtceu/common/item/ItemFilterBehaviour.java
  src/main/java/com/gregtechceu/gtceu/data/lang/ItemLang.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CraftingRecipeLoader.java
  src/main/resources/assets/gtceu/textures/item/item_smart_filter.png
Labels: type: feature

#2318 Bump to 1.5.0
  gradle.properties
Labels: ignore changelog

#2321 Conncted texture bug fixes.
  src/main/resources/assets/gtceu/textures/block/casings/fusion/fusion_casing_mk2.png
  src/main/resources/assets/gtceu/textures/block/casings/fusion/fusion_casing_mk2_ctm.png
  src/main/resources/assets/gtceu/textures/block/casings/gcym/laser_safe_engraving_casing_ctm.png
Labels: type: bugfix

#2323 adds platinum spring
  src/main/java/com/gregtechceu/gtceu/common/data/materials/ElementMaterials.java
Labels: type: bugfix

#2322 Move some vanilla dye recipes to the Extractor
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeRemoval.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
Labels: type: refactor

#2319 Add waypoint creation in the prospector
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/ProspectingMapWidget.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: feature

#2324 Fix steam multiblock args
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/SteamParallelMultiblockMachine.java
Labels: type: bugfix

#2325 Fix NoClassFoundException when EMI was not installed
  src/main/java/com/gregtechceu/gtceu/api/recipe/ui/GTRecipeTypeUI.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTRecipeEMICategory.java
Labels: type: bugfix

#2326 Add extra tooltip for large turbines
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/MachineLang.java
Labels: type: feature

#2334 Fix large miner chunk tooltip
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
Labels: type: bugfix

#2333 Fix dedicated server loading client class
  src/main/java/com/gregtechceu/gtceu/client/forge/ForgeClientEventListener.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
Labels: type: bugfix

#2332 Fix Pump and Conveyor String format issue
  src/main/java/com/gregtechceu/gtceu/common/cover/ConveyorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/PumpCover.java
Labels: type: bugfix

#2331 Change LUV item naming convention in code
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CraftingComponent.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/ToolRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/BatteryRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CircuitRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/ComponentRecipes.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/orevein/GTBedrockFluidEmiCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/orevein/GTBedrockOreEmiCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/orevein/GTOreVeinEmiCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/orevein/GTBedrockFluidInfoCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/orevein/GTBedrockOreInfoCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/orevein/GTOreVeinInfoCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/orevein/GTBedrockFluidDisplayCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/orevein/GTBedrockOreDisplayCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/orevein/GTOreVeinDisplayCategory.java
  src/main/resources/assets/gtceu/compass/pages/en_us/components/electric_motor.xml
  src/main/resources/assets/gtceu/compass/pages/zh_cn/components/electric_motor.xml
Labels: type: refactor

#2330 Fix potential pipe collision NPE
  src/main/java/com/gregtechceu/gtceu/api/block/PipeBlock.java
  src/main/java/com/gregtechceu/gtceu/common/block/CableBlock.java
  src/main/java/com/gregtechceu/gtceu/common/block/FluidPipeBlock.java
Labels: type: bugfix

#2337 Fix crash when dedicated server is being stopped
  src/main/java/com/gregtechceu/gtceu/client/forge/ForgeClientEventListener.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
Labels: type: bugfix

#2339 Fix filename sanitization in ClientCacheManager
  src/main/java/com/gregtechceu/gtceu/integration/map/ClientCacheManager.java
Labels: type: bugfix

#2341 Release for 1.20.1
  CHANGELOG.md
  gradle.properties
Labels: ignore changelog

#2348 Fix Recipe Serialization
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeSerializer.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeType.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/category/GTRecipeCategory.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/lookup/GTRecipeLookup.java
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeCategories.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/GTEMIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTRecipeEMICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/GTJEIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/recipe/GTRecipeJEICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/GTREIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/recipe/GTRecipeDisplay.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/recipe/GTRecipeREICategory.java
  src/main/java/com/gregtechceu/gtceu/utils/ResearchManager.java
Labels: type: bugfix

#2358 Lens Decomp and Tag fixes
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MiscRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/ItemTagLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/TagsHandler.java
Labels: type: bugfix

#2361 Fix Prospector Widget causing IndexOutOfBounds Exception
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/ProspectingMapWidget.java
Labels: type: bugfix

#2367 Fix Multiblocks not staying suspended on unform/reform
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
Labels: type: bugfix

#2369 Fix GTRecipePayload trying to call the Minecraft Server on Client Dist
  src/main/java/com/gregtechceu/gtceu/syncdata/GTRecipePayload.java
Labels: type: bugfix

#2346 Add and tweak various Recipe Categories
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeCategories.java
  src/main/java/com/gregtechceu/gtceu/data/lang/ItemLang.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/OreRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/PartsRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/DecorationRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MiscRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/RecyclingRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
Labels: type: feature

#2371 Release for 1.20.1
  CHANGELOG.md
  gradle.properties
Labels: ignore changelog

#2350 Make large miners mine upside down
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/LargeMinerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/miner/LargeMinerLogic.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/miner/MinerLogic.java
Labels: type: feature

#2355 Remove ability to machine magentized materials into magnetic parts
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/PartsRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/PolarizingRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/RecyclingRecipes.java
Labels: type: feature, type: refactor

#2359 Feature/fisher buff
  src/generated/resources/assets/gtceu/compass/nodes/machines/fisher.json
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/FisherMachine.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: feature

#2373 Add ghost circuit slot scroll input
  src/main/java/com/gregtechceu/gtceu/api/gui/fancy/ConfiguratorPanel.java
  src/main/java/com/gregtechceu/gtceu/api/gui/fancy/IFancyCustomClientActionHandler.java
  src/main/java/com/gregtechceu/gtceu/api/gui/fancy/IFancyCustomMiddleClickAction.java
  src/main/java/com/gregtechceu/gtceu/api/gui/fancy/IFancyCustomMouseWheelAction.java
  src/main/java/com/gregtechceu/gtceu/api/machine/fancyconfigurator/CircuitFancyConfigurator.java
Labels: type: feature

#2378 Fix battery timer
  src/main/java/com/gregtechceu/gtceu/api/item/component/ElectricStats.java
Labels: type: bugfix

#2380 Fixed ULV -> LV Showing a boosted chance for byproducts
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/Content.java
  src/main/java/com/gregtechceu/gtceu/integration/GTRecipeWidget.java
Labels: type: bugfix

#2381 mallet tooltip change
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: bugfix

#2383 Fixes Missing Drum fill sound
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/TankWidget.java
Labels: type: bugfix

#2384 Renamed config for machines exploding in weather from doTerrainExplos…
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/machine/TieredEnergyMachine.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/EnergyHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: bugfix

#2385 Readd Frame Box Climbing
  src/main/java/com/gregtechceu/gtceu/api/block/MaterialBlock.java
Labels: type: feature

#2386 Remove Distinct functionality from Output Parts
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IDistinctPart.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/DualHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ItemBusPartMachine.java
Labels: type: bugfix

#2387 rename converter configs back to euToFE from euToPlatformNative
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/capability/compat/EUToFEProvider.java
  src/main/java/com/gregtechceu/gtceu/api/capability/compat/FeCompat.java
  src/main/java/com/gregtechceu/gtceu/api/item/component/ElectricStats.java
  src/main/java/com/gregtechceu/gtceu/api/machine/SimpleTieredMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableEnergyContainer.java
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/BatteryBufferMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/BlockBreakerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/ChargerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/FisherMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/ItemCollectorMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/MinerMachine.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
Labels: type: refactor

#2388 Prospecting when Breaking Surface Rock
  src/main/java/com/gregtechceu/gtceu/common/block/SurfaceRockBlock.java
Labels: type: feature

#2417 Added config lang entry for jade steam boiler info provider
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: bugfix

#2343 Filter Cover Directionality
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/SimpleItemFilter.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/FluidTankProxyTrait.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableFluidTank.java
  src/main/java/com/gregtechceu/gtceu/api/misc/IOFluidHandlerList.java
  src/main/java/com/gregtechceu/gtceu/common/blockentity/FluidPipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/cover/FluidFilterCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ItemFilterCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/data/FilterMode.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/item/ItemNetHandler.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/item/ItemNetWalker.java
  src/main/resources/assets/gtceu/textures/gui/icon/filter_mode/filter_both.png
  src/main/resources/assets/gtceu/textures/gui/icon/filter_mode/filter_extract.png
  src/main/resources/assets/gtceu/textures/gui/icon/filter_mode/filter_insert.png
Labels: type: feature

#2390 Add Machine Pausing to specialized RecipeLogic classes
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/DistillationTowerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/BedrockOreMinerLogic.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/FluidDrillLogic.java
Labels: type: feature

#2391 Fix NVGs giving infinite effect
  src/main/java/com/gregtechceu/gtceu/common/item/armor/NightvisionGoggles.java
Labels: type: bugfix

#2402 Fix Item Tag Filter Null Pointer Exception
  src/main/java/com/gregtechceu/gtceu/utils/TagExprFilter.java
Labels: type: bugfix

#2403 Fix recipe category NPE
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTRecipeEMICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/recipe/GTRecipeJEICategory.java
Labels: type: bugfix

#2406 make large numbers not be localized by java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/utils/FormattingUtil.java
Labels: type: feature

#2407 Fixes Circuit Slot Scrolling Interactions
  src/main/java/com/gregtechceu/gtceu/api/machine/fancyconfigurator/CircuitFancyConfigurator.java
Labels: type: bugfix

#2421 Fix recipe fluid stack output crashing top users
  src/main/java/com/gregtechceu/gtceu/integration/top/TheOneProbePlugin.java
Labels: type: bugfix

#2423 Rework OverlayedFluidHandler to fix Fluid Parallel Limiting
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableFluidTank.java
  src/main/java/com/gregtechceu/gtceu/api/transfer/fluid/CustomFluidTank.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEOutputHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/utils/GTTransferUtils.java
  src/main/java/com/gregtechceu/gtceu/utils/OverlayedFluidHandler.java
  src/main/java/com/gregtechceu/gtceu/utils/OverlayedTankHandler.java
Labels: type: refactor

#2427 Fix environmental hazard tooltips showing when they're disabled
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MultiblockMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCYMMachines.java
Labels: type: bugfix

#2429 Fix chance logic not adjusting the roll chance in small parallel situations
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/gui/misc/ProspectorMode.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/chance/boost/ChanceBoostFunction.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/chance/logic/ChanceLogic.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/Content.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ParallelLogic.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/GTOreByProduct.java
  src/main/java/com/gregtechceu/gtceu/integration/GTOreByProductWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/GTRecipeWidget.java
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: bugfix

#2433 Change potential bad casts to be saturated and remove redundant casts
  src/main/java/com/gregtechceu/gtceu/api/capability/compat/EUToFEProvider.java
  src/main/java/com/gregtechceu/gtceu/api/capability/compat/FeCompat.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/EURecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/WireProperties.java
  src/main/java/com/gregtechceu/gtceu/api/item/component/ElectricStats.java
  src/main/java/com/gregtechceu/gtceu/api/machine/SimpleGeneratorMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IMaintenanceMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/steam/SteamBoilerMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/steam/SteamEnergyRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/Content.java
  src/main/java/com/gregtechceu/gtceu/common/blockentity/CableBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/AdvancedEnergyDetectorCover.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeModifiers.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/datafixers/TagFixer.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeCombustionEngineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeTurbineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/LargeBoilerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/cable/EnergyNet.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/DecompositionRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/list/AEFluidDisplayWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/list/AEItemDisplayWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/slot/AEFluidConfigSlotWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/slot/AEItemConfigSlotWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEInputBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEInputHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEOutputHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEPatternBufferPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/slot/ExportOnlyAEFluidSlot.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/slot/ExportOnlyAEItemSlot.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/utils/AEUtil.java
  src/main/java/com/gregtechceu/gtceu/utils/GTMath.java
Labels: type: bugfix

#2422 Rework Fluid slot behaviour
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/TankWidget.java
Labels: type: refactor

#2434 Add more information to energy hatch tooltips
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/EnergyHatchPartMachine.java
Labels: type: feature

#2401 Add Maceration Recipe for Chiseled Bookshelf
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MiscRecipeLoader.java
Labels: type: feature

#2460 Fix EU/t gui tooltips now show correct value on multiblock generators
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeCombustionEngineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeTurbineMachine.java
Labels: type: bugfix

#2449 Fix empty crates and drums not stacking with new ones
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/CrateMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/DrumMachine.java
Labels: type: bugfix

#2436 Fix Item pipes teleporting items
  src/main/java/com/gregtechceu/gtceu/common/blockentity/ItemPipeBlockEntity.java
Labels: type: bugfix

#2452 Fix crash due to DT allowing 0 hatches
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/DistillationTowerMachine.java
Labels: type: bugfix

#2439 Add fluid rendering to select multiblocks
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/client/renderer/block/FluidBlockRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/PrimitiveBlastFurnaceRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/gcym/LargeChemicalBathRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/gcym/LargeMixerRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/util/RenderUtil.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCYMMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/gcym/LargeChemicalBathMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/gcym/LargeMixerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/PrimitiveBlastFurnaceMachine.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: feature

#2444 remove generic from `IMaterialProperty`
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/AlloyBlastProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/BlastProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/DustProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/FluidPipeProperties.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/FluidProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/GemProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/HazardProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/IMaterialProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/IngotProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/ItemPipeProperties.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/MaterialProperties.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/OreProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/PolymerProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/PropertyKey.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/RotorProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/ToolProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/WireProperties.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/WoodProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/PipeRecipeHandler.java
Labels: type: refactor

#2456 Rework and refactor Chance Logic
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/IRecipeCapabilityHolder.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/RecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/IRecipeLogicMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/WorkableElectricMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeHelper.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/chance/boost/ChanceBoostFunction.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/chance/logic/ChanceLogic.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/RecipeModifierList.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/GTOreByProduct.java
  src/main/java/com/gregtechceu/gtceu/integration/GTRecipeWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
Labels: type: refactor

#2453 Update ru_ru.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
Labels: type: translation

#2447 Add ability for Quantum Storages to hold more than INT_MAX
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/TankWidget.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/Content.java
  src/main/java/com/gregtechceu/gtceu/api/transfer/fluid/CustomFluidTank.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/QuantumChestRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/QuantumTankRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTResearchMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/CreativeChestMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/CreativeTankMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumChestMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumTankMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/GTJadePlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/GTFluidStorageProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/GTItemStorageProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/WorkableBlockProvider.java
  src/main/java/com/gregtechceu/gtceu/utils/FormattingUtil.java
Labels: type: feature
