Repository GregTechCEu/GregTech-Modern, pull requests merged in 2024-12, with the labels that each got.

#2465 Fix pattern encoding for multiblock preview in EMI
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/Ae2PatternTerminalHandler.java
Labels: type: bugfix

#2468 Fix AIOOBE from Creative Tooltips
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTResearchMachines.java
Labels: type: bugfix

#2473 Add pbf lava particles
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/PrimitiveBlastFurnaceRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/PrimitiveBlastFurnaceMachine.java
Labels: type: feature

#2470 Add Machine Tooltip Coloring
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/GTValues.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: refactor

#2472 Add Higher Tier Rotor Holders
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
Labels: type: feature

#2474 Fix Lang for LV & MV Macerator
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/MachineLang.java
Labels: type: bugfix

#2475 Fix Honeycomb Dupe
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/RecyclingRecipes.java
Labels: type: bugfix

#2469 Fix OutOfBounds when opening high tier machines
  src/main/java/com/gregtechceu/gtceu/api/GTValues.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
Labels: type: bugfix

#2448 Fix data stick not copying distinct bus from me input bus
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEInputBusPartMachine.java
Labels: type: feature

#2462 Add Empty Hand Interaction for Covers
  src/main/java/com/gregtechceu/gtceu/api/block/MetaMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/api/block/PipeBlock.java
  src/main/java/com/gregtechceu/gtceu/api/blockentity/PipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/cover/CoverBehavior.java
  src/main/java/com/gregtechceu/gtceu/api/item/tool/IToolGridHighlight.java
  src/main/java/com/gregtechceu/gtceu/api/item/tool/ToolHelper.java
  src/main/java/com/gregtechceu/gtceu/api/machine/IMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/client/forge/ForgeClientEventListener.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/BlockHighlightRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ItemFilterCover.java
Labels: type: feature

#2476 Add Custom Recipe Category support to KubeJS
  src/main/java/com/gregtechceu/gtceu/api/gui/GuiTextures.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeSerializer.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeType.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/category/GTRecipeCategory.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/lookup/GTRecipeLookup.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ui/GTRecipeTypeUI.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeCategories.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/GTEMIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTEmiRecipe.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTRecipeEMICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/GTJEIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/recipe/GTRecipeJEICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GTRegistryInfo.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/GTRecipeCategoryBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/GTREIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/recipe/GTRecipeDisplay.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/recipe/GTRecipeREICategory.java
  src/main/java/com/gregtechceu/gtceu/utils/ResearchManager.java
  src/main/resources/assets/gtceu/textures/gui/icon/category/arc_furnace_recycling.png
  src/main/resources/assets/gtceu/textures/gui/icon/category/extractor_recycling.png
  src/main/resources/assets/gtceu/textures/gui/icon/category/macerator_recycling.png
Labels: type: feature

#2466 Refactor Cleanroom and CharcoalPileIgnitor Structure Check
  src/generated/resources/data/gtceu/tags/blocks/cleanroom_floors.json
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CleanroomMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/CharcoalPileIgniterMachine.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/data/tags/BlockTagLoader.java
Labels: type: refactor

#2480 Add explicit constructor to transfer covers
  src/main/java/com/gregtechceu/gtceu/common/blockentity/FluidPipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ConveyorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/FluidRegulatorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/PumpCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/RobotArmCover.java
Labels: type: refactor

#2481 Fix Creative Energy Hatch crash when choosing higher voltages
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/CreativeEnergyContainerMachine.java
Labels: type: bugfix

#2477 Change multiblocks rendered fluid update
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/gcym/LargeChemicalBathRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/gcym/LargeMixerRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/util/RenderUtil.java
Labels: type: refactor

#2445 Adds a Recipe for Glass dust from Flint and Quartz sand dusts
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
Labels: type: feature

#2488 removed unused overclock divisor config
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/recipe/OverclockingLogic.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: refactor

#2489 Rename integrated circuit in code
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/IntCircuitIngredient.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/common/item/IntCircuitBehaviour.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CraftingRecipeLoader.java
Labels: type: refactor

#2487 Refactors tank fluid renderer to show fluid level
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/QuantumTankRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumTankMachine.java
Labels: type: refactor

#2491 Refactor multiblock fluid renderer code
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/gcym/LargeChemicalBathRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/gcym/LargeMixerRenderer.java
Labels: ignore changelog

#2490 Reconfigure Gradle for Dev Efficiency
  build.gradle
  dependencies.gradle
  gradle/scripts/moddevgradle.gradle
  gradle/scripts/repositories.gradle
  gradle/scripts/spotless.gradle
  settings.gradle
  spotless/spotless.ktlint
Labels: ignore changelog, type: refactor

#2496 Fix build output directory
  gradle/scripts/jars.gradle
Labels: ignore changelog

#2494 Add Circuit Configuration XEI page
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  src/main/java/com/gregtechceu/gtceu/data/lang/IntegrationLang.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/GTEMIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/circuit/GTProgrammedCircuitCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/oreprocessing/GTEmiOreProcessing.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/orevein/GTBedrockFluid.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/orevein/GTBedrockOre.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/orevein/GTEmiOreVein.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTEmiRecipe.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/GTJEIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/circuit/GTProgrammedCircuitCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/oreprocessing/GTOreProcessingInfoWrapper.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/orevein/GTBedrockFluidInfoCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/orevein/GTBedrockFluidInfoWrapper.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/orevein/GTBedrockOreInfoCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/orevein/GTBedrockOreInfoWrapper.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/orevein/GTOreVeinInfoCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/orevein/GTOreVeinInfoWrapper.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/recipe/GTRecipeWrapper.java
  src/main/java/com/gregtechceu/gtceu/integration/map/layer/builtin/OreRenderLayer.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/GTREIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/circuit/GTProgrammedCircuitCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/oreprocessing/GTOreProcessingDisplay.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/orevein/GTBedrockFluidDisplay.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/orevein/GTBedrockFluidDisplayCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/orevein/GTBedrockOreDisplay.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/orevein/GTBedrockOreDisplayCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/orevein/GTOreVeinDisplay.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/orevein/GTOreVeinDisplayCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/recipe/GTRecipeDisplay.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTOreByProduct.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTOreByProductWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTOreVeinWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTProgrammedCircuitWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTRecipeWidget.java
Labels: type: feature

#2484 Add a material for Netherite
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/UnknownCompositionMaterials.java
Labels: type: feature

#2502 Missing Decomp Recipes
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/ChemicalHelper.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/MaterialInfoLoader.java
Labels: type: refactor

#2500 FTB Teams Optional NPE Fix
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/FTBOwner.java
Labels: type: bugfix

#2501 Force Centered Cleanroom Controller
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CleanroomMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/CharcoalPileIgniterMachine.java
Labels: type: refactor

#2497 Various Recipe Builder Logging
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/ChemistryRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/ReactorRecipes.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
Labels: type: feature

#2507 Update ru_ru
  src/main/resources/assets/gtceu/lang/ru_ru.json
Labels: type: translation

#2520 Refactor removal of redundant line breaks and semicolons
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/data/forge/DataGenerators.java
Labels: ignore changelog

#2525 Rework representative recipes and category interactions
  gradle/scripts/moddevgradle.gradle
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeSerializer.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeType.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/category/GTRecipeCategory.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/lookup/GTRecipeLookup.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ui/GTRecipeTypeUI.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/customlogic/FormingPressLogic.java
  src/main/java/com/gregtechceu/gtceu/data/lang/MachineLang.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTRecipeEMICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/recipe/GTRecipeJEICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/recipe/GTRecipeREICategory.java
  src/main/java/com/gregtechceu/gtceu/utils/ResearchManager.java
Labels: type: refactor

#2442 fixed the coke oven hatch having gaps between other blocks
  src/main/resources/assets/gtceu/models/block/machine/part/coke_oven_hatch.json
Labels: type: bugfix

#2535 Fix AIOOBE due to recipe running too fast
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
Labels: type: bugfix

#2536 Fix ME Output Parts being inefficient
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEOutputBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEOutputHatchPartMachine.java
Labels: type: bugfix

#2546 Uncreate Create Compat.
  dependencies.gradle
  settings.gradle
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/GTCEu.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/StressRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/PartAbility.java
  src/main/java/com/gregtechceu/gtceu/client/instance/SplitShaftInstance.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/IKineticMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/ISplitShaftRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/KineticWorkableTieredHullMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/SplitShaftTieredHullMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/block/KineticMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/common/blockentity/KineticMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeCapabilities.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeConditions.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipes.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTCreateMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/KineticMachineDefinition.java
  src/main/java/com/gregtechceu/gtceu/common/machine/kinetic/ElectricGearBoxMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/kinetic/IKineticMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/kinetic/SimpleKineticElectricWorkableMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/KineticPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/NotifiableStressTrait.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/condition/RPMCondition.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/create/RotationPropagatorMixin.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CreateRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KineticMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/MachineFunctionPresets.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/components/GTRecipeComponents.java
  src/main/resources/gtceu.mixins.json
Labels: type: refactor

#2506 Brewery Potion Recipe Handler
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/data/forge/tags/fluids/potion.json
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/fluids/store/FluidStorageKeys.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/PatternPreviewWidget.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/SlotWidget.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/TankWidget.java
  src/main/java/com/gregtechceu/gtceu/api/item/component/ThermalFluidStats.java
  src/main/java/com/gregtechceu/gtceu/api/transfer/fluid/TagOrCycleFluidHandler.java
  src/main/java/com/gregtechceu/gtceu/api/transfer/item/TagOrCycleItemStackHandler.java
  src/main/java/com/gregtechceu/gtceu/client/TooltipsHandler.java
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/common/data/GCYMRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTFluids.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/fluid/potion/PotionFluid.java
  src/main/java/com/gregtechceu/gtceu/common/fluid/potion/PotionFluidHelper.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/customlogic/BreweryLogic.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/customlogic/FormingPressLogic.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/PotionBrewingAccessor.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/emi/FluidEmiStackMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/jei/FluidHelperMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/rei/FluidEntryRendererMixin.java
  src/main/java/com/gregtechceu/gtceu/data/lang/IntegrationLang.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/list/AEFluidDisplayWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/GTEMIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/GTJEIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/subtype/PotionFluidSubtypeInterpreter.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/GTREIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/entry/fluid/FluidEntryList.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/entry/fluid/FluidStackList.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/entry/fluid/FluidTagList.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/entry/item/ItemEntryList.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/entry/item/ItemStackList.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/entry/item/ItemTagList.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/handlers/fluid/CycleFluidEntryHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/handlers/fluid/CycleFluidStackHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/handlers/item/CycleItemEntryHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/handlers/item/CycleItemStackHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTOreByProduct.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTOreByProductWidget.java
  src/main/java/com/gregtechceu/gtceu/utils/ItemStackHashStrategy.java
  src/main/java/com/gregtechceu/gtceu/utils/ResearchManager.java
  src/main/resources/assets/gtceu/textures/block/fluids/fluid.potion.png
  src/main/resources/assets/gtceu/textures/block/fluids/fluid.potion.png.mcmeta
  src/main/resources/gtceu.mixins.json
Labels: type: feature

#2543 Add fluid for Ruridit
  src/main/java/com/gregtechceu/gtceu/common/data/materials/FirstDegreeMaterials.java
Labels: type: refactor

#2553 Fix Chance Cache load NPE
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
Labels: type: bugfix

#2557 Replace getGameTime calls with getTickCount for performance
  src/main/java/com/gregtechceu/gtceu/api/blockentity/PipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/machine/IMachineBlockEntity.java
Labels: type: refactor

#2499 Refactor RecipeModifier and OC system
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/CWURecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/EURecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/RecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/machine/SimpleGeneratorMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/IRecipeLogicMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/WorkableMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/steam/SimpleSteamMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/steam/SteamBoilerMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/steam/SteamEnergyRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/OverclockingLogic.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeHelper.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/Content.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/ContentModifier.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/logic/OCParams.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/logic/OCResult.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ModifierFunction.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ParallelLogic.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/RecipeModifier.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/RecipeModifierList.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeModifiers.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCYMMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/DistillationTowerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/FusionReactorMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/research/ResearchStationMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeCombustionEngineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeTurbineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/LargeBoilerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/SteamParallelMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/BedrockOreMinerLogic.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/FluidDrillLogic.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/RecipeLogicProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/SimpleMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTRecipeWidget.java
  src/main/java/com/gregtechceu/gtceu/test/GTGameTests.java
  src/main/java/com/gregtechceu/gtceu/test/api/machine/trait/ParallelLogicTest.java
Labels: type: refactor

#2558 Fix ME Input Buses being extractable
  src/main/java/com/gregtechceu/gtceu/integration/ae2/slot/ExportOnlyAEFluidSlot.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/slot/ExportOnlyAEItemList.java
Labels: type: bugfix

#2552 Fix Programmed Circuit Crash on Output Parts
  src/main/java/com/gregtechceu/gtceu/common/item/IntCircuitBehaviour.java
Labels: type: bugfix

#2560 Fix GT Fluid Attributes not registering on Source
  src/main/java/com/gregtechceu/gtceu/api/fluids/FluidBuilder.java
Labels: type: bugfix

#2569 Allow batteries to charge curios
  src/main/java/com/gregtechceu/gtceu/api/item/component/ElectricStats.java
  src/main/java/com/gregtechceu/gtceu/common/item/ItemMagnetBehavior.java
Labels: type: bugfix

#2566 Fix glass lens recycle category
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MiscRecipeLoader.java
Labels: type: bugfix

#2578 Changed gradle config for data generation
  gradle/scripts/moddevgradle.gradle
Labels: ignore changelog

#2580 Refactors ore gen cache entries to expire after 30 seconds
  src/main/java/com/gregtechceu/gtceu/api/data/worldgen/ores/OreGenCache.java
Labels: type: refactor

#2585 Forgot workflow perms
  .github/workflows/deploy-pages.yml
Labels: ignore changelog

#2559 Fix the handling of extra bocks in cleanroom floor, and adds some mod compatabiity.
  src/generated/resources/data/ae2/tags/items/p2p_attunements/fluid_p2p_tunnel.json
  src/generated/resources/data/gtceu/tags/blocks/cleanroom_floors.json
  src/main/java/com/gregtechceu/gtceu/data/tags/BlockTagLoader.java
Labels: type: bugfix

#2565 Fix concurrency error in DimensionCache
  src/main/java/com/gregtechceu/gtceu/integration/map/cache/DimensionCache.java
Labels: type: bugfix

#2572 Fix shutter cover exposing item and fluid handlers
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/cover/ShutterCover.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: bugfix

#2573 Refactor rotor holder check to support facing towards y-axis
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IRotorHolderMachine.java
Labels: type: bugfix

#2576 Fixes pipe block shape for empty-handed interaction
  src/main/java/com/gregtechceu/gtceu/api/block/PipeBlock.java
Labels: type: bugfix

#2577 Remove old lang entries
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: ignore changelog

#2532 Refactor ColorSprayBehaviour using BFS implementation
  src/main/java/com/gregtechceu/gtceu/common/item/ColorSprayBehaviour.java
  src/main/java/com/gregtechceu/gtceu/utils/BreadthFirstBlockSearch.java
Labels: type: refactor

#2574 KubeJS builder refactor
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
  src/main/java/com/gregtechceu/gtceu/api/item/RendererBlockItem.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MachineDefinition.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/BuilderBase.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MultiblockMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/item/ItemMagnetBehavior.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GTRegistryInfo.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/ElementBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/GTRecipeCategoryBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/GTRecipeTypeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/MaterialIconSetBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/MaterialIconTypeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/RendererBlockItemBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/WorldGenLayerBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/block/CoilBlockBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/CustomMultiblockBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/CustomTieredMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/GeneratorBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSSteamMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMultiblockBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSWrappingMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSWrappingMultiblockBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/MachineFunctionPresets.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/SimpleMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/SteamMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/prefix/BasicTagPrefixBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/prefix/OreTagPrefixBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/prefix/TagPrefixBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/events/GTRegistryEventJS.java
Labels: type: refactor

#2588 Add build info to built JAR files
  .github/workflows/auto-build.yml
  .github/workflows/auto-publish.yml
  .github/workflows/build-on-push.yml
  .github/workflows/manage-pr-labels.yml
  gradle/scripts/resources.gradle
Labels: ignore changelog

#2590 Adds codespaces to repo for easy docs contribution
  .devcontainer/devcontainer.json
  README.md
  RELEASE.md
  docs/README.md
Labels: ignore changelog

#2597 Fix Single Block Distillery Multiplier
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
Labels: type: bugfix

#2582 Fix crop harvest yielding extra seeds
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/HarvestCropsBehavior.java
Labels: type: bugfix

#2596 Fix Various KJS issues
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/GTRecipeCategoryBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSSteamMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMultiblockBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSWrappingMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSWrappingMultiblockBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/helpers/MachineModifiers.java
Labels: type: bugfix

#2561 Refactor DataStick item and associated interaction interface
  src/main/java/com/gregtechceu/gtceu/api/block/MetaMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/IDataStickInteractable.java
  src/main/java/com/gregtechceu/gtceu/common/item/DataItemBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/MetaMachineConfigCopyBehaviour.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/IMachineOwner.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEInputBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEInputHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEPatternBufferPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEPatternBufferProxyPartMachine.java
Labels: type: refactor

#2562 Internal Machine and Material Class Refactor
  src/main/java/com/gregtechceu/gtceu/api/block/PipeBlock.java
  src/main/java/com/gregtechceu/gtceu/api/blockentity/PipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/ChemicalHelper.java
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/indicators/SurfaceIndicatorGenerator.java
  src/main/java/com/gregtechceu/gtceu/api/item/DrumMachineItem.java
  src/main/java/com/gregtechceu/gtceu/api/item/tool/ToolHelper.java
  src/main/java/com/gregtechceu/gtceu/api/pattern/Predicates.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ToolHeadReplaceRecipe.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/block/PipeBlockRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/common/block/CableBlock.java
  src/main/java/com/gregtechceu/gtceu/common/block/FluidPipeBlock.java
  src/main/java/com/gregtechceu/gtceu/common/blockentity/CableBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlockEntities.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTFluids.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterialBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterialItems.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCYMMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMachineUtils.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/AirScrubberMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/MinerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/RockCrusherMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/WorldAcceleratorMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/BedrockOreMinerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/FluidDrillMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/miner/MinerLogic.java
  src/main/java/com/gregtechceu/gtceu/core/MixinHelpers.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/ToolRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/AssemblyLineLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/ComputerRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/GCYMRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/ItemTagLoader.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/GTEMIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/multipage/MultiblockInfoEmiCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/GTJadePlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/GTJEIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/multipage/MultiblockInfoCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMultiblockBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/GTREIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/multipage/MultiblockInfoDisplayCategory.java
  src/main/java/com/gregtechceu/gtceu/utils/ToolItemHelper.java
Labels: type: refactor

#2599 Add some documentation of KJS changes required for 1.6.
  docs/content/Modpacks/Changes/v1.6.0.md
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/ElementBuilder.java
Labels: ignore changelog

#2601 bump version to 1.6.0
  gradle.properties
Labels: ignore changelog

#2615 Fix PBF issues
  src/main/java/com/gregtechceu/gtceu/api/machine/IMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/gcym/LargeChemicalBathRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/PrimitiveBlastFurnaceMachine.java
Labels: type: bugfix

#2614 fixes netherite material color and add netherite tools
  src/main/java/com/gregtechceu/gtceu/common/data/materials/UnknownCompositionMaterials.java
Labels: type: bugfix

#2613 Fix Air Scrubber issues
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/AirScrubberMachine.java
Labels: type: bugfix

#2611 Fix various issues with 1.6.0
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/PrimitivePumpMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/GTEMIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/circuit/GTProgrammedCircuitCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/circuit/GTProgrammedCircuitCategory.java
Labels: type: bugfix

#2618 Add new Continuous Rainbow Tooltips
  src/main/java/com/gregtechceu/gtceu/client/util/TooltipHelper.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
Labels: type: feature

#2610 Fix killing/shearing mobs adding empty NBT tag
  src/main/java/com/gregtechceu/gtceu/api/item/tool/ToolHelper.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/ToolEventHandlers.java
Labels: type: bugfix

#2612 Fix Robot Arms filling empty slots first
  src/main/java/com/gregtechceu/gtceu/common/cover/ConveyorCover.java
Labels: type: bugfix

#2606 Remove Deprecated Dual Hatch config
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: refactor

#2619 Fix rainbow math
  src/main/java/com/gregtechceu/gtceu/client/util/TooltipHelper.java
Labels: ignore changelog

#2620 Add overrides for builder accessors
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MultiblockMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/GTRecipeCategoryBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSSteamMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMultiblockBuilder.java
Labels: type: bugfix

#2605 Better error messages for `asyncCheckPattern`.
  src/main/java/com/gregtechceu/gtceu/api/pattern/MultiblockWorldSavedData.java
Labels: type: feature

#2602 Add more documentation of KJS changes required for 1.6.
  docs/content/Modpacks/Changes/v1.6.0.md
Labels: ignore changelog

#2636 Fix typo in temperature parameter of BlastProperty builder
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/BlastProperty.java
Labels: type: refactor

#2637 Add High Pressure Variation of The Steam Miner Singleblock.
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/steam/SteamMinerMachine.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
  src/main/resources/assets/gtceu/textures/block/machines/high_pressure_steam_miner/overlay_back.png
  src/main/resources/assets/gtceu/textures/block/machines/high_pressure_steam_miner/overlay_down.mcmeta
  src/main/resources/assets/gtceu/textures/block/machines/high_pressure_steam_miner/overlay_down.png
  src/main/resources/assets/gtceu/textures/block/machines/high_pressure_steam_miner/overlay_front.png
  src/main/resources/assets/gtceu/textures/block/machines/high_pressure_steam_miner/overlay_front.png.mcmeta
  src/main/resources/assets/gtceu/textures/block/machines/high_pressure_steam_miner/overlay_side.png
  src/main/resources/assets/gtceu/textures/block/machines/high_pressure_steam_miner/overlay_up.png
Labels: type: feature

#2646 Fix Distillation Tower machines crashing
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/DistillationTowerMachine.java
Labels: type: bugfix

#2647 Fix Machine Recipe Modifiers
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMachineUtils.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
Labels: type: bugfix

#2648 Fix Smart Filter not saving mode
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/FilterHandler.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/SmartItemFilter.java
Labels: type: bugfix

#2649 Fix `ModifierFunction` builder overwriting values
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ModifierFunction.java
Labels: type: bugfix

#2650 Add LEVEL state to PotionFluid
  src/main/java/com/gregtechceu/gtceu/common/fluid/potion/PotionFluid.java
Labels: type: bugfix

#2653 Fix KJS replacement order & custom json recipes
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/components/CapabilityMapComponent.java
Labels: type: bugfix

#2654 Fix Cleanroom floor check
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CleanroomMachine.java
Labels: type: bugfix

#2628 Remove leftover Create RecipeType
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
Labels: ignore changelog

#2655 Fix Steam and Plasma turbines requiring mufflers
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMachineUtils.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
Labels: type: bugfix

#2659 Fix oil spouts not updating the fluid on generation
  src/main/java/com/gregtechceu/gtceu/common/commands/GTCommands.java
  src/main/java/com/gregtechceu/gtceu/common/worldgen/feature/FluidSproutFeature.java
Labels: type: bugfix

#2621 Add Production Efficiency Modifier
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/EfficiencyModifier.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ModifierFunction.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/DistillationTowerMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
Labels: type: feature

#2657 Fix furnace recipe serialization
  src/main/java/com/gregtechceu/gtceu/api/recipe/category/GTRecipeCategory.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeCategories.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/GTEMIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTRecipeEMICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/GTJEIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/recipe/GTRecipeJEICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/GTREIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/recipe/GTRecipeREICategory.java
Labels: type: bugfix

#2663 Fix MultiParts not calling `removeFromController` on unload
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/part/MultiblockPartMachine.java
Labels: type: bugfix

#2664 Fix Stone Variant maceration having conflicting recipes
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/RecyclingRecipes.java
Labels: type: bugfix

#2662 update ru_ru.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
Labels: type: translation

#2643 Fix bucket being voided by TankWidget with not enough space
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/TankWidget.java
Labels: type: bugfix

#2666 Change pipes to force connections to covers
  src/main/java/com/gregtechceu/gtceu/api/blockentity/PipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/pipenet/PipeCoverContainer.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ComputerMonitorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/FluidFilterCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/StorageCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/DetectorCover.java
Labels: type: bugfix

#2667 Add multiblock constructors to KJS + lang
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MultiblockMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSSteamMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMultiblockBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/helpers/MachineConstructors.java
Labels: type: feature

#2625 Updates registrate dependency
  settings.gradle
Labels: type: feature
