Repository GregTechCEu/GregTech-Modern, pull requests merged in 2024-08, with the labels that each got.

#1699 make addData* methods no longer conflict in KubeJS
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
Labels: 1.20

#1732 Less onContentChanged
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEInputBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEInputHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEOutputBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEOutputHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEStockingBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEStockingHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/slot/ExportOnlyAEFluidList.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/slot/ExportOnlyAEFluidSlot.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/slot/ExportOnlyAEItemList.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/slot/ExportOnlyAEItemSlot.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/utils/KeyStorage.java
Labels: ignore changelog

#1739 start publishing SNAPSHOT versions to the maven
  .github/release.yml
  .github/workflows/auto-build.yml
  .github/workflows/auto-publish.yml
  .github/workflows/build-on-push.yml
  .github/workflows/update-gradle-cache.yml
  build.gradle
Labels: ignore changelog

#1741 fix long-distance pipe endpoints sometimes causing a stack overflow
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/LongDistanceEndpointMachine.java
Labels: type: bug

#1746 Fix Flux Networks Compat
  src/main/java/com/gregtechceu/gtceu/api/blockentity/MetaMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/capability/GTCapabilityHelper.java
  src/main/java/com/gregtechceu/gtceu/api/capability/compat/EUToFEProvider.java
  src/main/java/com/gregtechceu/gtceu/api/capability/forge/GTCapability.java
  src/main/java/com/gregtechceu/gtceu/api/item/component/ElectricStats.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableComputationContainer.java
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/common/block/CableBlock.java
  src/main/java/com/gregtechceu/gtceu/common/block/DuctPipeBlock.java
  src/main/java/com/gregtechceu/gtceu/common/block/LaserPipeBlock.java
  src/main/java/com/gregtechceu/gtceu/common/block/OpticalPipeBlock.java
  src/main/java/com/gregtechceu/gtceu/common/blockentity/CableBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/blockentity/DuctPipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/blockentity/FluidPipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/blockentity/ItemPipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/blockentity/LaserPipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/blockentity/OpticalPipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/item/PortableScannerBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/research/ResearchStationMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/OpticalDataHatchMachine.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/cable/EnergyNetWalker.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/duct/DuctNetWalker.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/laser/LaserNetWalker.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/optical/OpticalNetWalker.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/optical/OpticalRoutePath.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
Labels: ignore changelog

#1725 fix dependency loop
  src/main/resources/META-INF/mods.toml
Labels: ignore changelog

#1750 fix bedrock veins that have been removed crashing the game
  src/main/java/com/gregtechceu/gtceu/api/data/worldgen/bedrockore/OreVeinWorldEntry.java
Labels: type: bug

#1752 fix build actions part 2
  .github/workflows/auto-build.yml
Labels: ignore changelog

#1755 WORK PLEASE
  .github/workflows/auto-build.yml
Labels: ignore changelog

#1756 fuuuck I can't test this locally AT ALL AAAAAAAAAAAA
  .github/workflows/auto-build.yml
Labels: ignore changelog

#1731 replace Gregic Energistics machines with GT replacements automatically
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
Labels: type: feature

#1744 fix Iodine processing
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/FirstDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/HigherDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/SecondDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/emi/FluidEmiStackMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/rei/FluidEntryRendererMixin.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/BrineRecipes.java
  src/main/resources/assets/gtceu/textures/block/multiblock/evaporation_plant/overlay_front.png
  src/main/resources/assets/gtceu/textures/block/multiblock/evaporation_plant/overlay_front_active.png
  src/main/resources/assets/gtceu/textures/block/multiblock/evaporation_plant/overlay_front_active.png.mcmeta
  src/main/resources/assets/gtceu/textures/block/multiblock/evaporation_plant/overlay_front_active_emissive.png
  src/main/resources/assets/gtceu/textures/block/multiblock/evaporation_plant/overlay_front_active_emissive.png.mcmeta
  src/main/resources/assets/gtceu/textures/block/multiblock/evaporation_plant/overlay_front_emissive.png
  src/main/resources/assets/gtceu/textures/block/multiblock/evaporation_plant/overlay_front_paused.png
  src/main/resources/assets/gtceu/textures/block/multiblock/evaporation_plant/overlay_front_paused_emissive.png
Labels: type: bug

#1753 fix crates voiding contents on world load
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/CrateMachine.java
Labels: ignore changelog

#1738 Dual hatch nerfing and hlsa naming
  src/generated/resources/assets/gtceu/compass/nodes/materials/frame.json
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/DualHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: bug

#1761 Fixing CircuitInventory for buffers again. Please no one else change …
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEPatternBufferPartMachine.java
Labels: ignore changelog

#1771 separate automatic changelog generation to new workflow
  .github/workflows/auto-publish.yml
  .github/workflows/build-on-push.yml
  .github/workflows/changelog.yml
  .github/workflows/update-gradle-cache.yml
Labels: ignore changelog

#1776 allow rubber leaves/saplings to be composted
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/ComposterRecipes.java
Labels: type: feature

#1775 Parallel Hatches can no longer share + Nerf super chests in comparison to 1.12
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ParallelHatchPartMachine.java
Labels: type: bug

#1773 fix duplicate research tooltip entries and give luv parts research requirements
  src/main/java/com/gregtechceu/gtceu/common/item/DataItemBehavior.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/ComponentRecipes.java
Labels: type: bug

#1780 fix output fluid slots accepting manual input
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
Labels: type: bug

#1792 SI Formatting for large fluid amounts in fluid slots
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/Content.java
Labels: type: refactor

#1788 Remove the dual output hatch from the ME buffer recipe
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
Labels: type: feature

#1786 fix the spelling mistakes gtcey -> gtceu
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/MachineLang.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEPatternBufferPartMachine.java
Labels: type: translation

#1794 The AT has a good UI now.
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/ActiveTransformerMachine.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/lang/MachineLang.java
Labels: type: feature

#1791 Edited recipes of all MultiPart hatch/buses
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CraftingComponent.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
Labels: type: feature

#1800 Fixed Jade integration for Research Station Computation recipes
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/IntegrationLang.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/WorkableBlockProvider.java
Labels: type: feature

#1801 Fixes RHF from using incorrect EU rates
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCyMMachines.java
Labels: type: feature

#1803 Scanner Requirements for ME buffer and proxy
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
Labels: type: feature

#1804 Removal of Subtick from RHF
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCyMMachines.java
Labels: type: bug

#1805 fix wrong index lmao
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
Labels: type: bug

#1806 Fix the ME Buffer and Proxy having the wrong AL voltages
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
Labels: type: bug

#1784 Update zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation

#1789 Fluid Tag for molten fluids
  dependencies.gradle
  src/main/java/com/gregtechceu/gtceu/api/fluids/store/FluidStorageKey.java
  src/main/java/com/gregtechceu/gtceu/api/fluids/store/FluidStorageKeys.java
  src/main/java/com/gregtechceu/gtceu/core/MixinHelpers.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CraftingRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/FluidTagLoader.java
Labels: type: feature

#1810 Fixed ru_ru
  src/main/resources/assets/gtceu/lang/ru_ru.json
Labels: type: bug, type: translation

#1827 XEI-Cleanups
  src/main/java/com/gregtechceu/gtceu/integration/GTRecipeWidget.java
Labels: type: refactor

#1849 add research methods to GTRecipeTypeBuilder
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/GTRecipeTypeBuilder.java
Labels: type: feature
