Repository GregTechCEu/GregTech-Modern, pull requests merged in 2024-01, with the labels that each got.

#689 Add maintance to large boilers
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
Labels: bug, 1.20

#612 Ru_ru lang for GTCEuM
  CHANGELOG.md
  common/src/main/resources/assets/gtceu/lang/ru_ru.json
Labels: help wanted

#711 fix: recipe matchers have issues with damageable tools.
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/InventoryMixin.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/rei/InputSlotCrafterMixin.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/rei/RecipeFinderMixin.java
  common/src/main/resources/gtceu-common.mixins.json
Labels: Don't Cherrypick, 1.19
