Repository GregTechCEu/GregTech-Modern, pull requests merged in 2025-06, with the labels that each got.

#3190 Remove Extruder Mold (Long Rod)
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/assets/gtceu/models/item/long_rod_extruder_mold.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/PartsRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CraftingRecipeLoader.java
Labels: type: feature

#3187 implement real XOR chance logic (replaces old, which is renamed FIRST)
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/recipe/chance/logic/ChanceLogic.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: feature

#3220 Fixed link on docs home page
  docs/content/index.md
Labels: ignore changelog

#3204 Fix first hit on a Quantum Chest always inserting all items
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumChestMachine.java
Labels: type: bugfix

#3206 backport a better version of `FormattingUtil#toLowerCaseUnderscore`
  src/main/java/com/gregtechceu/gtceu/GTCEu.java
  src/main/java/com/gregtechceu/gtceu/api/block/MetaMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagType.java
  src/main/java/com/gregtechceu/gtceu/api/item/IGTTool.java
  src/main/java/com/gregtechceu/gtceu/api/item/component/ElectricStats.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeType.java
  src/main/java/com/gregtechceu/gtceu/client/TooltipsHandler.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterialBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/condition/BiomeCondition.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/PipeRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
  src/main/java/com/gregtechceu/gtceu/utils/FormattingUtil.java
Labels: type: refactor

#3199 fix up dynamic tag generation so it's actually readable
  src/generated/resources/data/gtceu/tags/fluids/lighter_fluids.json
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/ChemicalHelper.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/ItemMaterialData.java
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagUtil.java
  src/main/java/com/gregtechceu/gtceu/api/fluids/FluidBuilder.java
  src/main/java/com/gregtechceu/gtceu/api/fluids/store/FluidStorageImpl.java
  src/main/java/com/gregtechceu/gtceu/api/fluids/store/FluidStorageKey.java
  src/main/java/com/gregtechceu/gtceu/api/fluids/store/FluidStorageKeys.java
  src/main/java/com/gregtechceu/gtceu/core/IGTTagLoader.java
  src/main/java/com/gregtechceu/gtceu/core/MixinHelpers.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/IHolderReferenceAccessor.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/TagLoaderMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/TagManagerMixin.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/resources/gtceu.mixins.json
Labels: ignore changelog, type: refactor

#3230 fix `GTCEu.id` reformatting already lowercase strings
  src/generated/resources/data/gtceu/tags/fluids/lighter_fluids.json
  src/main/java/com/gregtechceu/gtceu/GTCEu.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeCategories.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GTCEuStartupEvents.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/events/GTRegistryEventJS.java
  src/main/java/com/gregtechceu/gtceu/utils/FormattingUtil.java
Labels: ignore changelog, type: bugfix

#3150 Refactor "gtceu.universal.x" Lang Key
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCYMMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTAEMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMachineUtils.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTResearchMachines.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/uk_ua.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: refactor

#3151 Add a block tag for surface indicators
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterialBlocks.java
Labels: type: feature

#3133 Fix Electronic Circuit Recipe
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CircuitRecipes.java
Labels: type: feature

#3208 use `InteractionResult.sidedSuccess` instead of calling `Player#swing` manually
  src/main/java/com/gregtechceu/gtceu/api/block/PipeBlock.java
  src/main/java/com/gregtechceu/gtceu/api/blockentity/PipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/cover/CoverBehavior.java
  src/main/java/com/gregtechceu/gtceu/api/item/tool/ToolHelper.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockControllerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/cover/voiding/FluidVoidingCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/voiding/ItemVoidingCover.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/BlockRotatingBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/GrassPathBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/HoeGroundBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/LogStripBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/PlungerBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/RotateRailBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/ScrapeBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/ToolModeSwitchBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/WaxOffBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/BlockBreakerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/FisherMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/ItemCollectorMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/CharcoalPileIgniterMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumChestMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumTankMachine.java
Labels: type: refactor

#3022 Fixed large boiler explodes when loading the world
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/LargeBoilerMachine.java
Labels: type: bugfix

#3064 Fix Large Boilers exploding when throttle is too low
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/LargeBoilerMachine.java
Labels: type: bugfix

#3106 Adds Fluid Stack capability to Research Entries
  src/main/java/com/gregtechceu/gtceu/api/recipe/ResearchRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/utils/GTStringUtils.java
  src/main/java/com/gregtechceu/gtceu/utils/ResearchManager.java
Labels: type: feature

#3227 Change Substation Casing color to match Palladium's color
  src/main/resources/assets/gtceu/textures/block/casings/solid/machine_casing_palladium_substation.png
  src/main/resources/assets/gtceu/textures/block/casings/solid/machine_casing_palladium_substation_ctm.png
Labels: type: bugfix

#3234 Make thorium and magnesite ores obtainable again
  src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
Labels: type: bugfix

#3231 Remove muffler hatch requirement from Large Brewing Vat
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCYMMachines.java
Labels: type: feature

#3024 Add the Ender Fluid Link cover
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/cover/IUICover.java
  src/main/java/com/gregtechceu/gtceu/api/gui/GuiTextures.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/ColorBlockWidget.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/ConfirmTextInputWidget.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MachineCoverContainer.java
  src/main/java/com/gregtechceu/gtceu/api/misc/virtualregistry/EntryTypes.java
  src/main/java/com/gregtechceu/gtceu/api/misc/virtualregistry/VirtualEnderRegistry.java
  src/main/java/com/gregtechceu/gtceu/api/misc/virtualregistry/VirtualEntry.java
  src/main/java/com/gregtechceu/gtceu/api/misc/virtualregistry/VirtualRegistryMap.java
  src/main/java/com/gregtechceu/gtceu/api/misc/virtualregistry/entries/VirtualTank.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ender/AbstractEnderLinkCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ender/EnderFluidLinkCover.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTCovers.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTSyncedFieldAccessors.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
  src/main/java/com/gregtechceu/gtceu/syncdata/VirtualTankAccessor.java
  src/main/resources/assets/gtceu/textures/gui/widget/button_check.png
  src/main/resources/assets/gtceu/textures/gui/widget/button_list.png
Labels: type: feature

#3235 Make screwdriver able to invert buses
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/DualHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/FluidHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ItemBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/PumpHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ReservoirHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/SteamHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/SteamItemBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEHatchPartMachine.java
Labels: type: feature

#3236 Fix missing maxDamage override in armorcomponent
  src/main/java/com/gregtechceu/gtceu/api/item/armor/ArmorComponentItem.java
Labels: ignore changelog, type: bugfix

#3240 Add pattern dimensions to all Multiblock Controllers
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/block/MetaMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/api/pattern/BlockPattern.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: feature

#3221 Make tank widgets able to display the contents of the tank in the tooltip separately from the overlay
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/TankWidget.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/CokeOvenMachine.java
Labels: type: feature

#3244 Update zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation

#3243 Update zh_cn.json 1.21
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation

#3182 Cleanroom Logic & Balance Tweaks
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CleanroomMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/CleanroomLogic.java
  src/main/java/com/gregtechceu/gtceu/data/lang/MachineLang.java
Labels: type: refactor

#3198 clean up RelativeDirection and rename its methods to be more consistent with vanilla
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/RecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MultiblockMachineDefinition.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IMultiController.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockControllerMachine.java
  src/main/java/com/gregtechceu/gtceu/api/pattern/BlockPattern.java
  src/main/java/com/gregtechceu/gtceu/api/pattern/util/RelativeDirection.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeSerializer.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MultiblockMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/FusionReactorRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/HPCAPartRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/LargeBoilerRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/PrimitiveBlastFurnaceRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/gcym/LargeChemicalBathRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/gcym/LargeMixerRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCYMMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/MetaMachineConfigCopyBehaviour.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/AssemblyLineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/DistillationTowerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/gcym/LargeChemicalBathMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/gcym/LargeMixerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/research/HPCAMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/PrimitiveBlastFurnaceMachine.java
  src/main/java/com/gregtechceu/gtceu/utils/memoization/ConcurrentWeakIdentityHashMap.java
  src/main/java/com/gregtechceu/gtceu/utils/memoization/GTMemoizer.java
Labels: type: refactor

#3242 Add Capes
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/cosmetics/CapeRegistry.java
  src/main/java/com/gregtechceu/gtceu/api/cosmetics/event/RegisterGTCapesEvent.java
  src/main/java/com/gregtechceu/gtceu/client/forge/ForgeClientEventListener.java
  src/main/java/com/gregtechceu/gtceu/common/commands/GTClientCommands.java
  src/main/java/com/gregtechceu/gtceu/common/commands/GTCommands.java
  src/main/java/com/gregtechceu/gtceu/common/commands/HazardCommands.java
  src/main/java/com/gregtechceu/gtceu/common/commands/MedicalConditionCommands.java
  src/main/java/com/gregtechceu/gtceu/common/cosmetics/GTCapes.java
  src/main/java/com/gregtechceu/gtceu/common/network/GTNetwork.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/SPacketNotifyCapeChange.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/AbstractClientPlayerAccessor.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/PlayerInfoAccessor.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
  src/main/resources/assets/gtceu/textures/capes/ace_cape.png
  src/main/resources/assets/gtceu/textures/capes/agender_cape.png
  src/main/resources/assets/gtceu/textures/capes/aromantic_cape.png
  src/main/resources/assets/gtceu/textures/capes/bi_cape.png
  src/main/resources/assets/gtceu/textures/capes/debug_cape.png
  src/main/resources/assets/gtceu/textures/capes/genderfluid_cape.png
  src/main/resources/assets/gtceu/textures/capes/genderqueer_cape.png
  src/main/resources/assets/gtceu/textures/capes/green_cape.png
  src/main/resources/assets/gtceu/textures/capes/gregtech_cape.png
  src/main/resources/assets/gtceu/textures/capes/intersex_cape.png
  src/main/resources/assets/gtceu/textures/capes/lesbian_cape.png
  src/main/resources/assets/gtceu/textures/capes/nonbinary_cape.png
  src/main/resources/assets/gtceu/textures/capes/pan_cape.png
  src/main/resources/assets/gtceu/textures/capes/rainbow_cape.png
  src/main/resources/assets/gtceu/textures/capes/red_cape.png
  src/main/resources/assets/gtceu/textures/capes/trans_cape.png
  src/main/resources/assets/gtceu/textures/capes/yellow_cape.png
  src/main/resources/gtceu.mixins.json
Labels: type: feature

#3257 Fix the lighter model referencing a nonexistent texture
  src/main/resources/assets/gtceu/models/item/invar_lighter.json
  src/main/resources/assets/gtceu/models/item/platinum_lighter.json
Labels: type: bugfix

#3260 Add back isSameAxis() to RelativeDirection
  src/main/java/com/gregtechceu/gtceu/api/pattern/util/RelativeDirection.java
Labels: type: bugfix

#3268 Fix GTRecipeBuilder ranged item outputs
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
Labels: type: bugfix

#3271 Fix Multiblock Tanks functioning when unformed
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/MultiblockTankMachine.java
Labels: type: bugfix

#3285 Remove the simulated circuit inventory from the Pattern Buffer
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ItemBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEPatternBufferPartMachine.java
Labels: type: refactor

#3286 Fix iTNT dropping itself after being broken
  src/main/java/com/gregtechceu/gtceu/common/block/explosive/GTExplosiveBlock.java
Labels: ignore changelog, type: bugfix

#3288 fix magnetic tools crashing the server when `drops` is immutable
  src/main/java/com/gregtechceu/gtceu/common/item/tool/ToolEventHandlers.java
Labels: type: bugfix

#3289 Edit gitattribute text tag to auto
  .gitattributes
Labels: ignore changelog

#3088 Refactor parallel logic in pursuit of TPS
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/EURecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/IRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/RecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/machine/SimpleGeneratorMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableFluidTank.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableItemStackHandler.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/OverclockingLogic.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeHelper.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/ContentModifier.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/IntCircuitIngredient.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ModifierFunction.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ParallelLogic.java
  src/main/java/com/gregtechceu/gtceu/api/transfer/fluid/CustomFluidTank.java
  src/main/java/com/gregtechceu/gtceu/api/transfer/item/CustomItemStackHandler.java
  src/main/java/com/gregtechceu/gtceu/common/item/PortableScannerBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/DistillationTowerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeCombustionEngineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeTurbineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/SteamParallelMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/BedrockOreMinerLogic.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/FluidDrillLogic.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/miner/MinerLogic.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/RecipeLogicProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/RecipeLogicInfoProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTRecipeWidget.java
  src/main/java/com/gregtechceu/gtceu/utils/FluidKey.java
  src/main/java/com/gregtechceu/gtceu/utils/GTHashMaps.java
Labels: type: refactor

#3296 Fix Recipe Runner Error Reporting
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
Labels: type: bugfix
