Repository GregTechCEu/GregTech-Modern, pull requests merged in 2025-10, with the labels that each got.

#4005 Fix crash for missing brackets autogenerating too many materials
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
Labels: ignore changelog, type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3988 Slightly increase Large Turbine energy output and fuel burn
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeTurbineMachine.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3961 Read and Display Subtick Overclock Parallels separately from Hatch-based Parallels
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/WorkableElectricMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/OverclockingLogic.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ModifierFunction.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/ParallelProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/RecipeOutputProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/ParallelProvider.java
  src/test/java/com/gregtechceu/gtceu/api/recipe/OverclockLogicTest.java
Labels: type: refactor, type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#4010 Fix central monitor crash
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CentralMonitorMachine.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#4002 Alter Jade/TOP provider to display machine voltage tier by machine tier rather than by recipe/overclock tier
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/RecipeLogicProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/RecipeLogicInfoProvider.java
Labels: type: feature, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#4013 Fix proxy recipe log spam
  src/main/java/com/gregtechceu/gtceu/api/recipe/lookup/RecipeManagerHandler.java
Labels: ignore changelog, type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#4006 Add slice-by-slice recipe consumption
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/AssemblyLineMachine.java
  src/test/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/AssemblyLineTests.java
  src/test/resources/data/gtceu/structures/ass_line_4aev_4in.nbt
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#4036 Document Oil Sprout worldgen
  docs/content/Modpacks/Examples/Removing-Oil-Sprouts.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#4039 [MUI2] Fix image & adaptable sizing in GTGuiTextures
  src/main/java/com/gregtechceu/gtceu/common/mui/GTGuiTextures.java
Labels: type: bugfix, Release: Patch - 0.0.X

#4038 Fix Tooltip Rendering inside mui UIs
  src/main/java/com/gregtechceu/gtceu/api/mui/drawable/text/RichTextCompiler.java
Labels: Tests: Passed

#4043 Test Tile, Fixing Sync networking
  src/main/java/com/gregtechceu/gtceu/api/mui/drawable/GuiDraw.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/slot/FluidSlot.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/muimachine/TestMuiMachine.java
  src/main/java/com/gregtechceu/gtceu/common/mui/GTGuiTextures.java
  src/main/java/com/gregtechceu/gtceu/common/network/GTNetwork.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#4044 Fix Mouse Offsets in various contexts
  src/main/java/com/gregtechceu/gtceu/api/mui/widget/AbstractScrollWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widget/DraggableWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/SchemaWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/SliderWidget.java
  src/main/java/com/gregtechceu/gtceu/client/mui/screen/ClientScreenHandler.java
  src/main/java/com/gregtechceu/gtceu/client/mui/screen/DraggablePanelWrapper.java
  src/main/java/com/gregtechceu/gtceu/client/mui/screen/ModularPanel.java
  src/main/java/com/gregtechceu/gtceu/client/mui/screen/RichTooltip.java
  src/main/java/com/gregtechceu/gtceu/client/mui/screen/viewport/GuiContext.java
  src/main/java/com/gregtechceu/gtceu/client/mui/screen/viewport/ModularGuiContext.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#4037 [DOCS] Move multiblock examples into their own subfolder
  docs/content/Modpacks/Examples/Multiblocks/Example_Coil_Multiblock.md
  docs/content/Modpacks/Examples/Multiblocks/Example_Steam_Multiblock.md
  docs/content/Modpacks/Examples/Multiblocks/Example_Turbine.md
  docs/content/Modpacks/Examples/Multiblocks/Greenhouse.md
  docs/content/Modpacks/Examples/Multiblocks/Ore-Processing-Plant.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3992 fix larger miner crash game
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/miner/LargeMinerLogic.java
Labels: 1.21, type: bugfix, Release: Patch - 0.0.X
