Repository GregTechCEu/GregTech-Modern, pull requests merged in 2025-03, with the labels that each got.

#2837 Enable cover behavior for basic (untiered) solar panels
  src/main/java/com/gregtechceu/gtceu/common/cover/CoverSolarPanel.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTCovers.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
Labels: type: bugfix

#2922 update ja_jp.json
  src/main/resources/assets/gtceu/lang/ja_jp.json
Labels: type: translation

#2918 Make Cleanroom Casings respect the casing amount config.
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
Labels: type: bugfix

#2920 Add Comma Formatting to Cable Tooltips
  src/main/java/com/gregtechceu/gtceu/common/block/CableBlock.java
Labels: type: bugfix

#2916 Fix missing decomp for various Copper Blocks
  src/main/java/com/gregtechceu/gtceu/data/recipe/MaterialInfoLoader.java
Labels: type: bugfix

#2914 Fix temperature for sulfuric light fuel
  src/main/java/com/gregtechceu/gtceu/common/data/materials/UnknownCompositionMaterials.java
Labels: type: bugfix

#2908 Fix prospector waypoint message showing when no waypoint created
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/ProspectingMapWidget.java
Labels: type: refactor

#2896 Fix ParallelHatchPartMachine starting with 0 parallels
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ParallelHatchPartMachine.java
Labels: type: bugfix

#2898 Fix Detector Comparator calculation and add Latching toggle
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/cover/CoverBehavior.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/ToggleButtonWidget.java
  src/main/java/com/gregtechceu/gtceu/common/cover/MachineControllerCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/AdvancedEnergyDetectorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/AdvancedFluidDetectorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/AdvancedItemDetectorCover.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/utils/RedstoneUtil.java
Labels: type: bugfix

#2865 Fix conflict between Gold Drum and Gold Pressure Plate
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
Labels: type: bugfix, Merge on Major Release

#2917 Fix nano saber model
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
Labels: type: bugfix

#2913 Change Muffler hatch particles to campfire smoke
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IMufflerMachine.java
Labels: type: refactor

#2897 Fix Robot Arm Keep Exact functionality with item pipes
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/SimpleItemFilter.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/item/ItemNetHandler.java
Labels: type: bugfix

#2784 Fix drums that are not acid proof allows to fill acid
  src/main/java/com/gregtechceu/gtceu/api/capability/IThermalFluidHandlerItemStack.java
Labels: type: bugfix, Merge on Major Release

#2930 Adds onEntitySwing to IinteractionItem for left click interactions
  src/main/java/com/gregtechceu/gtceu/api/item/ComponentItem.java
  src/main/java/com/gregtechceu/gtceu/api/item/component/IInteractionItem.java
Labels: type: refactor

#2962 Fix advanced armor unlocalized name
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/assets/gtceu/models/item/advanced_nanomuscle_chestplate.json
  src/generated/resources/assets/gtceu/models/item/nano_saber/active.json
  src/generated/resources/data/forge/tags/items/armors/chestplates.json
  src/generated/resources/data/gtceu/tags/items/ppe_armor.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
  src/main/resources/assets/gtceu/textures/item/advanced_nanomuscle_chestplate.png
Labels: type: bugfix

#2963 fix the harder paper recipes from consuming the fluid container
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
Labels: type: bugfix

#2929 Update zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation

#2934 Update zh_tw.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: translation

#2983 Fix potential NPE in Assembly Line recipes
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/AssemblyLineMachine.java
Labels: type: bugfix

#2937 Fix fertilizer interaction
  src/main/java/com/gregtechceu/gtceu/common/item/FertilizerBehavior.java
Labels: type: bugfix

#2967 Added missing deepslate sound
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
Labels: type: bugfix

#2938 Fix long distance pipelines being very janky
  src/main/java/com/gregtechceu/gtceu/api/blockentity/MetaMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/LongDistanceEndpointMachine.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/fluidpipe/longdistance/LDFluidEndpointMachine.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/item/longdistance/LDItemEndpointMachine.java
Labels: 1.20, type: bugfix

#2970 Refactor all tag creations to use existing TagKeys
  src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
Labels: type: refactor

#2960 Refactor api to allow multiblocks to disable circuit slots on parts when formed
  src/main/java/com/gregtechceu/gtceu/api/machine/SimpleTieredMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/IHasCircuitSlot.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IMultiController.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/AssemblyLineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/FluidHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ItemBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEPatternBufferPartMachine.java
Labels: 1.20, type: refactor

#2877 Refactor JourneyMap integration
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/journeymap/FullscreenMixin.java
  src/main/java/com/gregtechceu/gtceu/integration/map/journeymap/JourneyMapPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/map/journeymap/JourneymapEventListener.java
  src/main/resources/gtceu.mixins.json
Labels: type: refactor

#2976 Fix cover overlay offset
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/OverlayTieredMachineRenderer.java
Labels: type: bugfix

#2977 Change error logging for KJS recipes and add missing builder method
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/prefix/TagPrefixBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
Labels: type: refactor

#2854 Fix Miner Pipe block breaking logic
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/miner/MinerLogic.java
Labels: type: bugfix, Merge on Major Release

#2910 Change Singleblock Miner to have an output face
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/MinerMachine.java
  src/main/resources/assets/gtceu/textures/block/machines/miner/overlay_front.png
Labels: type: refactor, Merge on Major Release

#2810 Add GT tool specific tags for crafting
  src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
Labels: type: refactor, Merge on Major Release

#2927 Fix Fluid Cell material properties
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/item/component/ThermalFluidStats.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
  src/main/resources/assets/gtceu/models/item/tungsten_steel_fluid_cell.json
  src/main/resources/assets/gtceu/textures/item/tungsten_steel_fluid_cell/base.png
  src/main/resources/assets/gtceu/textures/item/tungsten_steel_fluid_cell/overlay.png
  src/main/resources/assets/gtceu/textures/item/tungsten_steel_fluid_cell/overlay.png.mcmeta
Labels: type: refactor

#2990 Change `KNIVES` tag to be plural
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
Labels: type: refactor

#2782 Change electric Wire Cutter IDs to be consistent with the unpowered version
  src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
Labels: type: refactor, Merge on Major Release

#2991 Fix ItemBusPartMachine incorrectly disabling circuit slot
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ItemBusPartMachine.java
Labels: type: bugfix

#2994 Removes some item bloat
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/assets/gtceu/models/item/ancient_gold_coin.json
  src/generated/resources/assets/gtceu/models/item/chocolate_coin.json
  src/generated/resources/assets/gtceu/models/item/copper_credit.json
  src/generated/resources/assets/gtceu/models/item/credit_casting_mold.json
  src/generated/resources/assets/gtceu/models/item/cupronickel_credit.json
  src/generated/resources/assets/gtceu/models/item/doge_coin.json
  src/generated/resources/assets/gtceu/models/item/gold_credit.json
  src/generated/resources/assets/gtceu/models/item/naquadah_credit.json
  src/generated/resources/assets/gtceu/models/item/neutronium_credit.json
  src/generated/resources/assets/gtceu/models/item/osmium_credit.json
  src/generated/resources/assets/gtceu/models/item/platinum_credit.json
  src/generated/resources/assets/gtceu/models/item/silver_credit.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTCreativeModeTabs.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/data/lang/ItemLang.java
  src/main/java/com/gregtechceu/gtceu/data/loot/DungeonLootLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CraftingRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: refactor

#3012 Version Bump
  gradle.properties
Labels: ignore changelog

#2713 Refactor Crafting Components
  src/main/java/com/gregtechceu/gtceu/api/GTValues.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/BlastProperty.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CraftingComponent.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/GTCraftingComponents.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/alloyblast/AlloyBlastRecipeProducer.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/events/CraftingComponentsEventJS.java
Labels: type: refactor, Merge on Major Release

#2616 Improve TagPrefix-based Recipe Generation
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/info/MaterialFlag.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/info/MaterialFlags.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/info/MaterialIconType.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/FluidProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/OreProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipes.java
  src/main/java/com/gregtechceu/gtceu/common/item/TurbineRotorBehaviour.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/DecompositionRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/OreRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/PartsRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/PipeRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/PolarizingRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/RecyclingRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/ToolRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/WireCombiningHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/WireRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CraftingRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CustomToolRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/GCYMRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/RecyclingRecipes.java
  src/main/java/com/gregtechceu/gtceu/utils/GTUtil.java
Labels: type: refactor, Merge on Major Release

#2905 Refactor machine ownership to use player uuid
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/block/IMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/api/block/MetaMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/api/blockentity/MetaMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/machine/IMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/client/ClientProxy.java
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTSyncedFieldAccessors.java
  src/main/java/com/gregtechceu/gtceu/common/item/DataItemBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/PortableScannerBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/MetaMachineConfigCopyBehaviour.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/ArgonautsOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/FTBOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/IMachineOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/MachineOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/PlayerOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/RegisterOwnerTypeEvent.java
  src/main/java/com/gregtechceu/gtceu/data/lang/IntegrationLang.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
Labels: type: refactor, Merge on Major Release

#2634 remove brine process
  src/generated/resources/assets/gtceu/blockstates/stainless_evaporation_casing.json
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/assets/gtceu/models/block/stainless_evaporation_casing.json
  src/generated/resources/assets/gtceu/models/item/stainless_evaporation_casing.json
  src/generated/resources/data/ae2/tags/items/p2p_attunements/fluid_p2p_tunnel.json
  src/generated/resources/data/forge/tags/blocks/mineable/wrench.json
  src/generated/resources/data/gtceu/loot_tables/blocks/stainless_evaporation_casing.json
  src/generated/resources/data/minecraft/tags/blocks/mineable/pickaxe.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/FirstDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/HigherDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/SecondDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/BrineRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/ChemistryRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/ReactorRecipes.java
Labels: type: refactor, Merge on Major Release

#3002 Fix not being able to interact with prospector UI when no map mods were installed
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/ProspectingMapWidget.java
Labels: type: bugfix

#2973 Fix rotor holder renderer
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IRotorHolderMachine.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/RotorHolderMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/RotorHolderPartMachine.java
Labels: 1.20, type: bugfix

#2857 Refactor GTTools ui logic and add tree felling switch for axes
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/item/IGTTool.java
  src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  src/main/java/com/gregtechceu/gtceu/api/item/tool/ToolHelper.java
  src/main/java/com/gregtechceu/gtceu/api/item/tool/behavior/IToolUIBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/AOEConfigUIBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/TreeFellingBehavior.java
Labels: type: refactor, Merge on Major Release

#2830 Disallow covers on the front of Singleblock Machines
  src/main/java/com/gregtechceu/gtceu/api/cover/CoverBehavior.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ConveyorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/CoverSolarPanel.java
  src/main/java/com/gregtechceu/gtceu/common/cover/FluidFilterCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/InfiniteWaterCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ItemFilterCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/MachineControllerCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/PumpCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/ActivityDetectorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/EnergyDetectorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/FluidDetectorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/ItemDetectorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/MaintenanceDetectorCover.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumChestMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumTankMachine.java
Labels: type: refactor, Merge on Major Release

#2902 Send chat message when new ore veins are prospected
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/IntegrationLang.java
  src/main/java/com/gregtechceu/gtceu/integration/map/cache/client/GTClientCache.java
  src/main/java/com/gregtechceu/gtceu/integration/map/cache/server/ServerCache.java
  src/main/java/com/gregtechceu/gtceu/integration/map/ftbchunks/veins/ore/OreVeinIcon.java
  src/main/java/com/gregtechceu/gtceu/integration/map/journeymap/JourneymapRenderer.java
  src/main/java/com/gregtechceu/gtceu/integration/map/layer/builtin/OreRenderLayer.java
Labels: type: feature

#2737 Rename `IRecipeLogicMachine.dampingWhenWaiting` to `regressWhenWaiting`.
  src/main/java/com/gregtechceu/gtceu/api/machine/SimpleGeneratorMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/IRecipeLogicMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MultiblockMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/AirScrubberMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/research/ResearchStationMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeCombustionEngineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeTurbineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/CleanroomLogic.java
Labels: type: refactor, Merge on Major Release

#2997 Fix non-english lang for onion's prs
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: ignore changelog, type: bugfix

#3011 Adding Ukrainian localization
  src/main/resources/assets/gtceu/lang/uk_ua.json
Labels: ignore changelog, type: translation

#2683 Various Nitpick Changes
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/data/forge/tags/blocks/mineable/wire_cutter.json
  src/generated/resources/data/forge/tags/blocks/mineable/wrench.json
  src/generated/resources/data/forge/tags/blocks/storage_blocks.json
  src/generated/resources/data/gtceu/tags/blocks/mineable/pickaxe_or_wire_cutter.json
  src/generated/resources/data/gtceu/tags/blocks/mineable/pickaxe_or_wrench.json
  src/generated/resources/data/minecraft/tags/blocks/mineable/pickaxe.json
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  src/main/java/com/gregtechceu/gtceu/api/fluids/FluidState.java
  src/main/java/com/gregtechceu/gtceu/api/item/tool/ToolHelper.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/core/MixinHelpers.java
  src/main/java/com/gregtechceu/gtceu/data/lang/BlockLang.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/BlockTagLoader.java
Labels: type: bugfix, Merge on Major Release

#3014 Fix recently connected pipes not transfering fluid/items from machines/busses/hatches
  src/main/java/com/gregtechceu/gtceu/api/blockentity/PipeBlockEntity.java
Labels: type: bugfix

#3018 Fix NC Items being used in decomp
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
Labels: type: bugfix

#3017 Helper methods for Team Ownership
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/ArgonautsOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/FTBOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/MachineOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/PlayerOwner.java
Labels: type: refactor

#2966 Fix Tool charging resetting block break progress
  src/main/java/com/gregtechceu/gtceu/api/item/IGTTool.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/MultiPlayerGameModeMixin.java
Labels: type: bugfix

#3019 Fix jade crashing when ae2 isn't installed
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/GTFluidStorageProvider.java
Labels: type: bugfix
