Repository GregTechCEu/GregTech-Modern, pull requests merged in 2025-05, with the labels that each got.

#3113 fix searching in creative causing a crash
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MultiblockMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/machine/GTMachineUtils.java
Labels: type: bugfix

#2968 Add special behaviors to the Large Maceration Tower
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCYMMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/gcym/LargeMacerationTowerMachine.java
Labels: type: feature

#3127 Limit the rate of mob crushing
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/gcym/LargeMacerationTowerMachine.java
Labels: type: bugfix

#3131 Fix Minecraft blaming GT if neoforge encountered a mod loading error before registration events.
  src/main/java/com/gregtechceu/gtceu/core/mixins/ModelManagerMixin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
Labels: type: bugfix

#3134 Fix recipe viewer displays
  gradle/scripts/repositories.gradle
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/data/c/tags/item/tools/igniter.json
  src/main/java/com/gregtechceu/gtceu/GTCEu.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/RecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/fluid/FluidBuilder.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/category/GTRecipeCategory.java
  src/main/java/com/gregtechceu/gtceu/client/forge/ForgeClientEventListener.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/MaintenanceHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/CharcoalPileIgniterMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/CrateMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/CreativeChestMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/CreativeTankMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/DrumMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumChestMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumTankMachine.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/condition/DimensionCondition.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/RecipeManagerLateMixin.java
  src/main/java/com/gregtechceu/gtceu/data/datagen/lang/ItemLang.java
  src/main/java/com/gregtechceu/gtceu/data/item/GTItems.java
  src/main/java/com/gregtechceu/gtceu/data/machine/GTMachineUtils.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/data/tag/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/GTEMIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/circuit/GTProgrammedCircuitCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/multipage/MultiblockInfoEmiRecipe.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/oreprocessing/GTEmiOreProcessing.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/Ae2PatternTerminalHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/helpers/GTResourceLocation.java
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/uk_ua.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: bugfix

#3138 Update ModDevGradle
  dependencies.gradle
  gradle/libs.versions.toml
  gradle/scripts/jars.gradle
  gradle/scripts/moddevgradle.gradle
  gradle/scripts/publishing.gradle
  gradle/scripts/repositories.gradle
Labels: ignore changelog, type: refactor

#3139 merge 1.20 changes to 1.21
  .github/workflows/manage-issue-labels.yml
  .github/workflows/manual-autolabel.yml
  dependencies.gradle
  gradle/libs.versions.toml
  gradle/scripts/jars.gradle
  gradle/scripts/moddevgradle.gradle
  gradle/scripts/repositories.gradle
  src/generated/resources/data/forge/tags/items/coral_blocks.json
  src/generated/resources/data/forge/tags/items/corals.json
  src/main/java/com/gregtechceu/gtceu/api/item/IGTTool.java
  src/main/java/com/gregtechceu/gtceu/api/item/armor/ArmorLogicSuite.java
  src/main/java/com/gregtechceu/gtceu/api/item/component/ElectricStats.java
  src/main/java/com/gregtechceu/gtceu/api/material/ChemicalHelper.java
  src/main/java/com/gregtechceu/gtceu/api/material/material/ItemMaterialData.java
  src/main/java/com/gregtechceu/gtceu/api/material/material/stack/ItemMaterialInfo.java
  src/main/java/com/gregtechceu/gtceu/common/item/armor/AdvancedNanoMuscleSuite.java
  src/main/java/com/gregtechceu/gtceu/common/item/armor/AdvancedQuarkTechSuite.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/gcym/LargeMacerationTowerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/pack/GTDynamicDataPack.java
  src/main/java/com/gregtechceu/gtceu/common/pack/GTDynamicPackContents.java
  src/main/java/com/gregtechceu/gtceu/common/pack/GTDynamicResourcePack.java
  src/main/java/com/gregtechceu/gtceu/common/pack/package-info.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ReloadableServerResourcesMixin.java
  src/main/java/com/gregtechceu/gtceu/data/datagen/datamap/DataMapsHandler.java
  src/main/java/com/gregtechceu/gtceu/data/datagen/lang/ItemLang.java
  src/main/java/com/gregtechceu/gtceu/data/datagen/tag/ItemTagLoader.java
  src/main/java/com/gregtechceu/gtceu/data/datamap/GTDataMaps.java
  src/main/java/com/gregtechceu/gtceu/data/machine/GCYMMachines.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/GTRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/VanillaRecipeHelper.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/ComposterRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tag/CustomTags.java
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: ignore changelog

#3093 Clean up tag generation
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/data/ae2/tags/items/p2p_attunements/fluid_p2p_tunnel.json
  src/generated/resources/data/forge/tags/blocks/storage_blocks.json
  src/generated/resources/data/forge/tags/items/coral_blocks.json
  src/generated/resources/data/forge/tags/items/coral_blocks/alive.json
  src/generated/resources/data/forge/tags/items/coral_blocks/dead.json
  src/generated/resources/data/forge/tags/items/coral_fans.json
  src/generated/resources/data/forge/tags/items/coral_fans/alive.json
  src/generated/resources/data/forge/tags/items/coral_fans/dead.json
  src/generated/resources/data/forge/tags/items/coral_plants.json
  src/generated/resources/data/forge/tags/items/coral_plants/alive.json
  src/generated/resources/data/forge/tags/items/coral_plants/dead.json
  src/generated/resources/data/forge/tags/items/corals.json
  src/generated/resources/data/forge/tags/items/corals/alive.json
  src/generated/resources/data/forge/tags/items/corals/dead.json
  src/generated/resources/data/forge/tags/items/dyes/brown.json
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/forge/GTFluidBuilder.java
  src/main/java/com/gregtechceu/gtceu/core/MixinHelpers.java
  src/main/java/com/gregtechceu/gtceu/data/GregTechDatagen.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MiscRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/BlockTagLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/EntityTypeTagLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/FluidTagLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/ItemTagLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/TagsHandler.java
Labels: type: refactor

#3125 Fix Multiblock Pattern slot widgets not showing tooltips
  src/main/java/com/gregtechceu/gtceu/core/mixins/ldlib/ModularWrapperWidgetMixin.java
  src/main/resources/gtceu.mixins.json
Labels: type: bugfix

#3104 Update zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation

#3099 Add JADE info for the conversion mode of the Energy Converter
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/GTJadePlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/EnergyConverterModeProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/TheOneProbePlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/EnergyConverterModeProvider.java
Labels: type: feature

#3085 Fix wiki inaccuracy
  docs/content/Modpacks/Other-Topics/Custom-Machines.md
Labels: Documentation, ignore changelog

#3081 Add BigInteger support to Energy Detector Covers
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/AdvancedEnergyDetectorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/EnergyDetectorCover.java
  src/main/java/com/gregtechceu/gtceu/utils/GTMath.java
  src/main/java/com/gregtechceu/gtceu/utils/RedstoneUtil.java
Labels: type: refactor

#3140 Fix SNAPSHOT metadata using hyphen instead of plus
  .github/workflows/auto-build.yml
  gradle/scripts/resources.gradle
Labels: ignore changelog, type: bugfix

#3144 Update zh_cn.json (1.21)
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation

#3145 Translated using Weblate (Russian) for 1.20.1
  src/main/resources/assets/gtceu/lang/ru_ru.json
Labels: type: translation

#3152 Fix Cleanroom Tier Bug
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CleanroomMachine.java
Labels: type: bugfix

#3135 Remove `SERVER_TICK` block property
  src/main/java/com/gregtechceu/gtceu/api/block/BlockProperties.java
  src/main/java/com/gregtechceu/gtceu/api/block/IMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/api/block/MetaMachineBlock.java
  src/main/java/com/gregtechceu/gtceu/api/block/PipeBlock.java
  src/main/java/com/gregtechceu/gtceu/api/blockentity/PipeBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
Labels: type: refactor

#3143 Update zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation

#3166 Update zh_tw.json (1.20.1)
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: 1.20, type: translation

#3172 Cleanup workflows
  .github/actions/build_setup/action.yml
  .github/advanced-issue-labeler.yml
  .github/json/config-1.21.json
  .github/json/config-latest-1.21.json
  .github/json/config-latest.json
  .github/json/config.json
  .github/labeler.yml
  .github/workflows/auto-build.yml
  .github/workflows/build-on-push.yml
  .github/workflows/clean.yml
  .github/workflows/format-java.yml
  .github/workflows/manage-issue-labels.yml
  .github/workflows/manual-autolabel.yml
  .github/workflows/publish.yml
  .github/workflows/update-gradle-cache.yml
Labels: ignore changelog
