Repository GregTechCEu/GregTech-Modern, pull requests merged in 2025-01, with the labels that each got.

#2623 Add durability-based decomposition to Rotors and Tools
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/customlogic/ArcFurnaceLogic.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/customlogic/MaceratorLogic.java
  src/main/java/com/gregtechceu/gtceu/data/lang/MachineLang.java
Labels: type: feature

#2642 Add FTB Chunks ore prospector compatibility
  dependencies.gradle
  settings.gradle
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/gui/misc/ProspectorMode.java
  src/main/java/com/gregtechceu/gtceu/client/ClientProxy.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ftbchunks/FTBChunksClientMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ftbchunks/LargeMapScreenMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ftbchunks/RegionMapPanelMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/journeymap/FullscreenMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/xaerominimap/HighlighterRegistryMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/xaerominimap/MinimapFBORendererMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/xaeroworldmap/GuiMapMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/xaeroworldmap/MapElementRenderHandlerBuilderMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/xaeroworldmap/WorldMapSessionMixin.java
  src/main/java/com/gregtechceu/gtceu/data/lang/IntegrationLang.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/map/GroupingMapRenderer.java
  src/main/java/com/gregtechceu/gtceu/integration/map/WaypointManager.java
  src/main/java/com/gregtechceu/gtceu/integration/map/ftbchunks/FTBChunksOptions.java
  src/main/java/com/gregtechceu/gtceu/integration/map/ftbchunks/FTBChunksPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/map/ftbchunks/FTBChunksRenderer.java
  src/main/java/com/gregtechceu/gtceu/integration/map/ftbchunks/FTBChunksWaypointHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/map/ftbchunks/veins/fluid/FluidVeinIcon.java
  src/main/java/com/gregtechceu/gtceu/integration/map/ftbchunks/veins/fluid/FluidVeinWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/map/ftbchunks/veins/ore/OreVeinIcon.java
  src/main/java/com/gregtechceu/gtceu/integration/map/layer/builtin/OreRenderLayer.java
  src/main/java/com/gregtechceu/gtceu/integration/map/xaeros/XaerosMapPlugin.java
  src/main/resources/gtceu.mixins.json
Labels: type: feature

#2652 Crafting Component Refactor
  src/main/java/com/gregtechceu/gtceu/api/GTValues.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CraftingComponent.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/GTCraftingComponents.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/alloyblast/AlloyBlastRecipeProducer.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/events/CraftingComponentsEventJS.java
Labels: type: refactor

#2668 Optimize ParallelLogic loops slightly
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ParallelLogic.java
Labels: type: refactor

#2677 Fix tree felling helper memory leak
  src/main/java/com/gregtechceu/gtceu/api/item/tool/TreeFellingHelper.java
Labels: type: refactor

#2678 Fix AIOOBE Cleanroom crash
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CleanroomMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/CharcoalPileIgniterMachine.java
Labels: type: bugfix

#2679 Red Sand Arc Furnace
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
Labels: type: bugfix

#2680 Stone Type Entry Material Fix
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/StoneMachineRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
Labels: type: bugfix

#2681 Rotor Holder Lighting Fix
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/RotorHolderMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/RotorHolderPartMachine.java
Labels: type: bugfix

#2682 Add Tooltips to Cells/Vials
  src/main/java/com/gregtechceu/gtceu/api/item/component/ThermalFluidStats.java
Labels: type: feature

#2687 Add tooltips to Ores on Xaero's World Map
  src/main/java/com/gregtechceu/gtceu/integration/map/xaeros/worldmap/ore/OreVeinElementReader.java
Labels: type: feature

#2688 Fix prospecting inconsistencies
  src/main/java/com/gregtechceu/gtceu/api/gui/misc/ProspectorMode.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/ProspectingMapWidget.java
  src/main/java/com/gregtechceu/gtceu/common/item/PortableScannerBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/network/GTNetwork.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/SPacketOreProspect.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/prospecting/SPacketProspect.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/prospecting/SPacketProspectBedrockFluid.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/prospecting/SPacketProspectBedrockOre.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/prospecting/SPacketProspectOre.java
  src/main/java/com/gregtechceu/gtceu/integration/map/cache/server/ServerCache.java
Labels: type: bugfix

#2709 Fix EMI and REI loaded checks
  src/main/java/com/gregtechceu/gtceu/GTCEu.java
Labels: type: bugfix

#2705 Fix missing spaces in stone recipes
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/StoneMachineRecipes.java
Labels: type: bugfix

#2691 Modifying the RTM alloy coil texture and mcmeta reference files
  src/main/resources/assets/gtceu/textures/block/casings/coils/machine_coil_rtm_alloy.png
  src/main/resources/assets/gtceu/textures/block/casings/coils/machine_coil_rtm_alloy.png.mcmeta
  src/main/resources/assets/gtceu/textures/block/casings/coils/machine_coil_rtm_alloy_bloom.png.mcmeta
  src/main/resources/assets/gtceu/textures/block/casings/coils/machine_coil_rtm_alloy_ctm.png
Labels: type: refactor

#2707 Update zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation

#2701 Update ru_ru
  src/main/resources/assets/gtceu/lang/ru_ru.json
Labels: type: translation

#2697 Use `LinkedHashSet` for Breadth First Search.
  src/main/java/com/gregtechceu/gtceu/utils/BreadthFirstBlockSearch.java
Labels: type: refactor

#2708 Revert "Crafting Component Refactor (#2652)"
  src/main/java/com/gregtechceu/gtceu/api/GTValues.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CraftingComponent.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/GTCraftingComponents.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/alloyblast/AlloyBlastRecipeProducer.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/events/CraftingComponentsEventJS.java
Labels: ignore changelog

#2717 Fix cleanrooms not allowing 4 full doors in structure
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CleanroomMachine.java
Labels: type: bugfix

#2712 Add ability for Nano/Quark boots to walk on powder snow 🥶
  src/main/java/com/gregtechceu/gtceu/api/item/armor/ArmorComponentItem.java
Labels: type: feature

#2710 Fix rotors not being distinguishable by recipe viewers
  src/main/java/com/gregtechceu/gtceu/integration/emi/GTEMIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/GTJEIPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/GTREIPlugin.java
Labels: type: bugfix

#2711 Add Maintenance predicate on layer 2 of DT
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
Labels: type: feature

#2718 Mark required research data as a catalyst in XEI.
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
Labels: type: feature

#2719 Add various GUI changes relating to Parallel Recipes
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/WorkableElectricMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/ParallelProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/RecipeOutputProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/ParallelProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/RecipeOutputProvider.java
  src/main/java/com/gregtechceu/gtceu/syncdata/GTRecipePayload.java
  src/main/resources/assets/gtceu/lang/ru_ru.json
Labels: type: feature

#2721 Fix Voiding Cover + Soft Mallet interaction
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ConveyorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/PumpCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/voiding/FluidVoidingCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/voiding/ItemVoidingCover.java
Labels: type: bugfix

#2722 Change various Steam Bus elements
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/SteamItemBusPartMachine.java
Labels: type: refactor

#2723 Change intermediate products in Ore Processing Page to BOTH
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTOreByProductWidget.java
Labels: type: refactor

#2724 Fix empty bucket showing fluid tootlip
  src/main/java/com/gregtechceu/gtceu/client/TooltipsHandler.java
Labels: type: bugfix

#2725 Fix charcoal pile igniter pattern
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/CharcoalPileIgniterMachine.java
Labels: type: bugfix

#2727 Remove Quartz Slab Cutter recipe due to conflict
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/StoneMachineRecipes.java
Labels: type: refactor

#2728 Add freeze immunity to QuarkTech Chestplate
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/data/minecraft/tags/items/freeze_immune_wearables.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/common/item/armor/QuarkTechSuite.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: feature

#2729 Fix various steam miner issues
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/steam/SteamMinerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/miner/SteamMinerLogic.java
Labels: type: bugfix

#2730 Add sign and sheep dying capability to Chemical Dyes
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
Labels: type: feature

#2732 Fix solvent spray can not actually removing paint color
  src/main/java/com/gregtechceu/gtceu/common/item/ColorSprayBehaviour.java
Labels: type: bugfix

#2734 Fix miner duplication for self-dropping blocks
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/miner/LargeMinerLogic.java
Labels: type: bugfix

#2731 Change damping to be a property of definition rather than class
  src/main/java/com/gregtechceu/gtceu/api/machine/MachineDefinition.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/IRecipeLogicMachine.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MultiblockMachineBuilder.java
Labels: type: refactor

#2790 Downgrade journeymap-api
  settings.gradle
Labels: ignore changelog

#2769 Add magnet filters
  src/main/java/com/gregtechceu/gtceu/common/item/ItemMagnetBehavior.java
Labels: type: feature

#2785 Configurable Electric Singleblock miner speed
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: refactor

#2786 Filter nitpicks
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/Filter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/FilterHandler.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/SimpleFluidFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/SimpleItemFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/SmartItemFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/TagFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/TagFluidFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/TagItemFilter.java
Labels: type: bugfix

#2773 Rewrite biome coloring to not require rendering mod patches
  src/main/java/com/gregtechceu/gtceu/client/EnvironmentalHazardClientHandler.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/BiomeColorsMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/BlockColorsMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/GregTechMixinPlugin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/embeddium/BiomeColorCacheMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/embeddium/VanillaColorAdapterMixin.java
  src/main/resources/gtceu.mixins.json
Labels: type: refactor

#2776 Make steam miners also break miner pipe when broken
  src/main/java/com/gregtechceu/gtceu/common/machine/steam/SteamMinerMachine.java
Labels: type: bugfix

#2759 Use "B" instead of "kmB" in ME Input Hatches.
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/slot/AEFluidConfigSlotWidget.java
Labels: type: refactor

#2758 Stop showing "Running 1 parallel." in Jade/TOP.
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/ParallelProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/ParallelProvider.java
Labels: type: bugfix

#2757 Add assembler recipes for fishing rods
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
Labels: type: feature

#2750 Change circuits for tungsten carbide and titanium carbide
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/GCYMRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/MixerRecipes.java
Labels: type: bugfix

#2787 Restructure Gradle for Dev Efficiency
  .github/workflows/auto-build.yml
  .github/workflows/publish.yml
  build.gradle
  dependencies.gradle
  gradle.properties
  gradle/forge.versions.toml
  gradle/libs.versions.toml
  gradle/scripts/jars.gradle
  gradle/scripts/moddevgradle.gradle
  gradle/scripts/publishing.gradle
  gradle/scripts/repositories.gradle
  gradle/scripts/resources.gradle
  gradle/scripts/spotless.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
Labels: type: refactor
