Repository GregTechCEu/GregTech-Modern, pull requests merged in 2025-07, with the labels that each got.

#3292 Batch Mode
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/gui/GuiTextures.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IMultiController.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/WorkableElectricMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ModifierFunction.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ParallelLogic.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeModifiers.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GCYMMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/FusionReactorMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/gcym/LargeChemicalBathMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/gcym/LargeMixerMachine.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/resources/assets/gtceu/textures/gui/widget/button_batch.png
Labels: type: feature

#3301 fix research holder items crashing if the research recipe's only output is a fluid
  dependencies.gradle
  gradle/forge.versions.toml
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/client/util/RenderUtil.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/GuiGraphicsMixin.java
  src/main/java/com/gregtechceu/gtceu/utils/OverlayingFluidStorage.java
Labels: type: bugfix

#3308 Fix Capability Max Log Spam
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
Labels: type: bugfix

#3309 Fix Creative Energy Container not having an outline
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/CreativeEnergyContainerMachine.java
Labels: type: bugfix

#3314 fix ranged outputs part 4: my bad.
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
Labels: ignore changelog, type: bugfix

#3315 fix fluid outputs after #3273
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableFluidTank.java
Labels: ignore changelog, type: bugfix

#3237 Add color based input seperation
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/part/MultiblockPartMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeHandlerGroup.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeHandlerGroupColor.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeHandlerGroupDistinctness.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeHandlerList.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeHelper.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/FluidHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ItemBusPartMachine.java
Labels: type: feature, Major Release

#3313 Add Visual Overlay for Colored Hatches
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/OverlayTieredMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/item/ColorSprayBehaviour.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/FluidHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ItemBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/StainedColorProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/StainedColorProvider.java
  src/main/resources/assets/gtceu/models/block/machine/part/fluid_hatch.export.json
  src/main/resources/assets/gtceu/models/block/machine/part/fluid_hatch.export_4x.json
  src/main/resources/assets/gtceu/models/block/machine/part/fluid_hatch.export_9x.json
  src/main/resources/assets/gtceu/models/block/machine/part/fluid_hatch.import.json
  src/main/resources/assets/gtceu/models/block/machine/part/fluid_hatch.import_4x.json
  src/main/resources/assets/gtceu/models/block/machine/part/fluid_hatch.import_9x.json
  src/main/resources/assets/gtceu/models/block/machine/part/item_bus.export.json
  src/main/resources/assets/gtceu/models/block/machine/part/item_bus.import.json
  src/main/resources/assets/gtceu/models/block/machine/part/me_fluid_hatch.export.json
  src/main/resources/assets/gtceu/models/block/machine/part/me_fluid_hatch.import.json
  src/main/resources/assets/gtceu/models/block/machine/part/me_item_bus.export.json
  src/main/resources/assets/gtceu/models/block/machine/part/me_item_bus.import.json
  src/main/resources/assets/gtceu/models/block/overlay/front.json
  src/main/resources/assets/gtceu/models/block/overlay/front_color_ring.json
  src/main/resources/assets/gtceu/models/block/overlay/front_emissive.json
  src/main/resources/assets/gtceu/models/block/overlay/front_emissive_color_ring.json
  src/main/resources/assets/gtceu/textures/block/overlay/machine/overlay_color.png
Labels: type: feature

#3305 Use Super and Quantum Tanks as cells
  src/main/java/com/gregtechceu/gtceu/api/item/QuantumTankMachineItem.java
  src/main/java/com/gregtechceu/gtceu/api/misc/forge/QuantumFluidHandlerItemStack.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/QuantumTankRenderer.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMachineUtils.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumTankMachine.java
Labels: type: feature

#3316 Fix Recipe Group having null key in some scenarios
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeHandlerList.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/FluidHatchPartMachine.java
Labels: ignore changelog, type: bugfix

#3310 Add initial computercraft support
  dependencies.gradle
  gradle/forge.versions.toml
  gradle/scripts/repositories.gradle
  src/main/java/com/gregtechceu/gtceu/GTCEu.java
  src/main/java/com/gregtechceu/gtceu/api/GTValues.java
  src/main/java/com/gregtechceu/gtceu/api/capability/IEnergyContainer.java
  src/main/java/com/gregtechceu/gtceu/api/capability/IEnergyInfoProvider.java
  src/main/java/com/gregtechceu/gtceu/api/misc/EnergyInfoProviderList.java
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/BatteryBufferMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/ChargerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/PowerSubstationMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/cctweaked/CCTweakedPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/cctweaked/peripherals/EnergyInfoPeripheral.java
Labels: type: feature

#3327 fix inverted directions in getSorter()
  src/main/java/com/gregtechceu/gtceu/api/pattern/util/RelativeDirection.java
Labels: ignore changelog, type: bugfix

#3328 fix containers not being able to pick up machine inputs tanks' contents
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/TankWidget.java
Labels: ignore changelog, type: bugfix

#3318 Fix distinct state of buffers and proxies
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/trait/InternalSlotRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/trait/ProxySlotRecipeHandler.java
Labels: ignore changelog, type: bugfix

#3325 Clean up spray paint color handling
  src/main/java/com/gregtechceu/gtceu/api/machine/IMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/common/item/ColorSprayBehaviour.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/StainedColorProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/StainedColorProvider.java
  src/main/java/com/gregtechceu/gtceu/utils/BreadthFirstBlockSearch.java
Labels: type: refactor

#3329 restrict pipe connection from neighbor
  src/main/java/com/gregtechceu/gtceu/common/blockentity/LaserPipeBlockEntity.java
Labels: ignore changelog, type: bugfix

#3326 Stop sending neighbor updates for all active blocks in a multi
  src/main/java/com/gregtechceu/gtceu/api/block/ActiveBlock.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/WorkableMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/api/pattern/MultiblockState.java
  src/main/java/com/gregtechceu/gtceu/api/pattern/MultiblockWorldSavedData.java
  src/main/java/com/gregtechceu/gtceu/api/pattern/Predicates.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ChunkMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/LevelMixin.java
  src/main/resources/gtceu.mixins.json
Labels: type: refactor

#3322 Fix armor charging causing a crash if the offhand item is switched repeatedly
  src/main/java/com/gregtechceu/gtceu/api/item/armor/ArmorUtils.java
Labels: type: bugfix

#3323 add CC support for getting a machine's recipe progress and turning them on/off
  src/main/java/com/gregtechceu/gtceu/integration/cctweaked/CCTweakedPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/cctweaked/peripherals/ControllablePeripheral.java
  src/main/java/com/gregtechceu/gtceu/integration/cctweaked/peripherals/WorkablePeripheral.java
Labels: type: feature

#3299 Multi Amp Recipes
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/GTValues.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/EURecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/RecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/codec/GTCodecUtils.java
  src/main/java/com/gregtechceu/gtceu/api/gui/fancy/ConfiguratorPanel.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/ButtonWidget.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/PredicatedButtonWidget.java
  src/main/java/com/gregtechceu/gtceu/api/machine/SimpleGeneratorMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/WorkableTieredMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/steam/SteamEnergyRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/ICapabilityTrait.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableEnergyContainer.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeAmperageEnergyContainer.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeHandlerList.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/api/misc/EnergyContainerList.java
  src/main/java/com/gregtechceu/gtceu/api/misc/IgnoreEnergyRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeSerializer.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/OverclockingLogic.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeHelper.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/IContentSerializer.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/SerializerBigInteger.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/SerializerBlockState.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/SerializerEnergyStack.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/EnergyStack.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/ModifierFunction.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ui/GTRecipeTypeUI.java
  src/main/java/com/gregtechceu/gtceu/common/data/GCYMRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeCapabilities.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeModifiers.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/item/PortableScannerBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/ActiveTransformerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/PowerSubstationMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeCombustionEngineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeTurbineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/PrimitivePumpMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/SteamParallelMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/miner/MinerLogic.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/RecipeUtil.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/RecipeLogicProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/GTRecipeTypeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/KJSHelpers.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/components/GTRecipeComponents.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/RecipeLogicInfoProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTRecipeWidget.java
Labels: type: feature

#3283 Update zh_tw.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: translation

#3333 Re-enable remapping on mixin target in LevelMixin
  src/main/java/com/gregtechceu/gtceu/core/mixins/LevelMixin.java
Labels: ignore changelog

#3307 refactor material builder api to allow for custom tags
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
  src/main/java/com/gregtechceu/gtceu/core/MixinHelpers.java
Labels: ignore changelog, type: refactor

#3332 Switch networking code to use forge SimpleChannel directly, instead of ldlib networking wrapper
  src/main/java/com/gregtechceu/gtceu/api/cosmetics/CapeRegistry.java
  src/main/java/com/gregtechceu/gtceu/common/capability/EnvironmentalHazardSavedData.java
  src/main/java/com/gregtechceu/gtceu/common/commands/GTClientCommands.java
  src/main/java/com/gregtechceu/gtceu/common/item/PortableScannerBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/AirScrubberMachine.java
  src/main/java/com/gregtechceu/gtceu/common/network/GTNetwork.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/CPacketKeysPressed.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/SCPacketShareProspection.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/SPacketNotifyCapeChange.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/SPacketSendWorldID.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/SPacketSyncBedrockOreVeins.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/SPacketSyncFluidVeins.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/SPacketSyncOreVeins.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/hazard/SPacketAddHazardZone.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/hazard/SPacketRemoveHazardZone.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/hazard/SPacketSyncHazardZoneStrength.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/hazard/SPacketSyncLevelHazards.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/prospecting/SPacketProspect.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/prospecting/SPacketProspectBedrockFluid.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/prospecting/SPacketProspectBedrockOre.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/prospecting/SPacketProspectOre.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
  src/main/java/com/gregtechceu/gtceu/integration/map/cache/server/ServerCache.java
  src/main/java/com/gregtechceu/gtceu/utils/input/KeyBind.java
Labels: type: refactor

#3336 Fix BedrockFluidDefinition losing data on world load
  src/main/java/com/gregtechceu/gtceu/api/data/worldgen/bedrockfluid/FluidVeinWorldEntry.java
Labels: type: bugfix

#3026 Start Deprecation of Chance Boosting and Migrate to New Chance Rates
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeType.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/content/Content.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/MaterialRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/OreRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CircuitRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/SeparationRecipes.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTOreByProduct.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTRecipeWidget.java
Labels: type: refactor

#3345 Fix batch mode showing in the wrong multis
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/WorkableElectricMultiblockMachine.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/modifier/RecipeModifierList.java
Labels: type: bugfix

#3341 The most minor of model fixes
  src/generated/resources/assets/gtceu/models/block/machine/configurable_maintenance_hatch.json
  src/generated/resources/assets/gtceu/models/block/machine/maintenance_hatch.json
  src/generated/resources/assets/gtceu/models/block/machine/primitive_pump.json
  src/generated/resources/assets/gtceu/models/block/overlay/machine/overlay_steam_vent.json
  src/main/java/com/gregtechceu/gtceu/api/blockentity/IPaintable.java
  src/main/java/com/gregtechceu/gtceu/api/machine/IMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/client/forge/ForgeClientEventListener.java
  src/main/java/com/gregtechceu/gtceu/client/model/IBlockEntityRendererBakedModel.java
  src/main/java/com/gregtechceu/gtceu/client/model/machine/IMachineRendererModel.java
  src/main/java/com/gregtechceu/gtceu/client/model/machine/MachineModel.java
  src/main/java/com/gregtechceu/gtceu/client/model/machine/MachineModelLoader.java
  src/main/java/com/gregtechceu/gtceu/client/model/machine/multipart/MultiPartBakedModel.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/DynamicRender.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/impl/BoilerMultiPartRender.java
  src/main/java/com/gregtechceu/gtceu/client/util/ModelUtils.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMachineUtils.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/models/GTMachineModels.java
  src/main/java/com/gregtechceu/gtceu/common/item/ColorSprayBehaviour.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/LevelRendererMixin.java
  src/main/java/com/gregtechceu/gtceu/data/model/BlockstateModelLoader.java
  src/main/java/com/gregtechceu/gtceu/data/model/builder/MachineModelBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/model/builder/PartCondition.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/StainedColorProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/StainedColorProvider.java
  src/main/java/com/gregtechceu/gtceu/utils/data/RuntimeExistingFileHelper.java
  src/main/resources/assets/gtceu/models/block/machine/part/pump_hatch.json
  src/main/resources/assets/gtceu/models/block/machine/part/steam_hatch.json
  src/main/resources/assets/gtceu/models/block/machine/template/cube_all/single.json
  src/main/resources/assets/gtceu/models/block/machine/template/sided/single.json
Labels: ignore changelog, type: bugfix

#3355 change the default machine model path
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
Labels: ignore changelog, type: bugfix

#3362 Fix KJS machines from NPEing
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
Labels: ignore changelog, type: bugfix

#3361 Revert `MachineBuilder#machine` being made final
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MultiblockMachineBuilder.java
Labels: ignore changelog, type: bugfix

#3375 fix the GT recipe serializer desyncing itself
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipeSerializer.java
Labels: ignore changelog, type: bugfix

#3376 fix machine block entities loading AE2 classes
  src/main/java/com/gregtechceu/gtceu/api/blockentity/MetaMachineBlockEntity.java
Labels: ignore changelog, type: bugfix

#3374 Fix machine overlays Z-fighting
  src/main/java/com/gregtechceu/gtceu/client/model/TextureOverrideModel.java
  src/main/java/com/gregtechceu/gtceu/client/model/machine/MachineModel.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/cover/FacadeCoverRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/cover/IOCoverRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/cover/SimpleCoverRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/util/StaticFaceBakery.java
  src/main/resources/assets/gtceu/models/block/machine/template/cube_all/sided.json
  src/main/resources/assets/gtceu/models/block/machine/template/sided/sided.json
  src/main/resources/assets/gtceu/models/block/overlay/2_layer/front.json
  src/main/resources/assets/gtceu/models/block/overlay/2_layer/front_emissive.json
  src/main/resources/assets/gtceu/models/block/overlay/2_layer/front_emissive_color_ring.json
  src/main/resources/assets/gtceu/models/block/overlay/2_layer/tinted/front.json
  src/main/resources/assets/gtceu/models/block/overlay/2_layer/top_emissive.json
  src/main/resources/assets/gtceu/models/block/overlay/front.json
  src/main/resources/assets/gtceu/models/block/overlay/front_color_ring.json
  src/main/resources/assets/gtceu/models/block/overlay/front_emissive.json
  src/main/resources/assets/gtceu/models/block/overlay/front_emissive_color_ring.json
  src/main/resources/assets/gtceu/models/block/overlay/only/2_layer/front.json
  src/main/resources/assets/gtceu/models/block/overlay/only/2_layer/front_emissive.json
  src/main/resources/assets/gtceu/models/block/overlay/only/2_layer/front_emissive_color_ring.json
  src/main/resources/assets/gtceu/models/block/overlay/only/front.json
  src/main/resources/assets/gtceu/models/block/overlay/only/front_color_ring.json
  src/main/resources/assets/gtceu/models/block/overlay/only/front_emissive.json
  src/main/resources/assets/gtceu/models/block/overlay/only/front_emissive_color_ring.json
  src/main/resources/assets/gtceu/models/block/overlay/top_emissive.json
Labels: ignore changelog, type: bugfix

#3367 add the other standard tags to dough and wheat
  src/generated/resources/data/forge/tags/items/dough.json
  src/generated/resources/data/forge/tags/items/dough/wheat.json
  src/generated/resources/data/forge/tags/items/grain.json
  src/generated/resources/data/forge/tags/items/grain/wheat.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MiscRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/ItemTagLoader.java
Labels: type: bugfix

#3366 fix the computer monitor's and machine controller's textures
  src/main/java/com/gregtechceu/gtceu/api/gui/GuiTextures.java
  src/main/resources/assets/gtceu/textures/block/cover/computer_monitor.png
  src/main/resources/assets/gtceu/textures/block/cover/computer_monitor_emissive.png
  src/main/resources/assets/gtceu/textures/block/cover/machine_controller.png
Labels: ignore changelog, type: bugfix

#3379 downgrade KubeJS to a released version
  dependencies.gradle
  gradle/forge.versions.toml
  src/main/java/com/gregtechceu/gtceu/api/machine/IMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/api/worldgen/bedrockfluid/FluidVeinWorldEntry.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/GTRecipes.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GTKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/events/CraftingComponentsKubeEvent.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTShapedRecipeSchema.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/components/CapabilityMapComponent.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/components/ContentJS.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/components/GTRecipeComponents.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/components/JavaMapRecipeComponent.java
Labels: 1.21, ignore changelog, type: refactor, type: bugfix

#3385 Fix overlays using wrong offsets
  src/generated/resources/assets/gtceu/models/block/machine/steam_input_hatch.json
  src/main/resources/assets/gtceu/models/block/overlay/2_layer/front.json
  src/main/resources/assets/gtceu/models/block/overlay/2_layer/front_emissive.json
  src/main/resources/assets/gtceu/models/block/overlay/2_layer/front_emissive_color_ring.json
  src/main/resources/assets/gtceu/models/block/overlay/2_layer/tinted/front.json
  src/main/resources/assets/gtceu/models/block/overlay/front.json
  src/main/resources/assets/gtceu/models/block/overlay/front_color_ring.json
  src/main/resources/assets/gtceu/models/block/overlay/front_emissive.json
  src/main/resources/assets/gtceu/models/block/overlay/front_emissive_color_ring.json
  src/main/resources/assets/gtceu/models/block/overlay/only/2_layer/front.json
  src/main/resources/assets/gtceu/models/block/overlay/only/2_layer/front_emissive.json
  src/main/resources/assets/gtceu/models/block/overlay/only/2_layer/front_emissive_color_ring.json
  src/main/resources/assets/gtceu/models/block/overlay/only/front.json
  src/main/resources/assets/gtceu/models/block/overlay/only/front_color_ring.json
  src/main/resources/assets/gtceu/models/block/overlay/only/front_emissive.json
  src/main/resources/assets/gtceu/models/block/overlay/only/front_emissive_color_ring.json
Labels: ignore changelog

#3396 fix parallel limiting counting all inventories as distinct
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
Labels: ignore changelog, type: bugfix

#3392 Fix facades coloring grass etc. with the underlying block's color
  gradle/forge.versions.toml
  src/generated/resources/assets/gtceu/models/block/machine/ev_rotor_holder.json
  src/generated/resources/assets/gtceu/models/block/machine/hv_rotor_holder.json
  src/generated/resources/assets/gtceu/models/block/machine/iv_rotor_holder.json
  src/generated/resources/assets/gtceu/models/block/machine/luv_rotor_holder.json
  src/generated/resources/assets/gtceu/models/block/machine/opv_rotor_holder.json
  src/generated/resources/assets/gtceu/models/block/machine/uev_rotor_holder.json
  src/generated/resources/assets/gtceu/models/block/machine/uhv_rotor_holder.json
  src/generated/resources/assets/gtceu/models/block/machine/uiv_rotor_holder.json
  src/generated/resources/assets/gtceu/models/block/machine/uv_rotor_holder.json
  src/generated/resources/assets/gtceu/models/block/machine/uxv_rotor_holder.json
  src/generated/resources/assets/gtceu/models/block/machine/zpm_rotor_holder.json
  src/main/java/com/gregtechceu/gtceu/api/block/MaterialPipeBlock.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/PatternPreviewWidget.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IFluidRenderMulti.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/part/MultiblockPartMachine.java
  src/main/java/com/gregtechceu/gtceu/client/forge/ForgeClientEventListener.java
  src/main/java/com/gregtechceu/gtceu/client/model/PipeModel.java
  src/main/java/com/gregtechceu/gtceu/client/model/TextureOverrideModel.java
  src/main/java/com/gregtechceu/gtceu/client/model/machine/IMachineRendererModel.java
  src/main/java/com/gregtechceu/gtceu/client/model/machine/MachineModel.java
  src/main/java/com/gregtechceu/gtceu/client/model/machine/multipart/MultiPartBakedModel.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/block/PipeBlockRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/cover/FacadeCoverRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/cover/ICoverableRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/impl/FluidAreaRender.java
  src/main/java/com/gregtechceu/gtceu/client/util/GTQuadTransformers.java
  src/main/java/com/gregtechceu/gtceu/client/util/StaticFaceBakery.java
  src/main/java/com/gregtechceu/gtceu/common/block/CableBlock.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterialBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/data/models/GTMachineModels.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/ChargerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/gcym/LargeChemicalBathMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/gcym/LargeMixerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/RotorHolderPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/PrimitiveBlastFurnaceMachine.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/LevelMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/client/LevelRendererMixin.java
  src/main/java/com/gregtechceu/gtceu/data/model/builder/MachineModelBuilder.java
  src/main/resources/assets/gtceu/models/block/machine/template/cube_all/sided.json
  src/main/resources/assets/gtceu/models/block/machine/template/rotor_holder/block.json
  src/main/resources/assets/gtceu/models/block/machine/template/rotor_holder/overlay.json
  src/main/resources/assets/gtceu/models/block/machine/template/rotor_holder/rotor_idle.json
  src/main/resources/assets/gtceu/models/block/machine/template/rotor_holder/rotor_idle_emissive.json
  src/main/resources/assets/gtceu/models/block/machine/template/sided/sided.json
  src/main/resources/assets/gtceu/models/item/facade_cover.json
  src/main/resources/assets/gtceu/textures/block/casings/signs/blank_32.png
  src/main/resources/assets/gtceu/textures/block/casings/signs/blank_64.png
  src/main/resources/assets/gtceu/textures/block/storage/rubber_planks.png
  src/main/resources/assets/gtceu/textures/block/storage/safe/newsafe.png
Labels: type: refactor, type: bugfix

#3401 Fix #3399
  src/main/java/com/gregtechceu/gtceu/core/mixins/LevelMixin.java
Labels: ignore changelog, type: bugfix

#3400 Fix Jade Structure forming info
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/MultiblockStructureProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/TheOneProbePlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/MultiblockStructureProvider.java
Labels: type: bugfix

#3395 Fix more decomp related issues
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/ItemMaterialData.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
Labels: ignore changelog, type: refactor, type: bugfix

#3406 fix remapping issue
  src/main/java/com/gregtechceu/gtceu/client/model/machine/IMachineRendererModel.java
  src/main/java/com/gregtechceu/gtceu/client/model/machine/MachineModel.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/DynamicRender.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/impl/BoilerMultiPartRender.java
Labels: ignore changelog, type: bugfix

#3347 Update zh_cn.json 1.21
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation

#3410 Fix event listeners loading KJS classes with no KJS
  src/main/java/com/gregtechceu/gtceu/common/CommonInit.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GTKubeJSPlugin.java
Labels: ignore changelog, type: bugfix

#3411 Fix Batch Mode chance rolls
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/GTRecipe.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
Labels: type: bugfix

#3415 check for DataComponent before construction brewing recipes
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/customlogic/BreweryLogic.java
Labels: 1.21, type: bugfix

#3422 [1.21.1] Update version name for published releases
  .github/workflows/publish.yml
Labels: 1.21, ignore changelog

#3421 [1.20.1] Update version name for published releases
  .github/workflows/publish.yml
Labels: ignore changelog, 1.20.1

#3426 Remove machete
  build.gradle
  gradle/libs.versions.toml
Labels: 1.20, ignore changelog

#3427 Remove machete 1.21
  build.gradle
  gradle/libs.versions.toml
Labels: 1.21, ignore changelog

#3431 Fix right-clicking buttons not working on 1.21
  src/main/java/com/gregtechceu/gtceu/core/mixins/ldlib/ButtonWidgetMixin.java
  src/main/resources/gtceu.mixins.json
Labels: 1.21, type: bugfix

#3443 7.0.2 Version Bump
  gradle.properties
Labels: ignore changelog

#3440 Translated using Weblate (Russian) for 1.20.1
  src/main/resources/assets/gtceu/lang/ru_ru.json
Labels: ignore changelog, type: translation

#3442 Fixes assembly lines finding items wrongly
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/AssemblyLineMachine.java
Labels: type: bugfix

#3433 Fix the cape registry not checking if the passed cape ID is valid
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/cosmetics/CapeRegistry.java
  src/main/java/com/gregtechceu/gtceu/api/cosmetics/event/RegisterGTCapesEvent.java
  src/main/java/com/gregtechceu/gtceu/common/commands/GTCommands.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: bugfix

#3434 Fix the model builder error some people were getting
  src/main/java/com/gregtechceu/gtceu/common/data/models/GTMachineModels.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/forge/ModelBuilderAccessor.java
  src/main/resources/assets/gtceu/models/block/cube_2_layer/tinted_bot/bottom_top.json
  src/main/resources/gtceu.mixins.json
Labels: type: bugfix

#3444 Fix Assembly Line trying to check circuit slots
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/IRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableItemStackHandler.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/AssemblyLineMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/FluidHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ItemBusPartMachine.java
Labels: type: bugfix

#3437 Fix the multiblock preview page Z-fighting on most multiblocks
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/PatternPreviewWidget.java
Labels: type: bugfix

#3463 Make 1.21 releases be published as beta
  .github/workflows/publish.yml
Labels: ignore changelog

#3481 Fix partSorter being wrong on certain directions
  src/main/java/com/gregtechceu/gtceu/api/pattern/util/RelativeDirection.java
Labels: type: bugfix, Release: Patch - 0.0.X

#3451 Fix the multiblock preview EMI page erroring when cycling layers
  src/main/java/com/gregtechceu/gtceu/api/machine/IMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/LevelAccessor.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ldlib/DummyWorldMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ldlib/TrackedDummyWorldMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ldlib/WorldSceneRendererMixin.java
  src/main/resources/gtceu.mixins.json
Labels: type: bugfix, Release: Patch - 0.0.X

#3497 Fix setting model properties' default values with KubeJS
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMultiblockBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSWrappingMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSWrappingMultiblockBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/package-info.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/package-info.java
Labels: type: bugfix, Release: Patch - 0.0.X

#3498 Make `MachineDefinition#recipeTypes` be nonnull
  src/main/java/com/gregtechceu/gtceu/api/machine/MachineDefinition.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/oreprocessing/GTOreProcessingEmiCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTRecipeEMICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/jei/recipe/GTRecipeJEICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/rei/recipe/GTRecipeREICategory.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/MachineModeProvider.java
Labels: type: bugfix, Release: Patch - 0.0.X

#3500 Fix KJS-made generators using the wrong EU info tooltips
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSTieredMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/machine/KJSWrappingMachineBuilder.java
Labels: type: bugfix, Release: Patch - 0.0.X

#3503 Bump Version from 7.0.2 -> 7.1.0
  gradle.properties
Labels: ignore changelog, Release: Stale

#3506 Fix chad looking metallic
  src/main/java/com/gregtechceu/gtceu/common/data/materials/UnknownCompositionMaterials.java
Labels: type: bugfix, Release: Patch - 0.0.X

#3489 Add new Steam Grinder/Oven recipes with HP singleblocks
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
Labels: type: feature, Release: Major - 0.X.0

#3483 Add Minimum Threshold configuration for Stocking Hatches and Busses
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/machine/fancyconfigurator/AutoStockingFancyConfigurator.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/java/com/gregtechceu/gtceu/data/lang/MachineLang.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEStockingBusPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEStockingHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/feature/multiblock/IMEStockingPart.java
Labels: type: feature, type: refactor, Release: Major - 0.X.0

#3478 Add file to ring crafting recipe with tools
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/PartsRecipeHandler.java
Labels: type: feature, Release: Major - 0.X.0

#3505 Improve Steam Boiler info in Jade/TOP
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/machine/steam/SteamBoilerMachine.java
  src/main/java/com/gregtechceu/gtceu/data/lang/MachineLang.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/SteamBoilerBlockProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/SteamBoilerInfoProvider.java
Labels: type: feature, Release: Major - 0.X.0

#3460 Fix default machine pausing behavior
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/IRecipeLogicMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
Labels: type: bugfix, Feature Frozen, Release: Major - 0.X.0

#3492 Allow steam machines, mufflers, and PBF to break snow
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/IExhaustVentMachine.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/MufflerPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/PrimitiveBlastFurnaceMachine.java
  src/main/java/com/gregtechceu/gtceu/utils/GTUtil.java
Labels: type: feature, Release: Major - 0.X.0

#3488 Change Tungstensteel Boiler front overlay to match the other 3
  src/main/resources/assets/gtceu/textures/block/multiblock/generator/large_tungstensteel_boiler/overlay_front.png
  src/main/resources/assets/gtceu/textures/block/multiblock/generator/large_tungstensteel_boiler/overlay_front_active.png
  src/main/resources/assets/gtceu/textures/block/multiblock/generator/large_tungstensteel_boiler/overlay_front_active.png.mcmeta
  src/main/resources/assets/gtceu/textures/block/multiblock/generator/large_tungstensteel_boiler/overlay_front_active_emissive.png
  src/main/resources/assets/gtceu/textures/block/multiblock/generator/large_tungstensteel_boiler/overlay_front_active_emissive.png.mcmeta
  src/main/resources/assets/gtceu/textures/block/multiblock/generator/large_tungstensteel_boiler/overlay_front_emissive.png
  src/main/resources/assets/gtceu/textures/block/multiblock/generator/large_tungstensteel_boiler/overlay_front_paused.png
  src/main/resources/assets/gtceu/textures/block/multiblock/generator/large_tungstensteel_boiler/overlay_front_paused_emissive.png
Labels: type: bugfix, Release: Major - 0.X.0

#3452 Fix transformer recipes + move some to assembler only
  src/main/java/com/gregtechceu/gtceu/common/data/materials/ElementMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/HigherDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
Labels: type: feature, Release: Major - 0.X.0

#3507 Fixes for #3460
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/IRecipeLogicMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: bugfix, Release: Major - 0.X.0

#3461 Machine Powerfail Pausing
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ActionResult.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeHelper.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/DistillationTowerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/research/DataBankMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/trait/CleanroomLogic.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: feature, type: refactor, Release: Major - 0.X.0

#3508 Adjust default configs
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: feature, Release: Major - 0.X.0

#3509 Yet another machine pausing issue
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
Labels: type: bugfix, Release: Patch - 0.0.X

#3510 Lombok Updates Attempt 1
  build.gradle
  gradle/libs.versions.toml
Labels: ignore changelog, Release: Stale

#3518 Add overloads without tiered chances for chanced in/out builder functions
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/OreRecipeHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CircuitRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MiscRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/DistillationRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/GemSlurryRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/GrowthMediumRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/NaquadahRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/PetrochemRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/ReactorRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/SeparationRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/TitaniumRecipes.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
Labels: type: refactor, Release: Patch - 0.0.X

#3512 Match rubber log centrifuge EU/t to sticky resin
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/SeparationRecipes.java
Labels: type: feature, Release: Major - 0.X.0

#3513 Add crushed, centrifuged, purified, impure and pure ores to vanilla blast furnace
  src/main/java/com/gregtechceu/gtceu/data/recipe/generated/OreRecipeHandler.java
Labels: type: feature, Release: Major - 0.X.0

#3390 Adjust Jade/TOP readouts to use A @ V format as in #3384
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/IntegrationLang.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/RecipeLogicProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/RecipeOutputProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/RecipeLogicInfoProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/RecipeOutputProvider.java
Labels: type: refactor, Release: Patch - 0.0.X

#3523 Add auto-autput toggles to machine main pages
  src/main/java/com/gregtechceu/gtceu/api/machine/SimpleTieredMachine.java
Labels: type: feature, 1.20.1, Release: Major - 0.X.0

#3538 Use getAttackSpeed over defaultMiningSpeed
  src/main/java/com/gregtechceu/gtceu/api/item/IGTTool.java
Labels: 1.21, type: bugfix, Release: Patch - 0.0.X

#3532 Fix the tool grid overlay wonkiness
  build.gradle
  dependencies.gradle
  gradle/libs.versions.toml
  gradle/scripts/moddevgradle.gradle
  src/main/java/com/gregtechceu/gtceu/client/renderer/BlockHighlightRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/impl/QuantumChestItemRender.java
  src/main/java/com/gregtechceu/gtceu/client/util/RenderBufferHelper.java
  src/main/java/com/gregtechceu/gtceu/client/util/RenderUtil.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/client/LevelRendererMixin.java
  src/main/java/com/gregtechceu/gtceu/utils/GTMatrixUtils.java
Labels: type: bugfix, Release: Patch - 0.0.X

#3537 [1.21] Fix GT tool repair logic
  src/main/java/com/gregtechceu/gtceu/core/mixins/RepairItemRecipeMixin.java
Labels: 1.21, type: bugfix, Release: Patch - 0.0.X

#3540 Fix recipe showing 'missing x' indicator all the tme
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
Labels: ignore changelog, type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3545 Make formic acid acidic
  src/main/java/com/gregtechceu/gtceu/common/data/materials/FirstDegreeMaterials.java
Labels: type: bugfix, 1.20.1, Release: Major - 0.X.0

#3547 Fix wood pipes/frames/etc not requiring wrench with wrench cfg enabled
  src/main/java/com/gregtechceu/gtceu/core/MixinHelpers.java
Labels: type: bugfix, Release: Patch - 0.0.X

#3548 Disable delombok on source artifacts
  gradle/scripts/jars.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ignore changelog, Release: Patch - 0.0.X

#3542 Fix servers crashing on load
  src/main/java/com/gregtechceu/gtceu/core/MixinHelpers.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ldlib/DummyWorldMixin.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ldlib/TrackedDummyWorldMixin.java
Labels: 1.21, type: bugfix, Release: Patch - 0.0.X

#3468 New Key Mapping API
  src/main/java/com/gregtechceu/gtceu/api/item/armor/IArmorLogic.java
  src/main/java/com/gregtechceu/gtceu/client/ClientProxy.java
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/common/item/armor/NightvisionGoggles.java
  src/main/java/com/gregtechceu/gtceu/common/network/GTNetwork.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/CPacketKeyDown.java
  src/main/java/com/gregtechceu/gtceu/common/network/packets/CPacketKeysPressed.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
  src/main/java/com/gregtechceu/gtceu/utils/input/IKeyPressedListener.java
  src/main/java/com/gregtechceu/gtceu/utils/input/KeyBind.java
  src/main/java/com/gregtechceu/gtceu/utils/input/SyncedKeyMapping.java
  src/main/java/com/gregtechceu/gtceu/utils/input/SyncedKeyMappingEvent.java
  src/main/java/com/gregtechceu/gtceu/utils/input/SyncedKeyMappings.java
Labels: type: feature, Release: Major - 0.X.0

#3561 New Keybind API fixes + port wrapped keybinds
  src/main/java/com/gregtechceu/gtceu/common/item/armor/IJetpack.java
  src/main/java/com/gregtechceu/gtceu/common/item/armor/QuarkTechSuite.java
  src/main/java/com/gregtechceu/gtceu/utils/input/KeyBind.java
  src/main/java/com/gregtechceu/gtceu/utils/input/SyncedKeyMapping.java
  src/main/java/com/gregtechceu/gtceu/utils/input/SyncedKeyMappings.java
Labels: type: feature, Release: Major - 0.X.0

#3010 7.0 Doc Work
  docs/content/Modpacks/Other-Topics/Modifying-Crafting-Components.md
  docs/content/Modpacks/Recipes/Crafting-Components.md
  docs/content/Modpacks/Recipes/Material-Entries.md
  docs/content/Modpacks/Recipes/TagPrefixRecipeGeneration.md
Labels: ignore changelog, Release: Major - 0.X.0

#3575 Fix steam energy handler
  src/main/java/com/gregtechceu/gtceu/api/machine/steam/SteamEnergyRecipeHandler.java
Labels: type: bugfix, Release: Patch - 0.0.X

#3577 Fix SyncedKeyMappings checking the mapping too early
  src/main/java/com/gregtechceu/gtceu/utils/input/SyncedKeyMapping.java
Labels: ignore changelog, Release: Major - 0.X.0

#3565 Adds CC support for the large turbine
  src/main/java/com/gregtechceu/gtceu/api/blockentity/MetaMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/capability/ITurbineMachine.java
  src/main/java/com/gregtechceu/gtceu/api/capability/forge/GTCapability.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/generator/LargeTurbineMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/cctweaked/CCTweakedPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/cctweaked/peripherals/TurbineMachinePeripheral.java
Labels: type: feature, 1.20.1, Release: Major - 0.X.0

#3580 Expand documentation for Material builder
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/ArmorProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/BlastProperty.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/ToolProperty.java
Labels: Documentation, type: refactor, Release: Patch - 0.0.X

#3589 Add offsets to the item stack widgets in JEI
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/PatternPreviewSlotWidget.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/PatternPreviewWidget.java
Labels: type: feature, Release: Patch - 0.0.X

#3588 Fix Nightvision Goggles until new KeyMapping API is used
  src/main/java/com/gregtechceu/gtceu/common/item/armor/NightvisionGoggles.java
Labels: ignore changelog, Release: Patch - 0.0.X

#3579 update configuration
  gradle/forge.versions.toml
  gradle/scripts/repositories.gradle
  gradle/scripts/resources.gradle
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/java/com/gregtechceu/gtceu/data/lang/ConfigurationLang.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/feature/IGridConnectedMachine.java
Labels: type: refactor, Release: Major - 0.X.0

#3559 Fix FluidAreaRenders not showing when controller is offscreen
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/impl/FluidAreaRender.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3590 Multi Amp Research Recipes
  src/main/java/com/gregtechceu/gtceu/api/recipe/ResearchRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/utils/ResearchManager.java
Labels: type: feature, Release: Major - 0.X.0

#3595 Fix EnergyContainerList drain logic with multiple hatches
  src/main/java/com/gregtechceu/gtceu/api/misc/EnergyContainerList.java
Labels: type: bugfix, Release: Patch - 0.0.X

#3592 Fix firebox casing value and material info
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
Labels: type: bugfix, Release: Patch - 0.0.X
