Repository GregTechCEu/GregTech-Modern, pull requests merged in 2025-08, with the labels that each got.

#3603 base package for mui
  src/main/java/com/gregtechceu/gtceu/api/mui/base/GuiAxis.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/IJsonSerializable.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/IMathValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/IMuiScreen.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/IPacketWriter.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/IPanelHandler.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/ITheme.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/IThemeApi.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/IUIHolder.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/MCHelper.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/UIFactory.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/XeiSettings.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/drawable/IDrawable.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/drawable/IHoverable.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/drawable/IIcon.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/drawable/IInterpolation.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/drawable/IKey.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/drawable/IRichTextBuilder.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/drawable/ITextLine.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/gui.json
  src/main/java/com/gregtechceu/gtceu/api/mui/base/layout/ILayoutWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/layout/IResizeable.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/layout/IViewport.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/layout/IViewportStack.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/IBoolValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/IByteValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/IDoubleValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/IEnumValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/IIntValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/ILongValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/IStringValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/IValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/sync/IBoolSyncValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/sync/IByteSyncValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/sync/IDoubleSyncValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/sync/IIntSyncValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/sync/ILongSyncValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/sync/IServerKeyboardAction.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/sync/IServerMouseAction.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/sync/IStringSyncValue.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/value/sync/IValueSyncHandler.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/IDraggable.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/IFocusedWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/IGuiAction.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/IGuiElement.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/INotifyEnabled.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/IParentWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/IPositioned.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/ISynced.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/ITooltip.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/IValueWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/IVanillaSlot.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/IWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/base/widget/Interactable.java
Labels: ignore changelog

#3604 Bypassed Busses Now Consume Contents
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
Labels: type: bugfix, Release: Major - 0.X.0

#3594 Fix ranged item & fluid outputs with minimum 0, and fix SizedIngredient modifying recipe stack sizes in batched recipes.
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableFluidTank.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/FluidIngredient.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/IntProviderFluidIngredient.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/IntProviderIngredient.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/SizedIngredient.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/RecipeOutputProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/RecipeOutputProvider.java
Labels: Release: Major - 0.X.0

#3614 Fix recipe logic checking bypass hatches twice
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
Labels: ignore changelog, type: bugfix, Release: Patch - 0.0.X

#3621 Fix kjs material registration not allowing nested materials
  src/main/java/com/gregtechceu/gtceu/integration/kjs/helpers/MaterialStackWrapper.java
Labels: type: bugfix, Release: Patch - 0.0.X

#3616 Fix manual IO setting not saving in filter covers
  src/main/java/com/gregtechceu/gtceu/common/cover/FluidFilterCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ItemFilterCover.java
Labels: 1.20, type: bugfix, Release: Patch - 0.0.X

#3606 Fix AE2 placeholders only working if Create is installed
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
Labels: type: bugfix, Release: Patch - 0.0.X

#3612 register IntCircuitIngredient
  src/main/java/com/gregtechceu/gtceu/common/CommonInit.java
Labels: 1.21, type: bugfix, Release: Patch - 0.0.X

#3626 Fix Multiblocks not unforming when the controller breaks
  src/main/java/com/gregtechceu/gtceu/core/mixins/LevelMixin.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3623 Fix Central Monitor loading machines too early
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CentralMonitorMachine.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3632 fix central monitor causing EMI error & fix possible crash
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CentralMonitorMachine.java
Labels: 1.20.1, Release: Patch - 0.0.X

#3633 Force Version Bump
  gradle.properties
Labels: ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3634 Ignore null predicates in machines(...)
  src/main/java/com/gregtechceu/gtceu/api/pattern/Predicates.java
Labels: 1.20.1

#3643 Make release action always bump version + edit changelog
  .github/workflows/publish.yml
Labels: ignore changelog, 1.20.1, Release: Stale

#3645 335,544.32% recipe logic improvement
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEPatternBufferPartMachine.java
  src/main/java/com/gregtechceu/gtceu/utils/GTMath.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3650 Fix Parallel calculations to use long stack amounts
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/RecipeRunner.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/MEPatternBufferProvider.java
Labels: type: feature, 1.20.1, Release: Patch - 0.0.X

#3651 refactor DiodePartMachine ldlib sync to call render update on sync
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/DiodePartMachine.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3656 make the fe-to-eu and eu-to-fe ratios max at maxint
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: feature, 1.20.1, Release: Patch - 0.0.X

#3655 Fix recipe viewer integration not working with research recipes that contain fluids
  src/main/java/com/gregtechceu/gtceu/common/item/DataItemBehavior.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3680 Fix Machine power failing
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3672 Change workflow to seperate out tests
  .github/workflows/build-on-push.yml
  .github/workflows/test-on-push.yml
Labels: ignore changelog, 1.20.1, Release: Patch - 0.0.X, type: tests

#3686 document regressWhenWaiting
  docs/content/Modpacks/Other-Topics/index.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3687 Fix Large Maceration Tower not receiving dropped items as input
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/gcym/LargeMacerationTowerMachine.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3688 Fix Hammer AOE and sounds missing
  src/main/java/com/gregtechceu/gtceu/api/item/tool/ToolHelper.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3709 Fix Icons not being centered in tool grid
  src/main/java/com/gregtechceu/gtceu/client/renderer/BlockHighlightRenderer.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3698 Separate out recipe types per test
  src/main/java/com/gregtechceu/gtceu/api/machine/WorkableTieredMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/WorkableMultiblockMachine.java
  src/test/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogicTest.java
  src/test/java/com/gregtechceu/gtceu/api/recipe/InputSeparationTest.java
  src/test/java/com/gregtechceu/gtceu/api/recipe/OverclockLogicTest.java
  src/test/java/com/gregtechceu/gtceu/api/recipe/lookup/GTRecipeLookupTest.java
  src/test/java/com/gregtechceu/gtceu/gametest/util/TestUtils.java
Labels: ignore changelog, 1.20.1, Release: Patch - 0.0.X, type: tests, Tests: Passed

#3682 api/widgets
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/AbstractCycleButtonWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/ButtonWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/CategoryList.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/ColorPickerDialog.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/CycleButtonWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/Dialog.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/ListValueWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/ListWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/PageButton.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/PagedWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/PopupMenu.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/ProgressWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/RichTextWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/SchemaWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/ScrollingTextWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/SliderWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/SlotGroupWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/SortButtons.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/SortableListWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/TextWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/ToggleButton.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/ValueWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/VoidWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/layout/Column.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/layout/Flow.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/layout/Grid.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/layout/IExpander.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/layout/Row.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/slot/CraftingContainerWrapper.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/slot/FluidSlot.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/slot/IOnSlotChanged.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/slot/ItemSlot.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/slot/ModularCraftingSlot.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/slot/ModularSlot.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/slot/PhantomItemSlot.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/slot/SlotGroup.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/textfield/BaseTextFieldWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/textfield/TextEditorWidget.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/textfield/TextFieldHandler.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/textfield/TextFieldRenderer.java
  src/main/java/com/gregtechceu/gtceu/api/mui/widgets/textfield/TextFieldWidget.java
Labels: 1.20.1

#3699 Fix Ignore NBT in Not Working Properly in Robot Arms/Fluid Regulators
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/SimpleFluidFilter.java
  src/main/java/com/gregtechceu/gtceu/api/cover/filter/SimpleItemFilter.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/item/ItemNetHandler.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3597 Fix KubeJS documentation for parallel hatch in 1.7.0
  docs/content/Modpacks/Examples/Parallel-Hatch-Part.md
Labels: ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3721 Fix passthrough hatches
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/FluidHatchPartMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ItemBusPartMachine.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3724 Queue an update for pattern buffers when they are placed
  src/main/java/com/gregtechceu/gtceu/integration/ae2/machine/MEPatternBufferPartMachine.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3739 Update docs for creating custom coils. Fix tooltip on coil energy usage.
  docs/content/Modpacks/Other-Topics/Custom-Coils.md
  src/main/java/com/gregtechceu/gtceu/common/block/CoilBlock.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeModifiers.java
Labels: Documentation, type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3735 Add check for recipe voltage in notifiableEnergyContainer
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableEnergyContainer.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3743 Fix world accelerator not working when reloaded
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/WorldAcceleratorMachine.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3749 Update docs with a list of standard coil stats, and further explanation of them.
  docs/content/Modpacks/Other-Topics/Custom-Coils.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3578 Custom Material Lang name
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/FirstDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/GCYMMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/HigherDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/SecondDegreeMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/UnknownCompositionMaterials.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/lang/MaterialLangGenerator.java
Labels: type: feature, 1.20.1, Release: Major - 0.X.0, Tests: Passed

#3767 Powerfailing bypass
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/common/cover/MachineControllerCover.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: feature, 1.20.1, Release: Major - 0.X.0, Tests: Passed

#3769 Delete old test files
  src/main/resources/data/gtceu/gametest/structures/ebf.snbt
  src/main/resources/data/gtceu/gametest/structures/recipelogic.snbt
Labels: ignore changelog, 1.20.1, Release: Patch - 0.0.X, type: tests, Tests: Passed

#3691 Three fixes with Chanced and Ranged Outputs
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/FluidRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/ItemRecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/IntProviderFluidIngredient.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/IntProviderIngredient.java
  src/main/java/com/gregtechceu/gtceu/common/valueprovider/ModifiedIntProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/RecipeOutputProvider.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3776 HPCA model datagen
  src/generated/resources/assets/gtceu/models/block/machine/hpca_active_cooler_component.json
  src/generated/resources/assets/gtceu/models/block/machine/hpca_advanced_computation_component.json
  src/generated/resources/assets/gtceu/models/block/machine/hpca_bridge_component.json
  src/generated/resources/assets/gtceu/models/block/machine/hpca_computation_component.json
  src/generated/resources/assets/gtceu/models/block/machine/hpca_empty_component.json
  src/generated/resources/assets/gtceu/models/block/machine/hpca_heat_sink_component.json
Labels: ignore changelog, type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3773 Missing Formed AE Model Property
  src/generated/resources/assets/gtceu/models/block/machine/me_input_bus.json
  src/generated/resources/assets/gtceu/models/block/machine/me_input_hatch.json
  src/generated/resources/assets/gtceu/models/block/machine/me_output_bus.json
  src/generated/resources/assets/gtceu/models/block/machine/me_output_hatch.json
  src/generated/resources/assets/gtceu/models/block/machine/me_pattern_buffer.json
  src/generated/resources/assets/gtceu/models/block/machine/me_pattern_buffer_proxy.json
  src/generated/resources/assets/gtceu/models/block/machine/me_stocking_input_bus.json
  src/generated/resources/assets/gtceu/models/block/machine/me_stocking_input_hatch.json
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MachineBuilder.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3774 Fix AOE not working on tools other than Mining Hammer
  src/main/java/com/gregtechceu/gtceu/api/item/tool/ToolHelper.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3694 Ranged Inputs
  docs/content/Modpacks/Other-Topics/Adding-and-Removing-Recipes.md
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockDisplayText.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableFluidTank.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableItemStackHandler.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/IntProviderFluidIngredient.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ingredient/IntProviderIngredient.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/lookup/ingredient/fluid/FluidStackMapIngredient.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/RecipeOutputProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/RecipeOutputProvider.java
Labels: type: feature, 1.20.1, Release: Major - 0.X.0

#3598 More ender link covers
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/assets/gtceu/models/item/ender_item_link_cover.json
  src/generated/resources/assets/gtceu/models/item/ender_redstone_link_cover.json
  src/main/java/com/gregtechceu/gtceu/api/misc/virtualregistry/EntryTypes.java
  src/main/java/com/gregtechceu/gtceu/api/misc/virtualregistry/entries/VirtualItemStorage.java
  src/main/java/com/gregtechceu/gtceu/api/misc/virtualregistry/entries/VirtualRedstone.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ender/EnderItemLinkCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ender/EnderRedstoneLinkCover.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTCovers.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTPlaceholders.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTSyncedFieldAccessors.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/syncdata/VirtualItemStorageAccessor.java
  src/main/java/com/gregtechceu/gtceu/syncdata/VirtualRedstoneAccessor.java
  src/main/resources/assets/gtceu/textures/block/cover/ender_item_link.png
  src/main/resources/assets/gtceu/textures/block/cover/ender_item_link_emissive.png
  src/main/resources/assets/gtceu/textures/block/cover/ender_redstone_link.png
  src/main/resources/assets/gtceu/textures/block/cover/ender_redstone_link_emissive.png
  src/main/resources/assets/gtceu/textures/item/ender_item_link_cover.png
  src/main/resources/assets/gtceu/textures/item/ender_redstone_link_cover.png
Labels: type: feature, 1.20.1, Feature Frozen, Release: Major - 0.X.0

#3805 Set default fluids to the rock breaker recipes
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MiscRecipeLoader.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3793 More Multiblock examples to the Kubejs docs.
  docs/content/Modpacks/Examples/Example_Steam_Multiblock.md
  docs/content/Modpacks/Examples/Example_Turbine.md
  docs/content/Modpacks/Examples/Superheated_Pyrolyzing_Oven.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3807 Rework our tests, add docs, add AdjacentFluidConditionTests
  src/main/java/com/gregtechceu/gtceu/common/recipe/condition/AdjacentFluidCondition.java
  src/test/README.md
  src/test/java/com/gregtechceu/gtceu/api/cover/ConveyorTest.java
  src/test/java/com/gregtechceu/gtceu/api/recipe/InputSeparationTest.java
  src/test/java/com/gregtechceu/gtceu/api/recipe/OverclockLogicTest.java
  src/test/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ItemBusPartMachineTest.java
  src/test/java/com/gregtechceu/gtceu/common/recipe/condition/AdjacentFluidConditionTest.java
  src/test/java/com/gregtechceu/gtceu/gametest/util/TestUtils.java
  src/test/java/com/gregtechceu/gtceu/integration/ae2/machine/PatternBufferTest.java
  src/test/resources/data/gtceu/structures/charged_hv_rock_breaker.nbt
Labels: ignore changelog, 1.20.1, Release: Patch - 0.0.X, type: tests, Tests: Passed

#3794 Fix #3792 Multi-mode machines won't check recipe after mode changes
  src/main/java/com/gregtechceu/gtceu/api/machine/fancyconfigurator/MachineModeFancyConfigurator.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3791 programmed circuit icon Unified 9 Display
  src/main/resources/assets/gtceu/textures/item/programmed_circuit/10.png
  src/main/resources/assets/gtceu/textures/item/programmed_circuit/20.png
Labels: type: feature, 1.20.1, Release: Patch - 0.0.X

#3812 Fix Robot Arms ignoring Keep Exact behavior when taking input from a Pipe
  src/main/java/com/gregtechceu/gtceu/common/cover/ConveyorCover.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/item/ItemNetHandler.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3814 More vanilla recipe helpers
  src/main/java/com/gregtechceu/gtceu/data/recipe/VanillaRecipeHelper.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3768 Add MultipleEnergyHatch tests
  src/test/java/com/gregtechceu/gtceu/api/recipe/MultipleEnergyHatchTest.java
  src/test/java/com/gregtechceu/gtceu/gametest/util/TestUtils.java
  src/test/resources/data/gtceu/structures/energy/lcr_16a_4a_ev.nbt
  src/test/resources/data/gtceu/structures/energy/lcr_16a_ev.nbt
  src/test/resources/data/gtceu/structures/energy/lcr_16a_ev_hv.nbt
  src/test/resources/data/gtceu/structures/energy/lcr_2x_ev.nbt
  src/test/resources/data/gtceu/structures/energy/lcr_4a_ev.nbt
  src/test/resources/data/gtceu/structures/energy/lcr_ev_hv.nbt
  src/test/resources/data/gtceu/structures/energy/lcr_ev_mv.nbt
  src/test/resources/data/gtceu/structures/energy/lcr_iv_16a_ev.nbt
Labels: ignore changelog, 1.20.1, Release: Patch - 0.0.X, type: tests, Tests: Passed

#3806 Fix Tree Felling happening for Logged off Players
  src/main/java/com/gregtechceu/gtceu/api/item/tool/TreeFellingHelper.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3819 Fix ender link cover textures and translations
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/resources/assets/gtceu/textures/block/cover/ender_item_link.png.mcmeta
  src/main/resources/assets/gtceu/textures/block/cover/ender_item_link_emissive.png.mcmeta
  src/main/resources/assets/gtceu/textures/block/cover/ender_redstone_link.png.mcmeta
  src/main/resources/assets/gtceu/textures/block/cover/ender_redstone_link_emissive.png.mcmeta
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3823 Fixed potassium feldspar formula
  src/main/java/com/gregtechceu/gtceu/common/data/materials/FirstDegreeMaterials.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3821 Update zh_cn.json 1.20
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation, 1.20.1, Release: Patch - 0.0.X

#3822 Update zh_cn.json 1.21
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: 1.21, type: translation, Release: Patch - 0.0.X

#3826 Research Data Holder no longer voids recipes
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/research/ResearchStationMachine.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3828 Port Tree Felling bugfix to 1.21
  src/main/java/com/gregtechceu/gtceu/api/item/tool/TreeFellingHelper.java
Labels: 1.21, type: bugfix, Release: Patch - 0.0.X

#3798 Minor improvements to jetpacks
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/common/item/armor/IJetpack.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
Labels: type: feature, 1.20.1, Release: Major - 0.X.0

#3830 Serialize AdjacentFluidCondition to string
  src/main/java/com/gregtechceu/gtceu/api/recipe/condition/ConditionSerializeUtils.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/condition/AdjacentFluidCondition.java
  src/test/java/com/gregtechceu/gtceu/api/recipe/GTRecipeSerializerTest.java
Labels: ignore changelog, type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3833 Fix AdjacencyBlockCondition
  docs/content/Modpacks/Changes/v7.2.0.md
  src/main/java/com/gregtechceu/gtceu/api/recipe/condition/ConditionSerializeUtils.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/condition/AdjacentBlockCondition.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/condition/AdjacentFluidCondition.java
  src/test/java/com/gregtechceu/gtceu/api/cover/MonitorCoverTest.java
  src/test/java/com/gregtechceu/gtceu/api/recipe/GTRecipeSerializerTest.java
Labels: Documentation, ignore changelog, type: refactor, type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3829 Play metal pipe sound when a long rod item falls
  src/main/java/com/gregtechceu/gtceu/core/mixins/client/ItemEntityMixin.java
  src/main/resources/gtceu.mixins.json
Labels: type: feature, 1.20.1, Release: Major - 0.X.0, Tests: Passed

#3827 Tool Property Page for the Wiki
  docs/content/Modpacks/Materials-and-Elements/01-Material-Creation.md
  docs/content/Modpacks/Materials-and-Elements/Tool_Properties.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3790 Fixes and minor additions to the placeholder system
  src/generated/resources/assets/gtceu/blockstates/advanced_monitor.json
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/assets/gtceu/models/block/machine/advanced_monitor.json
  src/generated/resources/assets/gtceu/models/item/advanced_monitor.json
  src/main/java/com/gregtechceu/gtceu/api/blockentity/MetaMachineBlockEntity.java
  src/main/java/com/gregtechceu/gtceu/api/capability/ICentralMonitor.java
  src/main/java/com/gregtechceu/gtceu/api/capability/forge/GTCapability.java
  src/main/java/com/gregtechceu/gtceu/api/item/component/IMonitorModuleItem.java
  src/main/java/com/gregtechceu/gtceu/api/placeholder/MultiLineComponent.java
  src/main/java/com/gregtechceu/gtceu/api/placeholder/Placeholder.java
  src/main/java/com/gregtechceu/gtceu/api/placeholder/PlaceholderContext.java
  src/main/java/com/gregtechceu/gtceu/api/placeholder/PlaceholderHandler.java
  src/main/java/com/gregtechceu/gtceu/common/capability/PlaceholderSavedData.java
  src/main/java/com/gregtechceu/gtceu/common/cover/ComputerMonitorCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/WirelessTransmitterCover.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTPlaceholders.java
  src/main/java/com/gregtechceu/gtceu/common/item/DataItemBehavior.java
  src/main/java/com/gregtechceu/gtceu/common/item/modules/ImageModuleBehaviour.java
  src/main/java/com/gregtechceu/gtceu/common/item/modules/TextModuleBehaviour.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CentralMonitorMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/monitor/MonitorGroup.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/monitor/AdvancedMonitorPartMachine.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/ComputerRecipes.java
  src/main/java/com/gregtechceu/gtceu/integration/cctweaked/CCTweakedPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/cctweaked/peripherals/CentralMonitorPeripheral.java
  src/main/java/com/gregtechceu/gtceu/integration/cctweaked/peripherals/CoverHolderPeripheral.java
Labels: type: feature, 1.20.1, Release: Major - 0.X.0

#3690 Wrench improvements
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/ToolModeSwitchBehavior.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
Labels: type: feature, 1.20.1, Release: Major - 0.X.0

#3834 Update tool_properties formatting
  docs/content/Modpacks/Materials-and-Elements/Tool_Properties.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3800 Make redstone-related blocks mineable with wrenches
  src/generated/resources/data/forge/tags/blocks/mineable/wrench.json
  src/main/java/com/gregtechceu/gtceu/data/tags/BlockTagLoader.java
Labels: type: feature, 1.20.1, Release: Major - 0.X.0

#3840 Fix bug in combine placeholder
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/placeholder/MultiLineComponent.java
  src/main/java/com/gregtechceu/gtceu/api/placeholder/PlaceholderHandler.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTPlaceholders.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed
