Repository GregTechCEu/GregTech-Modern, pull requests merged in 2025-09, with the labels that each got.

#3852 Porting more KJS Multi examples to Java
  docs/content/Modpacks/Examples/Example_Steam_Multiblock.md
  docs/content/Modpacks/Examples/Example_Turbine.md
  docs/content/Modpacks/Examples/Greenhouse.md
  docs/content/Modpacks/Examples/Ore-Processing-Plant.md
  docs/content/Modpacks/Examples/Superheated_Pyrolyzing_Oven.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3864 Fixed Shaped Recipes for Warning Signs
  src/main/java/com/gregtechceu/gtceu/data/recipe/VanillaRecipeHelper.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3878 parity between centrifuging oilsands dust and oilsands ore
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/SeparationRecipes.java
Labels: type: bugfix, 1.20.1, Release: Major - 0.X.0

#3885 Fix lombok for recipe after finish
  src/main/java/com/gregtechceu/gtceu/api/capability/IControllable.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/IRecipeLogicMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/ControllableBlockProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/ControllableInfoProvider.java
Labels: ignore changelog, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3845 Add User Documentation for Item and Fluid Logistics
  docs/content/Gameplay/Logistics/Covers.md
  docs/content/Gameplay/Logistics/Machines.md
  docs/content/Gameplay/Logistics/Pipes.md
  docs/content/Gameplay/Logistics/index.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3789 Added allow input from output side for drums and the config
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/DrumMachine.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: feature, 1.20.1, Release: Major - 0.X.0

#3892 Allow ULV Input Hatches in Primitive Pump Multiblock
  docs/content/Modpacks/Changes/v7.2.0.md
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
Labels: type: feature, 1.20.1, Release: Patch - 0.0.X

#3740 Fix maintenance not happening as often as intended
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IMaintenanceMachine.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Labels: type: bugfix, 1.20.1, Release: Major - 0.X.0, Tests: Passed

#3802 Hammer Prospecting
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/ToolProperty.java
  src/main/java/com/gregtechceu/gtceu/api/item/IGTTool.java
  src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/ProspectingBehavior.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: feature, 1.20.1, Release: Major - 0.X.0

#3873 Redo of 3744
  src/main/java/com/gregtechceu/gtceu/api/pattern/MultiblockState.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/LevelMixin.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3363 Growing plants rendering system
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/data/gtceu/tags/blocks/tall_plants.json
  src/main/java/com/gregtechceu/gtceu/api/machine/trait/RecipeLogic.java
  src/main/java/com/gregtechceu/gtceu/client/ClientProxy.java
  src/main/java/com/gregtechceu/gtceu/client/model/machine/MachineModelLoader.java
  src/main/java/com/gregtechceu/gtceu/client/model/machine/variant/MultiVariantModel.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/DynamicRenderHelper.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/impl/GrowingPlantRender.java
  src/main/java/com/gregtechceu/gtceu/client/util/RenderUtil.java
  src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/GrowingPlantBlockAccessor.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/IntegerPropertyAccessor.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/MultiVariantMixin.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/data/tags/BlockTagLoader.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/utils/GTMath.java
  src/main/java/com/gregtechceu/gtceu/utils/memoization/GTMemoizer.java
  src/main/resources/gtceu.mixins.json
Labels: type: feature, 1.20.1, Release: Major - 0.X.0

#3558 Placeable Fluids
  src/generated/resources/assets/gtceu/blockstates/creosote.json
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/assets/gtceu/models/block/creosote.json
  src/main/java/com/gregtechceu/gtceu/api/fluids/FluidBuilder.java
  src/main/java/com/gregtechceu/gtceu/api/fluids/forge/GTFluidImpl.java
  src/main/java/com/gregtechceu/gtceu/api/item/GTBucketItem.java
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/UnknownCompositionMaterials.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: feature, 1.20.1, Release: Major - 0.X.0

#3902 Order EMI Machine List manually
  src/main/java/com/gregtechceu/gtceu/integration/emi/oreprocessing/GTOreProcessingEmiCategory.java
  src/main/java/com/gregtechceu/gtceu/integration/emi/recipe/GTRecipeEMICategory.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3904 Probably fixed npe in raytrace #3891
  src/main/java/com/gregtechceu/gtceu/api/capability/ICoverable.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3920 Fixed missing animation using duct tape
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/MaintenanceHatchPartMachine.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3931 fix calcium carbonate formula
  src/main/java/com/gregtechceu/gtceu/common/data/materials/FirstDegreeMaterials.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3928 Update zh_cn.json 1.21
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: 1.21, type: translation, Release: Patch - 0.0.X

#3929 Update zh_cn.json 1.20
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: ignore changelog, type: translation, 1.20.1, Release: Patch - 0.0.X

#3932 Fixing the Example Turbine docs page.
  docs/content/Modpacks/Examples/Example_Turbine.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3919 Fix + move recipe condition docs
  docs/content/Modpacks/Recipes/Recipe-Conditions.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3934 Adds the LargeTurbineMachine::recipeModifier to the java example.
  docs/content/Modpacks/Examples/Example_Turbine.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3933 broadcast item break event to client side for sound effect
  src/main/java/com/gregtechceu/gtceu/api/item/tool/ToolHelper.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3930 Added Jade provider for Data Bank
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/GTJadePlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/DataBankBlockProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/TheOneProbePlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/DataBankInfoProvider.java
Labels: type: feature, 1.20.1, Release: Patch - 0.0.X

#3912 Material Creation, Properties, Flags, and Modification documentation
  docs/content/Modpacks/Changes/v7.2.0.md
  docs/content/Modpacks/Examples/Example_Coil_Multiblock.md
  docs/content/Modpacks/Materials-and-Elements/01-Material-Creation.md
  docs/content/Modpacks/Materials-and-Elements/Material-Flags.md
  docs/content/Modpacks/Materials-and-Elements/Material-Properties.md
  docs/content/Modpacks/Materials-and-Elements/Tool-Creation.md
  docs/content/Modpacks/Materials-and-Elements/Tool_Properties.md
  docs/content/Modpacks/Recipes/Material-Entries.md
Labels: Documentation, ignore changelog, 1.20.1, Release: Patch - 0.0.X

#3914 Fix GTValues.VHA[LV] value
  src/main/java/com/gregtechceu/gtceu/api/GTValues.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3948 Remove tier-based chance boosting from Bauxite Slag
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/TitaniumRecipes.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3954 Removal of redundant OC call.
  docs/content/Modpacks/Examples/Example_Coil_Multiblock.md
Labels: 1.20.1

#3955 fix recipe conditions link
  docs/content/Modpacks/Changes/v7.2.0.md
Labels: Documentation, Not Planned / Rejected, 1.20.1, Release: Patch - 0.0.X

#3964 Make energy placeholder work with substations
  src/main/java/com/gregtechceu/gtceu/common/data/GTPlaceholders.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X

#3950 Fix Advanced Energy Detector Cover not working in % mode
  src/main/java/com/gregtechceu/gtceu/common/cover/detector/AdvancedEnergyDetectorCover.java
Labels: type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3979 fix erroneous RecipeType log spam
  src/main/java/com/gregtechceu/gtceu/api/recipe/lookup/RecipeManagerHandler.java
Labels: ignore changelog, type: bugfix, 1.20.1, Release: Patch - 0.0.X, Tests: Passed

#3999 Make new flag DISABLE_MATERIAL_RECIPES to replace NO_UNIFICATION.
  docs/content/Modpacks/Materials-and-Elements/Material-Flags.md
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/info/MaterialFlags.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipes.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/UnknownCompositionMaterials.java
Labels: Documentation, type: feature, 1.20.1, Release: Patch - 0.0.X
