Repository GregTechCEu/GregTech-Modern, pull requests merged in 2025-04, with the labels that each got.

#3028 Fix `DistillationTowerLogic` consuming inputs when matching recipe
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/DistillationTowerMachine.java
Labels: type: bugfix

#3030 Fix `mineable` tags and incorrect lang
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/generated/resources/data/gtceu/tags/blocks/mineable/pickaxe_or_wrench.json
  src/main/java/com/gregtechceu/gtceu/data/lang/BlockLang.java
  src/main/java/com/gregtechceu/gtceu/data/lang/ItemLang.java
Labels: type: bugfix

#3035 Add `.git-blame-ignore-revs` file
  .git-blame-ignore-revs
Labels: ignore changelog

#3037 Fix crafting component issues
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CraftingComponent.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/GTCraftingComponents.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MetaTileEntityMachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GTCEuServerEvents.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GTCEuStartupEvents.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/events/CraftingComponentsEventJS.java
Labels: type: bugfix

#3042 Fix turbines not being put into creative tab
  src/main/java/com/gregtechceu/gtceu/common/item/TurbineRotorBehaviour.java
Labels: type: bugfix

#2900 GameStages Recipe Conditions
  dependencies.gradle
  gradle/forge.versions.toml
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/GTCEu.java
  src/main/java/com/gregtechceu/gtceu/api/GTValues.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeConditions.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/condition/GameStageCondition.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
Labels: type: feature, Merge on Major Release

#2895 Add FTB Quests recipe condition
  dependencies.gradle
  gradle/forge.versions.toml
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/GTCEu.java
  src/main/java/com/gregtechceu/gtceu/api/GTValues.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeConditions.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/condition/FTBQuestCondition.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
Labels: type: feature, Merge on Major Release

#2984 Various Pipe Model changes
  src/main/java/com/gregtechceu/gtceu/client/model/PipeModel.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMachineUtils.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/cable/Insulation.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/fluidpipe/FluidPipeType.java
  src/main/java/com/gregtechceu/gtceu/common/pipelike/item/ItemPipeType.java
  src/main/resources/assets/gtceu/textures/block/cable/insulation_4.png
  src/main/resources/assets/gtceu/textures/block/pipe/pipe_huge_in.png
Labels: type: feature

#3032 Fix arm not swinging for certain wrench interactions
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/MultiblockControllerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/BlockBreakerMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/FisherMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/ItemCollectorMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumChestMachine.java
  src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumTankMachine.java
Labels: type: bugfix

#2904 Add Heracles recipe condition
  dependencies.gradle
  gradle/forge.versions.toml
  src/main/java/com/gregtechceu/gtceu/GTCEu.java
  src/main/java/com/gregtechceu/gtceu/api/GTValues.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeConditions.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/condition/HeraclesQuestCondition.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
Labels: type: feature, Merge on Major Release

#3004 Refactor supplier memoizer
  src/main/java/com/gregtechceu/gtceu/api/block/SimpleCoilType.java
  src/main/java/com/gregtechceu/gtceu/api/data/DimensionMarker.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/ItemMaterialData.java
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  src/main/java/com/gregtechceu/gtceu/api/machine/multiblock/PartAbility.java
  src/main/java/com/gregtechceu/gtceu/api/registry/registrate/MultiblockMachineBuilder.java
  src/main/java/com/gregtechceu/gtceu/client/model/PipeModel.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterials.java
  src/main/java/com/gregtechceu/gtceu/utils/SupplierMemoizer.java
  src/main/java/com/gregtechceu/gtceu/utils/memoization/GTMemoizer.java
  src/main/java/com/gregtechceu/gtceu/utils/memoization/MemoizedBlockSupplier.java
  src/main/java/com/gregtechceu/gtceu/utils/memoization/MemoizedSupplier.java
Labels: type: refactor

#3045 Fix Pyrolyse Oven double tooltip
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMultiMachines.java
Labels: type: bugfix

#3048 Fix various divide by zero errors in material class
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/stack/MaterialStack.java
Labels: type: bugfix

#3053 Fix Prussian Blue Voiding 75% of Input Chlorine
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/AntidoteRecipes.java
Labels: type: bugfix

#3061 Improve visuals of Muffler Smoke VFX And Make Respect Particle Options
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IMufflerMachine.java
  src/main/java/com/gregtechceu/gtceu/client/ClientProxy.java
  src/main/java/com/gregtechceu/gtceu/client/particle/MufflerParticle.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTParticleTypes.java
  src/main/java/com/gregtechceu/gtceu/common/particle/MufflerParticleOptions.java
  src/main/resources/assets/gtceu/particles/muffler.json
Labels: type: refactor

#2988 Fix a bunch of visual bugs
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/PatternPreviewWidget.java
  src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  src/main/java/com/gregtechceu/gtceu/client/model/WorkableOverlayModel.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/BlockHighlightRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/block/TextureOverrideRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/ChargerRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/HPCAPartRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/IPartRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/LargeBoilerRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/MachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/MaintenanceHatchPartRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/OverlaySteamMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/OverlayTieredActiveMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/OverlayTieredMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/QuantumChestRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/QuantumTankRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/RotorHolderMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/WorkableCasingMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/WorkableSidedCasingMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/WorkableSteamMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/WorkableTieredHullMachineRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/WorldAcceleratorRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/util/StaticFaceBakery.java
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTMachineUtils.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/LevelRendererMixin.java
Labels: type: bugfix

#3074 fix KJS machine recipes erroring if user added multiple recipe conditions of different types
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
Labels: type: bugfix

#3049 Fix `CraftingComponentEventJS` issues and add QOL
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/stack/MaterialEntry.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterials.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/CraftingComponent.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/GTCraftingComponents.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GTCEuServerEvents.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GTCEuStartupEvents.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/events/CraftingComponentsEventJS.java
  src/main/java/com/gregtechceu/gtceu/utils/GTUtil.java
Labels: type: bugfix

#3043 Fix GT Tool issue with EMI Crafting Fill
  src/main/java/com/gregtechceu/gtceu/core/mixins/emi/FillRecipePacketMixin.java
  src/main/resources/gtceu.mixins.json
Labels: type: bugfix

#3068 Fix cover slot
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/directional/handlers/CoverableConfigHandler.java
Labels: type: bugfix

#3059 Fix Coke Oven Hatches getting stuck after Coke Oven gets backfilled
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/CokeOvenHatch.java
Labels: type: bugfix

#3016 Fix distinctness not being preserved
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/ItemBusPartMachine.java
Labels: type: bugfix

#3057 clean up ItemMaterialData#registerMaterialInfoItems code
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/ItemMaterialData.java
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/StoneMachineRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/tags/TagsHandler.java
  src/main/java/com/gregtechceu/gtceu/utils/memoization/MemoizedBlockSupplier.java
Labels: type: refactor

#3051 FIx PVA Recipe to only be in the LCR
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/ReactorRecipes.java
Labels: type: bugfix

#3021 Fix steam multiblocks failing to open UI
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/SteamParallelMultiblockMachine.java
Labels: type: bugfix

#2969 Fix EU to FE conversion by using actually transferred energy amount
  src/main/java/com/gregtechceu/gtceu/api/capability/compat/EUToFEProvider.java
Labels: type: bugfix

#3073 delete unused MufflerParticleOptions class
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IMufflerMachine.java
  src/main/java/com/gregtechceu/gtceu/client/particle/MufflerParticle.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTParticleTypes.java
  src/main/java/com/gregtechceu/gtceu/common/particle/MufflerParticleOptions.java
Labels: type: refactor

#2941 Kila/bump up ldlib
  gradle/forge.versions.toml
  src/main/java/com/gregtechceu/gtceu/api/capability/recipe/RecipeCapability.java
  src/main/java/com/gregtechceu/gtceu/api/gui/editor/GTUIEditor.java
  src/main/java/com/gregtechceu/gtceu/api/gui/editor/MachineUIProject.java
  src/main/java/com/gregtechceu/gtceu/api/gui/editor/RecipeTypeUIProject.java
  src/main/java/com/gregtechceu/gtceu/api/gui/editor/UIMainPanel.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/PhantomFluidWidget.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/PhantomSlotWidget.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/SlotWidget.java
  src/main/java/com/gregtechceu/gtceu/api/gui/widget/TankWidget.java
  src/main/java/com/gregtechceu/gtceu/api/recipe/ui/GTRecipeTypeUI.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/ldlib/SyncUtilsMixin.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTRecipeWidget.java
  src/main/java/com/gregtechceu/gtceu/syncdata/FluidStackPayload.java
  src/main/resources/assets/gtceu/ui/recipe_type/assembly_line.rtui
  src/main/resources/assets/gtceu/ui/recipe_type/distillation_tower.rtui
  src/main/resources/assets/gtceu/ui/recipe_type/forge_hammer.rtui
  src/main/resources/assets/gtceu/ui/recipe_type/lathe.rtui
  src/main/resources/assets/gtceu/ui/recipe_type/research_station.rtui
Labels: ignore changelog

#3075 Fix issues with StoneTypeEntry and variant ores
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/ChemicalHelper.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/ItemMaterialData.java
  src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/MaterialInfoLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/StoneMachineRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/tags/TagsHandler.java
  src/main/java/com/gregtechceu/gtceu/utils/memoization/MemoizedBlockSupplier.java
Labels: type: bugfix

#3041 Add KJS Shaped Recipe Schema with GT Tool Symbols
  src/main/java/com/gregtechceu/gtceu/api/item/tool/ToolHelper.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/VanillaRecipeHelper.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTShapedRecipeSchema.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/WrappingRecipeSchemaType.java
Labels: type: feature

#3047 Refactor torch placement behaviour to check if offhand is empty
  src/main/java/com/gregtechceu/gtceu/common/item/tool/behavior/TorchPlaceBehavior.java
Labels: type: refactor

#3082 Fix remap
  src/main/java/com/gregtechceu/gtceu/core/mixins/emi/FillRecipePacketMixin.java
Labels: ignore changelog

#3079 Refactor item decorators to item decorators instead of using a mixin
  src/main/java/com/gregtechceu/gtceu/api/item/component/ElectricStats.java
  src/main/java/com/gregtechceu/gtceu/api/item/component/IDurabilityBar.java
  src/main/java/com/gregtechceu/gtceu/api/item/component/IItemDecoratorComponent.java
  src/main/java/com/gregtechceu/gtceu/client/ClientProxy.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/item/ToolChargeBarRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/item/decorator/GTComponentItemDecorator.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/item/decorator/GTLampItemOverlayRenderer.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/item/decorator/GTToolBarRenderer.java
  src/main/java/com/gregtechceu/gtceu/core/mixins/GuiGraphicsMixin.java
Labels: type: refactor

#3066 Refactor magnet recipes to have an empty blacklist filter
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CustomToolRecipes.java
Labels: type: refactor

#3083 Fixed corrupted texture in Distillation Tower recipe.
  src/main/resources/assets/gtceu/ui/recipe_type/distillation_tower.rtui
Labels: type: bugfix

#3076 Fix recipe naming
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/AcidRecipes.java
Labels: type: bugfix

#3071 Refactor TOP / Jade Energy Provider to handle BigInteger
  src/main/java/com/gregtechceu/gtceu/api/capability/IEnergyContainer.java
  src/main/java/com/gregtechceu/gtceu/api/capability/IEnergyInfoProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/jade/provider/ElectricContainerBlockProvider.java
  src/main/java/com/gregtechceu/gtceu/integration/top/TheOneProbePlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/top/element/ProgressElement.java
  src/main/java/com/gregtechceu/gtceu/integration/top/provider/ElectricContainerInfoProvider.java
  src/main/java/com/gregtechceu/gtceu/utils/FormattingUtil.java
Labels: type: refactor

#3069 Rename palladium substation -> palladium substation casing
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/BlockLang.java
Labels: type: bugfix

#3027 Fix typo in recipe name
  src/main/java/com/gregtechceu/gtceu/data/recipe/serialized/chemistry/ReactorRecipes.java
Labels: type: bugfix

#3077 Change steam & bronze machine casing russian translations
  src/main/resources/assets/gtceu/lang/ru_ru.json
Labels: type: translation

#3031 Refactor ItemMaterialData and fix addon recipes load order
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/ChemicalHelper.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/ItemMaterialData.java
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/stack/ItemMaterialInfo.java
  src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/VanillaRecipeHelper.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
Labels: type: refactor, type: bugfix

#3087 Add recipes for crushing corals into calcite
  src/generated/resources/data/forge/tags/items/coral_blocks.json
  src/generated/resources/data/forge/tags/items/corals.json
  src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MachineRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/tags/ItemTagLoader.java
Labels: type: feature

#3100 Re-fix oregen because I forgor 💀
  README.md
  src/main/java/com/gregtechceu/gtceu/api/worldgen/ores/OreGenerator.java
Labels: type: bugfix

#3101 add manually runnable retroactive labeling
  .github/workflows/manage-issue-labels.yml
  .github/workflows/manual-autolabel.yml
Labels: ignore changelog

#3096 Added show charge armor support + fix bug with two charge lines in tools
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/item/IGTTool.java
  src/main/java/com/gregtechceu/gtceu/api/item/armor/ArmorLogicSuite.java
  src/main/java/com/gregtechceu/gtceu/api/item/component/ElectricStats.java
  src/main/java/com/gregtechceu/gtceu/common/item/armor/AdvancedNanoMuscleSuite.java
  src/main/java/com/gregtechceu/gtceu/common/item/armor/AdvancedQuarkTechSuite.java
  src/main/java/com/gregtechceu/gtceu/data/lang/ItemLang.java
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/uk_ua.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: feature, type: bugfix
