Repository GregTechCEu/GregTech-Modern, pull requests merged in 2025-02, with the labels that each got.

#2811 Fix spotless in GH Actions
  .github/workflows/auto-build.yml
  .github/workflows/format-java.yml
Labels: ignore changelog

#2714 Lazily construct GTRecipeWrappers in JEI recipe category
  gradle/forge.versions.toml
  src/main/java/com/gregtechceu/gtceu/integration/jei/recipe/GTRecipeJEICategory.java
Labels: Do Not Merge, type: refactor

#2802 Remove lombok val for var
  src/main/java/com/gregtechceu/gtceu/api/gui/GuiTextures.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IMaintenanceMachine.java
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IMufflerMachine.java
Labels: type: refactor

#2801 Add utils functions to the IMachineOwner interface to ease the retrie…
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/ArgonautsOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/FTBOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/IMachineOwner.java
  src/main/java/com/gregtechceu/gtceu/common/machine/owner/PlayerOwner.java
Labels: type: refactor

#2804 Replace some Bucket Item stacks with FluidContainerIngredient
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/CraftingRecipeLoader.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/MiscRecipeLoader.java
Labels: type: refactor

#2594 Allow setting material formula from builder.
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
Labels: type: feature, type: refactor

#2824 Fix `LargeBoilerMachine` explosion logic
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/steam/LargeBoilerMachine.java
Labels: type: bugfix

#2740 Add campfire extinguishing behavior to shovels
  src/main/java/com/gregtechceu/gtceu/api/item/tool/GTShovelItem.java
Labels: type: feature

#2770 Add overrides for setFluid and getFluid calls to PotionItem
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
Labels: type: bugfix

#2855 Refactor fusion reactor renderer
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/client/renderer/GTRenderTypes.java
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/FusionReactorRenderer.java
Labels: type: refactor

#2627 Add ability to ignore tag prefixes when building Material
  src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/Material.java
  src/main/java/com/gregtechceu/gtceu/common/data/GTMaterials.java
  src/main/java/com/gregtechceu/gtceu/common/data/materials/UnknownCompositionMaterials.java
Labels: type: feature

#2775 Add log-stripping recipes in the lathe
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/VanillaStandardRecipes.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
Labels: type: feature

#2839 Implement vanilla getFoodProperties() method
  src/main/java/com/gregtechceu/gtceu/api/item/ComponentItem.java
Labels: type: bugfix

#2812 Fix ME hatches crashing on server side
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/AmountSetWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/ConfigWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/slot/AEFluidConfigSlotWidget.java
  src/main/java/com/gregtechceu/gtceu/integration/ae2/gui/widget/slot/AEItemConfigSlotWidget.java
Labels: type: bugfix

#2838 Fix ME machine copy-paste tooltip
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/MachineLang.java
Labels: type: refactor

#2744 Fix map overlay caches not clearing when they should
  src/main/java/com/gregtechceu/gtceu/integration/map/ClientCacheManager.java
  src/main/java/com/gregtechceu/gtceu/integration/map/GenericMapRenderer.java
  src/main/java/com/gregtechceu/gtceu/integration/map/GroupingMapRenderer.java
  src/main/java/com/gregtechceu/gtceu/integration/map/ftbchunks/FTBChunksRenderer.java
  src/main/java/com/gregtechceu/gtceu/integration/map/journeymap/JourneymapRenderer.java
  src/main/java/com/gregtechceu/gtceu/integration/map/xaeros/XaerosRenderer.java
Labels: type: bugfix

#2820 Fix the rotor holder renderer crashing due to syncing of held item
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/RotorHolderMachineRenderer.java
Labels: type: bugfix

#2817 Fix storage cover widget icon
  src/main/java/com/gregtechceu/gtceu/api/gui/GuiTextures.java
  src/main/java/com/gregtechceu/gtceu/common/cover/StorageCover.java
Labels: type: bugfix

#2821 Fix Machine Controller Cover crashing without anything to control
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/cover/MachineControllerCover.java
  src/main/java/com/gregtechceu/gtceu/common/cover/data/ControllerMode.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
Labels: type: bugfix

#2829 Fix client crashing when failing to send keybinds to the server
  src/main/java/com/gregtechceu/gtceu/utils/input/KeyBind.java
Labels: type: bugfix

#2818 Refresh slot textures + change assembler slot texture
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/resources/assets/gtceu/textures/gui/overlay/battery_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/bender_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/brewer_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/canister_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/canister_overlay_bronze.png
  src/main/resources/assets/gtceu/textures/gui/overlay/canister_overlay_steel.png
  src/main/resources/assets/gtceu/textures/gui/overlay/circuit_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/crystal_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/cutter_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/dark_canister_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/hammer_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/hammer_overlay_bronze.png
  src/main/resources/assets/gtceu/textures/gui/overlay/hammer_overlay_steel.png
  src/main/resources/assets/gtceu/textures/gui/overlay/ingot_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/int_circuit_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/lens_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/mold_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/sawblade_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/solidifier_overlay.png
  src/main/resources/assets/gtceu/textures/gui/overlay/tool_slot_overlay.png
  src/main/resources/assets/gtceu/textures/gui/primitive/overlay_primitive_ingot.png
Labels: type: feature

#2864 Fix Log and Stripped Recipes causing NPE
  src/main/java/com/gregtechceu/gtceu/data/recipe/WoodTypeEntry.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/misc/WoodMachineRecipes.java
Labels: type: bugfix

#2869 Fix radaway dust decomposition resource duplication
  src/main/java/com/gregtechceu/gtceu/common/data/materials/HigherDegreeMaterials.java
Labels: type: bugfix

#2872 Fix meta machines being valid spawn points
  src/main/java/com/gregtechceu/gtceu/api/block/MetaMachineBlock.java
Labels: type: bugfix

#2873 Update ru_ru
  src/main/resources/assets/gtceu/lang/ru_ru.json
Labels: type: translation

#2871 Fix fusion reactor renderer logic
  src/main/java/com/gregtechceu/gtceu/client/renderer/machine/FusionReactorRenderer.java
Labels: type: bugfix

#2886 Fix harmful effects applying for a tick with QuarkTech Helmet
  src/main/java/com/gregtechceu/gtceu/common/item/armor/QuarkTechSuite.java
  src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
Labels: type: feature

#2888 Add hardRedstoneRecipe for target block
  src/main/java/com/gregtechceu/gtceu/data/recipe/configurable/RecipeAddition.java
Labels: type: refactor

#2889 Fix Charcoal Pile Igniter crash
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IMultiController.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/primitive/CharcoalPileIgniterMachine.java
Labels: type: bugfix

#2884 Fix Fisher Loot button not being persisted
  src/main/java/com/gregtechceu/gtceu/common/machine/electric/FisherMachine.java
Labels: type: bugfix

#2885 Add Day/night Recipe Condition
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeConditions.java
  src/main/java/com/gregtechceu/gtceu/common/recipe/condition/DaytimeCondition.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/java/com/gregtechceu/gtceu/data/recipe/builder/GTRecipeBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeSchema.java
Labels: type: feature

#2866 Add `ActiveBlock` builder for KJS
  docs/content/Modpacks/Other-Topics/Active-Blocks.md
  src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/block/ActiveBlockBuilder.java
  src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/block/CoilBlockBuilder.java
Labels: type: feature

#2863 Update zh_cn
  src/main/resources/assets/gtceu/lang/zh_cn.json
Labels: type: translation

#2893 Fix Research Machines not respecting Maintenance Config
  build.gradle
  src/main/java/com/gregtechceu/gtceu/common/data/machines/GTResearchMachines.java
Labels: type: bugfix

#2870 Fix Text Formatting in Maintenance GUI
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/api/machine/feature/multiblock/IMaintenanceMachine.java
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: bugfix

#2891 Fix StackOverflowError caused by infinite food recursion
  src/main/java/com/gregtechceu/gtceu/api/item/ComponentItem.java
Labels: type: bugfix

#2890 Fix Fusion Reactor Recipe Widget inconsistencies
  src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/FusionReactorMachine.java
  src/main/java/com/gregtechceu/gtceu/integration/xei/widgets/GTRecipeWidget.java
Labels: type: bugfix

#2911 Colorize Cable Tooltips
  src/generated/resources/assets/gtceu/lang/en_ud.json
  src/generated/resources/assets/gtceu/lang/en_us.json
  src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  src/main/resources/assets/gtceu/lang/ja_jp.json
  src/main/resources/assets/gtceu/lang/ru_ru.json
  src/main/resources/assets/gtceu/lang/zh_cn.json
  src/main/resources/assets/gtceu/lang/zh_tw.json
Labels: type: feature

#2903 Add Getter methods to BatteryMatchWrapper
  src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/PowerSubstationMachine.java
Labels: type: refactor
