Repository GregTechCEu/GregTech-Modern, changes with the owners that CODEOWNERS names for each.
All owners: @GregTechCEu/gregtech-1-19-devs, @GregTechCEu/admin, @DStrand1

removed random chance to spawn, veins now almost always spawn in grid Added WorldStripped as runtimeonly for quick debugging
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureEntry.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/VeinCountFilter.java
  common/src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  fabric/build.gradle
  forge/build.gradle
  settings.gradle
Owners: @GregTechCEu/gregtech-1-19-devs, @DStrand1

added TOP tool type integration
  common/src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/GregTechMixinPlugin.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/top/ConfigMixin.java
  common/src/main/resources/gtceu-common.mixins.json
Owners: @GregTechCEu/gregtech-1-19-devs

made FluidTypes be accessible from KJS, other stuff:tm:
  common/src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  common/src/main/java/com/gregtechceu/gtceu/integration/jade/GTJadePlugin.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  fabric/build.gradle
Owners: @GregTechCEu/gregtech-1-19-devs, @DStrand1

KJS registry modification event
  common/src/main/java/com/gregtechceu/gtceu/api/data/chemical/Element.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/info/MaterialIconType.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/WorldGenLayers.java
  common/src/main/java/com/gregtechceu/gtceu/api/registry/GTRegistries.java
  common/src/main/java/com/gregtechceu/gtceu/api/registry/GTRegistry.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTElements.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTMaterials.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GTCEuStartupEvents.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GTRegistryObjectBuilderTypes.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/events/GTModificationEventJS.java
Owners: @GregTechCEu/gregtech-1-19-devs

copy item tags to blocks, fix jade tools
  common/src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  common/src/main/java/com/gregtechceu/gtceu/core/MixinHelpers.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GTCEuStartupEvents.java
Owners: @GregTechCEu/gregtech-1-19-devs

remove GTModificationEventJS in favor of modifying GT stuff in StartupEvents.postInit()
  common/src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/info/MaterialIconType.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/WorldGenLayers.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTElements.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTMaterials.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  common/src/main/java/com/gregtechceu/gtceu/integration/jade/GTJadePlugin.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GTRegistryObjectBuilderTypes.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/events/GTModificationEventJS.java
Owners: @GregTechCEu/gregtech-1-19-devs

the JSON veins did, in fact, not work. working on fixing it now
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTLayerPattern.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeature.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureEntry.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/BiomeFilter.java
  common/src/main/java/com/gregtechceu/gtceu/api/registry/GTRegistry.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
  common/src/main/java/com/gregtechceu/gtceu/data/loader/OreDataLoader.java
  fabric/src/main/java/com/gregtechceu/gtceu/data/loader/fabric/OreDataLoaderImpl.java
Owners: @GregTechCEu/gregtech-1-19-devs

damn i was passing the wrong kind of DynamicOps to the deserializer
  common/src/main/java/com/gregtechceu/gtceu/data/loader/OreDataLoader.java
Owners: @GregTechCEu/gregtech-1-19-devs

ore veins should now accept any correctly tagged ore from any mod
  common/src/main/java/com/gregtechceu/gtceu/api/data/chemical/ChemicalHelper.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeature.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
  common/src/main/java/com/gregtechceu/gtceu/data/recipe/generated/OreRecipeHandler.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/prefix/OreTagPrefixBuilder.java
  fabric/src/generated/resources/assets/gtceu/lang/en_ud.json
  fabric/src/generated/resources/assets/gtceu/lang/en_us.json
  forge/src/generated/resources/assets/gtceu/lang/en_ud.json
  forge/src/generated/resources/assets/gtceu/lang/en_us.json
Owners: @GregTechCEu/gregtech-1-19-devs

fixed fluid names being hardcoded
  common/src/main/java/com/gregtechceu/gtceu/api/registry/registrate/GTRegistrate.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTFluids.java
  common/src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  fabric/src/generated/resources/assets/gtceu/lang/en_ud.json
  fabric/src/generated/resources/assets/gtceu/lang/en_us.json
  fabric/src/main/java/com/gregtechceu/gtceu/api/item/fabric/GTBucketItem.java
  fabric/src/main/java/com/gregtechceu/gtceu/api/registry/registrate/fabric/GTFluidBuilder.java
  fabric/src/main/java/com/gregtechceu/gtceu/api/registry/registrate/fabric/GTRegistrateImpl.java
  forge/src/generated/resources/assets/gtceu/lang/en_ud.json
  forge/src/generated/resources/assets/gtceu/lang/en_us.json
  forge/src/main/java/com/gregtechceu/gtceu/api/item/forge/GTBucketItem.java
  forge/src/main/java/com/gregtechceu/gtceu/api/registry/registrate/forge/GTFluidBuilder.java
  forge/src/main/java/com/gregtechceu/gtceu/api/registry/registrate/forge/GTRegistrateImpl.java
Owners: @GregTechCEu/gregtech-1-19-devs

added "base" tags to all tagprefixes
  common/src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
Owners: @GregTechCEu/gregtech-1-19-devs

make ores copy parent's propertiee
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
Owners: @GregTechCEu/gregtech-1-19-devs

Damn forgot a get call
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
Owners: @GregTechCEu/gregtech-1-19-devs

Why am i doing this
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
Owners: @GregTechCEu/gregtech-1-19-devs

Update ldlib dep
  settings.gradle
Owners: @DStrand1

Update RecipeTypeUIProject.java
  common/src/main/java/com/gregtechceu/gtceu/api/gui/editor/RecipeTypeUIProject.java
Owners: @GregTechCEu/gregtech-1-19-devs

Update RecipeTypeTab.java
  common/src/main/java/com/gregtechceu/gtceu/api/gui/editor/RecipeTypeTab.java
Owners: @GregTechCEu/gregtech-1-19-devs

Fixes for Fixes (#94)
  common/src/main/java/com/gregtechceu/gtceu/api/gui/editor/RecipeTypeTab.java
  common/src/main/java/com/gregtechceu/gtceu/api/gui/editor/RecipeTypeUIProject.java
Owners: @GregTechCEu/gregtech-1-19-devs

bump up ldlib
  settings.gradle
Owners: @DStrand1

CODEOWNERS:

# All other changes require the primary team
* @GregTechCEu/gregtech-1-19-devs

# GitHub Actions changes require admin approval
/.github/** @GregTechCEu/admin

# Specific files requiring admin approval
CHANGELOG.md @GregTechCEu/admin
CHANGELOG-GTCEU.md @GregTechCEu/admin
CODEOWNERS @GregTechCEu/admin
CODESTYLE.md @GregTechCEu/admin
LICENSE @GregTechCEu/admin
README.md @GregTechCEu/admin
permission*.png @GregTechCEu/admin

# Gradle changes require specific reviewers
**gradle** @DStrand1
