Repository GregTechCEu/GregTech-Modern, changes with the owners that CODEOWNERS names for each.
All owners: @GregTechCEu/gregtech-1-19-devs, @GregTechCEu/admin, @DStrand1

addon loading system (#62)
  common/src/main/java/com/gregtechceu/gtceu/GTCEu.java
  common/src/main/java/com/gregtechceu/gtceu/api/addon/AddonFinder.java
  common/src/main/java/com/gregtechceu/gtceu/api/addon/GTAddon.java
  common/src/main/java/com/gregtechceu/gtceu/api/addon/IGTAddon.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTCovers.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTElements.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTMaterials.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTSoundEntries.java
  fabric/src/main/java/com/gregtechceu/gtceu/api/addon/fabric/AddonFinderImpl.java
  forge/src/main/java/com/gregtechceu/gtceu/api/addon/forge/AddonFinderImpl.java
Owners: @GregTechCEu/gregtech-1-19-devs

fixed elements not registering
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/ElementBuilder.java
Owners: @GregTechCEu/gregtech-1-19-devs

added custom coil registration (not finished)
  build.gradle
  common/src/main/java/com/gregtechceu/gtceu/api/block/ICoilType.java
  common/src/main/java/com/gregtechceu/gtceu/api/pattern/Predicates.java
  common/src/main/java/com/gregtechceu/gtceu/common/block/CoilBlock.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  common/src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/CrackerMachine.java
  common/src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/ElectricBlastFurnaceMachine.java
  common/src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/electric/PyrolyseOvenMachine.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/block/KJSCoilType.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/CoilBlockBuilder.java
Owners: @DStrand1, @GregTechCEu/gregtech-1-19-devs

Update MaterialIconType.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/info/MaterialIconType.java
Owners: @GregTechCEu/gregtech-1-19-devs

Updated Programmed Circuit GUI and Functionality (#71)
  .github/workflows/auto-build.yml
  common/src/main/java/com/gregtechceu/gtceu/common/item/IntCircuitBehaviour.java
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/1.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/10.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/11.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/12.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/13.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/14.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/15.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/16.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/17.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/18.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/19.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/2.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/20.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/21.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/22.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/23.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/24.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/25.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/26.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/27.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/28.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/29.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/3.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/30.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/31.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/32.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/33.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/4.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/5.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/6.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/7.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/8.png
  common/src/main/resources/assets/gtceu/textures/gui/widget/circuit/9.png
Owners: @GregTechCEu/admin, @GregTechCEu/gregtech-1-19-devs

fix fabric resource detector
  common/src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/info/MaterialIconType.java
Owners: @GregTechCEu/gregtech-1-19-devs

fix fabric Transaction
  common/src/main/java/com/gregtechceu/gtceu/api/cover/filter/SimpleFluidFilter.java
  common/src/main/java/com/gregtechceu/gtceu/api/cover/filter/SimpleItemFilter.java
  common/src/main/java/com/gregtechceu/gtceu/api/machine/MetaMachine.java
  common/src/main/java/com/gregtechceu/gtceu/api/machine/SimpleTieredMachine.java
  common/src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableFluidTank.java
  common/src/main/java/com/gregtechceu/gtceu/api/machine/trait/NotifiableItemStackHandler.java
  common/src/main/java/com/gregtechceu/gtceu/api/misc/IOFluidTransferList.java
  common/src/main/java/com/gregtechceu/gtceu/api/misc/IOItemTransferList.java
  common/src/main/java/com/gregtechceu/gtceu/common/cover/ConveyorCover.java
  common/src/main/java/com/gregtechceu/gtceu/common/cover/PumpCover.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTRecipeTypes.java
  common/src/main/java/com/gregtechceu/gtceu/common/item/IntCircuitBehaviour.java
  common/src/main/java/com/gregtechceu/gtceu/common/item/ItemFluidContainer.java
  common/src/main/java/com/gregtechceu/gtceu/common/machine/electric/BatteryBufferMachine.java
  common/src/main/java/com/gregtechceu/gtceu/common/machine/electric/PumpMachine.java
  common/src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/CokeOvenHatch.java
  common/src/main/java/com/gregtechceu/gtceu/common/machine/multiblock/part/MufflerPartMachine.java
  common/src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumChestMachine.java
  common/src/main/java/com/gregtechceu/gtceu/common/machine/storage/QuantumTankMachine.java
  common/src/main/java/com/gregtechceu/gtceu/integration/GTRecipeWidget.java
  settings.gradle
Owners: @GregTechCEu/gregtech-1-19-devs, @DStrand1

fix quantum storage model
  common/src/main/java/com/gregtechceu/gtceu/client/renderer/machine/QuantumChestRenderer.java
  common/src/main/java/com/gregtechceu/gtceu/client/renderer/machine/QuantumTankRenderer.java
Owners: @GregTechCEu/gregtech-1-19-devs

fix steam boiler output
  common/src/main/java/com/gregtechceu/gtceu/api/machine/steam/SteamBoilerMachine.java
Owners: @GregTechCEu/gregtech-1-19-devs

fix pump model
  common/src/main/java/com/gregtechceu/gtceu/client/renderer/machine/PumpHatchPartRenderer.java
  common/src/main/java/com/gregtechceu/gtceu/client/renderer/machine/QuantumChestRenderer.java
  common/src/main/java/com/gregtechceu/gtceu/client/renderer/machine/QuantumTankRenderer.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTMachines.java
  common/src/main/resources/assets/gtceu/models/block/machine/part/pump_hatch.json
Owners: @GregTechCEu/gregtech-1-19-devs

added LDLib maven back
  build.gradle
  common/build.gradle
  fabric/build.gradle
Owners: @DStrand1

tried to make ore blobs generate in a square (it did not work, but better)
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureEntry.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
Owners: @GregTechCEu/gregtech-1-19-devs

we now don't make blocks for ignored ores
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
Owners: @GregTechCEu/gregtech-1-19-devs

FIXED OREGEN, added ability to register custom veins
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTLayerOreFeature.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTLayerOreFeatureConfiguration.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeature.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureConfiguration.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureEntry.java
  common/src/main/java/com/gregtechceu/gtceu/api/registry/GTRegistries.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTFeatures.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/PlacedFeatureMixin.java
  common/src/main/java/com/gregtechceu/gtceu/data/loader/OreDataLoader.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeBuilderJS.java
  common/src/main/resources/gtceu-common.mixins.json
  common/src/main/resources/gtceu.accesswidener
  fabric/src/main/java/com/gregtechceu/gtceu/common/data/fabric/GTFeaturesImpl.java
  fabric/src/main/java/com/gregtechceu/gtceu/data/loader/fabric/OreDataLoaderImpl.java
  fabric/src/main/java/com/gregtechceu/gtceu/fabric/GTCEuFabric.java
  forge/src/main/java/com/gregtechceu/gtceu/api/registry/forge/GTRegistriesImpl.java
  forge/src/main/java/com/gregtechceu/gtceu/common/data/forge/GTFeaturesImpl.java
  forge/src/main/java/com/gregtechceu/gtceu/data/loader/forge/OreDataLoaderImpl.java
  forge/src/main/java/com/gregtechceu/gtceu/forge/ForgeCommonEventListener.java
Owners: @GregTechCEu/gregtech-1-19-devs

added virtual data pack, we might need it
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/PackConfigMixin.java
  common/src/main/java/com/gregtechceu/gtceu/data/loader/VirtualGtceuDataPack.java
Owners: @GregTechCEu/gregtech-1-19-devs

ore stuffz (made ores gen ever nicer, added density
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeature.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureConfiguration.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureEntry.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
  common/src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
  common/src/main/java/com/gregtechceu/gtceu/data/loader/OreDataLoader.java
Owners: @GregTechCEu/gregtech-1-19-devs

worldgen testing
  build.gradle
  common/src/main/java/com/gregtechceu/gtceu/api/GTValues.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/BiomeWeightModifier.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeature.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureConfiguration.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureEntry.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/BiomeFilter.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/DimensionFilter.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/FrequencyModifier.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/WorldGeneratorUtils.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTFeatures.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/PlacedFeatureMixin.java
  common/src/main/java/com/gregtechceu/gtceu/data/loader/OreDataLoader.java
  common/src/main/java/com/gregtechceu/gtceu/utils/GTUtil.java
Owners: @DStrand1, @GregTechCEu/gregtech-1-19-devs

worldgen layers? possibly untested lul
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeature.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureEntry.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/WorldGenLayer.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/BiomeFilter.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/DimensionFilter.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/FrequencyModifier.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/VeinCountFilter.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTFeatures.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
Owners: @GregTechCEu/gregtech-1-19-devs

WORLDGEN WORKS <:LLEETTSS:986689650854854706>
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureEntry.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/IWorldGenLayer.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/WorldGenLayers.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/BiomeFilter.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/VeinCountFilter.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/WorldGeneratorUtils.java
  common/src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/PlacedFeatureMixin.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GTRegistryObjectBuilderTypes.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/CoilBlockBuilder.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/WorldGenLayerBuilder.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/built/KJSCoilType.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/built/KJSWorldGenLayer.java
Owners: @GregTechCEu/gregtech-1-19-devs

added kjs loaded check to custom wg layers, made veins 2x rarer, separated out PlacedFeatureMixin#gtceu$redirectGetPlacementPositions's injector annotation
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureEntry.java
  common/src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/PlacedFeatureMixin.java
Owners: @GregTechCEu/gregtech-1-19-devs

lang fixes
  common/src/main/java/com/gregtechceu/gtceu/api/item/component/ElectricStats.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  fabric/src/generated/resources/assets/gtceu/lang/en_ud.json
  fabric/src/generated/resources/assets/gtceu/lang/en_us.json
  forge/src/generated/resources/assets/gtceu/lang/en_ud.json
  forge/src/generated/resources/assets/gtceu/lang/en_us.json
Owners: @GregTechCEu/gregtech-1-19-devs

made material block (& ore) tool tags be injected so the user doesn't have to add the tags this should also lower file size
  common/src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/tag/TagType.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/TagLoaderMixin.java
  fabric/src/generated/resources/data/c/tags/blocks/mineable/wire_cutter.json
  fabric/src/generated/resources/data/c/tags/blocks/mineable/wrench.json
  fabric/src/generated/resources/data/minecraft/tags/blocks/mineable/axe.json
  fabric/src/generated/resources/data/minecraft/tags/blocks/mineable/pickaxe.json
  forge/src/generated/resources/data/forge/tags/blocks/mineable/wire_cutter.json
  forge/src/generated/resources/data/forge/tags/blocks/mineable/wrench.json
  forge/src/generated/resources/data/minecraft/tags/blocks/mineable/axe.json
  forge/src/generated/resources/data/minecraft/tags/blocks/mineable/pickaxe.json
Owners: @GregTechCEu/gregtech-1-19-devs

ope, crash
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/TagLoaderMixin.java
Owners: @GregTechCEu/gregtech-1-19-devs

...I didn't invert the check. Also contains some other fixes :)
  common/src/main/java/com/gregtechceu/gtceu/api/data/tag/TagUtil.java
  common/src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  common/src/main/java/com/gregtechceu/gtceu/core/MixinHelpers.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/BlockBehaviourAccessor.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/LootTablesMixin.java
  common/src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  common/src/main/resources/gtceu-common.mixins.json
  fabric/build.gradle
  fabric/src/main/java/com/gregtechceu/gtceu/common/fabric/CommonProxyImpl.java
  forge/src/main/java/com/gregtechceu/gtceu/common/forge/CommonProxyImpl.java
Owners: @GregTechCEu/gregtech-1-19-devs, @DStrand1

fabric works now again
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/PlacedFeatureMixin.java
Owners: @GregTechCEu/gregtech-1-19-devs

added vanilla tool types, tool tiers
  common/src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  common/src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  fabric/src/generated/resources/assets/gtceu/lang/en_ud.json
  fabric/src/generated/resources/assets/gtceu/lang/en_us.json
  fabric/src/main/java/com/gregtechceu/gtceu/common/data/fabric/GTItemsImpl.java
  forge/src/generated/resources/assets/gtceu/lang/en_ud.json
  forge/src/generated/resources/assets/gtceu/lang/en_us.json
  forge/src/main/java/com/gregtechceu/gtceu/common/data/forge/GTItemsImpl.java
Owners: @GregTechCEu/gregtech-1-19-devs

fixed material fluid textures (holy shit that was bad)
  common/src/main/java/com/gregtechceu/gtceu/api/registry/registrate/IGTFluidBuilder.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTFluids.java
  common/src/main/java/com/gregtechceu/gtceu/core/MixinHelpers.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/ModelBakeryMixin.java
  common/src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  fabric/src/main/java/com/gregtechceu/gtceu/common/data/fabric/GTFluidsImpl.java
  fabric/src/main/java/com/gregtechceu/gtceu/core/fabric/MixinHelpersImpl.java
  forge/src/main/java/com/gregtechceu/gtceu/api/registry/registrate/forge/GTClientFluidTypeExtensions.java
  forge/src/main/java/com/gregtechceu/gtceu/api/registry/registrate/forge/GTFluidBuilder.java
  forge/src/main/java/com/gregtechceu/gtceu/common/data/forge/GTFluidsImpl.java
  forge/src/main/java/com/gregtechceu/gtceu/core/forge/MixinHelpersImpl.java
Owners: @GregTechCEu/gregtech-1-19-devs

WHY WONMNT THE TOOL TIERS JUST FUICKING WORKS
  common/src/main/java/com/gregtechceu/gtceu/api/data/chemical/material/properties/ToolProperty.java
  common/src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTItems.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/LootTablesMixin.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/TagLoaderMixin.java
Owners: @GregTechCEu/gregtech-1-19-devs

TOOLS WORK
  common/src/main/java/com/gregtechceu/gtceu/api/data/chemical/ChemicalHelper.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  common/src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTBlocks.java
  common/src/main/java/com/gregtechceu/gtceu/core/mixins/TagLoaderMixin.java
Owners: @GregTechCEu/gregtech-1-19-devs

sand ores now fall if config lmao
  common/src/main/java/com/gregtechceu/gtceu/api/block/MaterialBlock.java
  common/src/main/java/com/gregtechceu/gtceu/config/ConfigHolder.java
Owners: @GregTechCEu/gregtech-1-19-devs

- made ore veins able to have either `material` or `blockstate` keys - made it possible to register more vein generators - renamed `DatagenExtension`s to `VeinGenerator`s
  common/src/main/java/com/gregtechceu/gtceu/api/addon/IGTAddon.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/chemical/ChemicalHelper.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTLayerPattern.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeature.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureEntry.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/SimpleWorldGenLayer.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/VeinGenerators.java
  common/src/main/java/com/gregtechceu/gtceu/api/registry/GTRegistry.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/WorldGenLayerBuilder.java
Owners: @GregTechCEu/gregtech-1-19-devs

- moved ore data jsons to be loaded from /gtceu/ore_veins to not clash with **any** ore vein mods by accident - renamed & moved KJSCoilType to SimpleCoilType - some refactors - new addon methods
  common/src/main/java/com/gregtechceu/gtceu/api/block/SimpleCoilType.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureEntry.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/VeinGenerators.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/WorldGenLayers.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/BiomeFilter.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/WorldGeneratorUtils.java
  common/src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  common/src/main/java/com/gregtechceu/gtceu/data/loader/OreDataLoader.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GTRegistryObjectBuilderTypes.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/CoilBlockBuilder.java
Owners: @GregTechCEu/gregtech-1-19-devs

moved addon vein generator registration to VeinGenerators
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/VeinGenerators.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
Owners: @GregTechCEu/gregtech-1-19-devs

also inject loot tables for machines Part 2: Electric Boogaloo: Datagen edition
  common/src/main/java/com/gregtechceu/gtceu/core/MixinHelpers.java
  fabric/src/generated/resources/assets/gtceu/lang/en_ud.json
  fabric/src/generated/resources/assets/gtceu/lang/en_us.json
  fabric/src/generated/resources/data/fabric/tags/blocks/mineable/wrench.json
  forge/src/generated/resources/assets/gtceu/lang/en_ud.json
  forge/src/generated/resources/assets/gtceu/lang/en_us.json
  forge/src/generated/resources/data/forge/tags/blocks/mineable/wrench.json
Owners: @GregTechCEu/gregtech-1-19-devs

tweaked some last settings, changed method names to better reflect new stuff
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/GTOreFeatureEntry.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
Owners: @GregTechCEu/gregtech-1-19-devs

added (untested) tag prefix builders
  common/src/main/java/com/gregtechceu/gtceu/api/addon/IGTAddon.java
  common/src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  common/src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GTRegistryObjectBuilderTypes.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/WorldGenLayerBuilder.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/prefix/BasicTagPrefixBuilder.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/prefix/OreTagPrefixBuilder.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/prefix/TagPrefixBuilder.java
Owners: @GregTechCEu/gregtech-1-19-devs

move ore type registration to correct place
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/prefix/OreTagPrefixBuilder.java
Owners: @GregTechCEu/gregtech-1-19-devs

Fixed tag prefix builders, added material icon type builder
  common/src/main/java/com/gregtechceu/gtceu/api/data/tag/TagPrefix.java
  common/src/main/java/com/gregtechceu/gtceu/common/CommonProxy.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GTCEuStartupEvents.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GTRegistryObjectBuilderTypes.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/GregTechKubeJSPlugin.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/MaterialIconTypeBuilder.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/prefix/BasicTagPrefixBuilder.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/prefix/OreTagPrefixBuilder.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/builders/prefix/TagPrefixBuilder.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/built/KJSTagPrefix.java
  gradle.properties
Owners: @GregTechCEu/gregtech-1-19-devs, @DStrand1

rudimentary work for colored tools
  common/src/main/java/com/gregtechceu/gtceu/api/item/GTToolItem.java
  common/src/main/java/com/gregtechceu/gtceu/api/item/tool/GTToolType.java
  common/src/main/java/com/gregtechceu/gtceu/data/lang/LangHandler.java
  common/src/main/java/com/gregtechceu/gtceu/data/lang/ToolLang.java
  common/src/main/java/com/gregtechceu/gtceu/data/recipe/CustomTags.java
  common/src/main/java/com/gregtechceu/gtceu/data/recipe/generated/ToolRecipeHandler.java
  fabric/src/generated/resources/assets/gtceu/lang/en_ud.json
  fabric/src/generated/resources/assets/gtceu/lang/en_us.json
  forge/src/generated/resources/assets/gtceu/lang/en_ud.json
  forge/src/generated/resources/assets/gtceu/lang/en_us.json
Owners: @GregTechCEu/gregtech-1-19-devs

tweaked vein sizes, rarities
  common/src/main/java/com/gregtechceu/gtceu/api/data/worldgen/generator/VeinCountFilter.java
  common/src/main/java/com/gregtechceu/gtceu/common/data/GTOres.java
  common/src/main/java/com/gregtechceu/gtceu/integration/kjs/recipe/GTRecipeBuilderJS.java
Owners: @GregTechCEu/gregtech-1-19-devs

CODEOWNERS:

# All other changes require the primary team
* @GregTechCEu/gregtech-1-19-devs

# GitHub Actions changes require admin approval
/.github/** @GregTechCEu/admin

# Specific files requiring admin approval
CHANGELOG.md @GregTechCEu/admin
CHANGELOG-GTCEU.md @GregTechCEu/admin
CODEOWNERS @GregTechCEu/admin
CODESTYLE.md @GregTechCEu/admin
LICENSE @GregTechCEu/admin
README.md @GregTechCEu/admin
permission*.png @GregTechCEu/admin

# Gradle changes require specific reviewers
**gradle** @DStrand1
